.advantages {
    background: linear-gradient(259.83deg, #4DA567 0%, #2A408B 100%);
    @include sectionSpaces;

    &__item {
        background-color: #fff;
        padding: 24px;
        display: flex;
        gap: 12px;
        
        @include breakpoint(xl) {
            flex-direction: column;
            gap: 24px;
        }

        &__key {
            @include key;
        }

        &__title {
            color: #000;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            text-align: left;
            margin-bottom: 12px;

            @include breakpoint(lg) {
                font-size: 32px;
                line-height: 40px;
            }
            
            @include breakpoint(xl) {
                text-align: center;
                margin-bottom: 24px;
            }
        }

        &__points {
            padding-bottom: 16px;
            border-bottom: 1px solid #000;
            margin-bottom: 12px;

            @include breakpoint(xl) {
                padding-bottom: 40px;
                margin-bottom: 24px;
            }

            li {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;

                @include breakpoint(xl) {
                    font-size: 20px;
                    line-height: 24px;
                    @include enter-point;
                }

                &:not(:last-of-type) {
                    margin-bottom: 8px;
                }
            }

            & + a {
                @include link;
            }
        }
    }
}