/* ОСНОВНЫЕ */
*{
    user-select: none;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
}

.page._content {
    padding: 0;
}

.container {
    max-width: 1720px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.btn-main {
    display: block;
    padding: 15px 40px;
    border: none;
    outline: none;
    background-color: var(--button-blue);
    color: var(--white);
    width: fit-content;
}

.btn-border{   
    display: inline-block;
    padding: 24px;
    border: 1px solid var(--button-blue);
    outline: none;
    background-color: var(--white);
    color: var(--button-blue);
    width: fit-content;
    font-size: 24px;
    line-height: 32.69px;
}

.btn-border:hover{
    border: 1px solid var(--button-blue);
    background-color: var(--button-blue);
    color: var(--white);
}

.btn-main span {
    color: var(--white);
}

.btn-main.size-l {
    padding: 32px 40px;
}

body {
    min-width: 100% !important;
}

@media (max-width: 1180px) {
    .container {
        padding: 0 16px;
    }
}


/* ШАПКА */

#header-sticky-wrapper {
    height: fit-content !important;
}

#header {
    padding: 12px 40px;
    border-color: #B2B2B2;
}

#header .header-container {
    display: flex;
    align-items: center;
}

#header .header-container .logo-block {
    max-width: 140px;
}

#header .header-container .logo-block svg,
#header .header-container .logo-block img {
    max-width: 100%;
}

#header .header-container .search-header-block {
    margin-left: 32px;
    margin-right: auto;
}

#header .header-container .search-header-block > form {
    display: flex;
    align-items: center;
    max-width: 150px;
}

#header .header-container .search-header-block > form button {
    background: transparent;
    border: none;
    outline: none;
    max-width: 24px;
    min-width: 24px;
    max-height: 24px;
    min-height: 24px;
    padding: 0;
    margin-right: 12px;
    cursor: pointer;
}

#header .header-container .search-header-block > form #search-text {
    padding: 0;
    border: none;
    height: 40px;
    color: var(--black);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
    opacity: 1;
}

#header .header-container .search-header-block > form #search-text::placeholder {
    opacity: 1;
}

#header .header-container .search-header-block > form #search-text:focus::placeholder {
    opacity: 0.5;
}

.top-page-banner {
    padding: 60px 0 100px;
    background-color: var(--light-gray);
}

.top-page-banner .container {
    display: flex;
    gap: 56px;
    align-items: center;
    justify-content: space-between;
}

.top-page-banner .container .banner-content {
    max-width: 1060px;
    width: 100%;
}

.top-page-banner .container .banner-content h1 {
    color: var(--black);
    font-size: 80px;
    line-height: 92px;
    font-weight: 400;
    margin: 0;
}

.top-page-banner .container .banner-content p{
    margin: 56px 0 0 0;
    font-size: 32px;
    line-height: 44px;
}

.top-page-banner .container .buttons-block-banner {
    white-space: nowrap;
}

.text-page-block.container {
    max-width: 1920px;
    padding-left: 56px;
    padding-right: 56px;
}

.text-page-block {
    display: flex;
    gap: 24px;
    align-items: start;
    padding-top: 120px;
    padding-bottom: 120px;
}

.text-page-block .main-text-content {
    width: 100%;
}

.text-page-block .main-text-content h2 {
    color: var(--black);
    font-size: 56px;
    line-height: 72px;
    font-weight: 400;
    margin: 0 0 56px 0;
}

.main-text-content div,
.main-text-content p,
.main-text-content a {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0;
    display: block;
}

.main-text-content a {
    color: var(--button-blue);
}

.main-text-content a:hover {
    text-decoration: underline;
}

.main-text-content b {
    font-weight: 700;
}

.main-text-content .map-block,
.main-text-content .map-block iframe {
    max-width: 100%
}

.main-text-content h3 {
    font-size: 42px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 32px;
}

.main-text-content h4 {
    font-size: 34px;
    line-height: 52px;
    font-weight: 500;
    margin-bottom: 16px;
}

.main-text-content .quote-block {
    display: flex;
    align-items: start;
    gap: 56px;
    margin-top: 56px;
}

.main-text-content .quote-block .icon {
    max-width: 64px;
    width: 100%;
}

.main-text-content .quote-block .icon svg {
    max-width: 100%;
}

.main-text-content .quote-block .text p:first-child {
    font-style: italic;
    color: var(--black);
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 10px;
}

.main-text-content .quote-block .text p:last-child {
    font-style: italic;
    color: var(--black);
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

.main-text-content .custom-table-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.main-text-content .custom-table-block .custom-table_head {
    margin-bottom: 2px;
}

.main-text-content .custom-table-block .custom-table_head .custom-table_head-block {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2px;
}

.main-text-content .custom-table-block .custom-table_head .custom-table_head-block .custom-table_head-item {
    background-color: var(--gray);
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-text-content .custom-table-block .custom-table_head .custom-table_head-block .custom-table_head-item h5 {
    color: var(--black);
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    margin: 0;
}

.main-text-content .custom-table-block.table1 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(1) {
    max-width: 80px;
    width: 100%;
}

.main-text-content .custom-table-block.table1 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(2),
.main-text-content .custom-table-block.table1 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(3),
.main-text-content .custom-table-block.table1 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(4) {
    max-width: 138px;
    width: 100%;
    text-align: right;
    justify-content: end;
}

.main-text-content .custom-table-block.table1 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(3),
.main-text-content .custom-table-block.table1 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(4) {
    margin-left: -2px;
}

.main-text-content .custom-table-block.table1 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(5),
.main-text-content .custom-table-block.table1 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(6) {
    max-width: 418px;
    width: 100%;
    text-align: left;
    justify-content: start;
}

.main-text-content .custom-table-block .custom-table_content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.main-text-content .custom-table-block .custom-table_content .custom-table_content-block {
    display: flex;
    align-items: start;
    gap: 2px;
    border-bottom: 1px solid #B2B2B2;
}

.main-text-content .custom-table-block .custom-table_content .custom-table_content-block .custom-table_content-item {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-text-content .custom-table-block.table1 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(1) {
    max-width: 80px;
    width: 100%;
}

.main-text-content .custom-table-block.table1 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(2),
.main-text-content .custom-table-block.table1 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(3),
.main-text-content .custom-table-block.table1 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(4) {
    max-width: 138px;
    width: 100%;
    text-align: right;
    justify-content: end;
}

.main-text-content .custom-table-block.table1 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(5),
.main-text-content .custom-table-block.table1 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(6) {
    max-width: 418px;
    width: 100%;
    text-align: left;
    justify-content: start;
}

.main-text-content .custom-table-block.table2  .custom-table_content .custom-table_content-block {
    align-items: stretch;
    border-bottom: none;
}

.main-text-content .custom-table-block.table2 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(1),
.main-text-content .custom-table-block.table2 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(1) {
    max-width: 248px;
    width: 100%;
    text-align: left;
    justify-content: start;
    align-items: start;
}

.main-text-content .custom-table-block.table2 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(2),
.main-text-content .custom-table-block.table2 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(2) {
    margin-left: -2px;
}

.main-text-content .custom-table-block.table2 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(2),
.main-text-content .custom-table-block.table2 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(3),
.main-text-content .custom-table-block.table2 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(2),
.main-text-content .custom-table-block.table2 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(3) {
    max-width: 426px;
    width: 100%;
    text-align: left;
    justify-content: start;
    align-items: start;
}

.main-text-content .custom-table-block.table2 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(4),
.main-text-content .custom-table-block.table2 .custom-table_head .custom-table_head-block .custom-table_head-item:nth-child(4) {
    max-width: 236px;
    width: 100%;
    text-align: left;
    justify-content: start;
    align-items: start;
}

.main-text-content .custom-table-block.table2 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(4),
.main-text-content .custom-table-block.table2 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(2),
.main-text-content .custom-table-block.table2 .custom-table_content .custom-table_content-block .custom-table_content-item:nth-child(3),
.main-text-content .custom-table-block.table2 .custom-table_content .custom-table_content-block:nth-child(4) .custom-table_content-item:nth-child(1) {
    border-bottom: 1px solid #B2B2B2;
    margin-right: -2px;
}

.main-text-content .custom-table-block_mobile {
    display: none;
}

.main-text-content .text-with-icon {
    display: flex;
    align-items: start;
    gap: 16px;
    margin-bottom: 32px;
}

.main-text-content .text-with-icon svg {
    min-width: 32px;
    max-width: 32px;
}

.main-text-content .text-with-icon a {
    display: inline-block;
}

.main-text-content .custom-ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 56px;
}

.main-text-content .custom-ul li {
    display: flex;
    align-items: start;
    gap: 12px;
}

.main-text-content .custom-ul li::marker {
    display: none
}

.main-text-content .custom-ul li::before {
    content: '';
    display: block;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    background-image: url("/images/cutsom_ul_marker.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1360px) {
    #header .header-container .search-header-block {
        margin-left: 16px;
    }
}

@media (max-width: 1280px) {
    .text-page-block.container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .main-text-content .custom-table-block {
        display: none;
    }

    .main-text-content .custom-table-block_mobile {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 24px;
    }

    .main-text-content .custom-table-block_mobile .custom-table_mobile-content {
        display: flex;
        flex-direction: column;
        gap: 2px;
        border-bottom: 1px solid #B2B2B2;
    }

    .main-text-content .custom-table-block_mobile .custom-table_mobile-content .custom-table_mobile-item {
        display: flex;
        align-items: stretch;
    }

    .main-text-content .custom-table-block_mobile .custom-table_mobile-content .custom-table_mobile-item p {
        padding: 8px 12px;
    }

    .main-text-content .custom-table-block_mobile .custom-table_mobile-content .custom-table_mobile-item p:first-child {
        max-width: 140px;
        width: 100%;
        background-color: var(--gray);
        display: flex;
        align-items: center;
    }

    .main-text-content .custom-table-block_mobile .custom-table_mobile-content .custom-table_mobile-item p:last-child {
        width: 100%;
    }

    .main-text-content .text-with-icon {
        margin-bottom: 24px;
    }
}

@media (max-width: 1180px) {
    .top-page-banner {
        padding: 16px;
    }

    #header{
        padding: 12px 16px;
    }

    .top-page-banner .container {
        flex-direction: column;
        gap: 24px;
        padding: 0;
    }

    .top-page-banner .container .banner-content h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .top-page-banner .container .banner-content {
        max-width: 100%;
    }

    .top-page-banner .container .buttons-block-banner {
        width: 100%;
    }

    .top-page-banner .container .buttons-block-banner a {
        width: 100%;
        text-align: center;
        padding: 15px 40px;
    }

    .top-page-banner .container .buttons-block-banner a span {
        font-size: 16px;
        line-height: 24px;
    }

    .text-page-block {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .text-page-block .main-text-content h2 {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 33px;
    }

    .text-page-block .left-text-menu-block {
        width: 100%;
    }

    .main-text-content div,
    .main-text-content p,
    .main-text-content a {
        font-size: 16px;
        line-height: 24px;
    }

    .main-text-content h3 {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 24px;
    }

    .main-text-content h4 {
        font-size: 18px;
        line-height: 26px;
    }

    .main-text-content .quote-block {
        gap: 16px;
    }

    .main-text-content .quote-block .icon {
        max-width: 32px;
    }

    .main-text-content .quote-block .text p:first-child {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 4px;
    }

    .main-text-content .quote-block .text p:last-child {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    .text-page-block.container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main-text-content .custom-ul {
        margin-bottom: 24px;
    }

    .top-page-banner{
        padding: 16px 16px 40px 16px;
    }

    #header{
        padding: 12px 16px;
    }
}

/* ГЛАВНАЯ СТРАНИЦА */

.top-main-page-block {
    padding-top: 72px;
    padding-bottom: 72px;
    display: grid;
    grid-template-columns: 71% 25%;
    gap: 40px;
    justify-content: space-between;
}

.top-main-page-block .left-text {
    font-size: 34px;
    line-height: 52px;
    font-weight: 500;
    color: var(--black);
}

.top-main-page-block .right-text-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.top-main-page-block .right-text-block h4 {
    color: var(--red);
    font-size: 34px;
    line-height: 52px;
    font-weight: 500;
    text-align: center;
}

.main-page-heading {
    color: var(--black);
    font-size: 80px;
    line-height: 92px;
    font-weight: 400;
    margin-bottom: 8px;
}

@media (max-width: 1180px) {
    .top-main-page-block {
        padding-top: 32px;
        padding-bottom: 32px;
        grid-template-columns: none;
        gap: 24px;
    }

    .top-main-page-block .left-text,
    .top-main-page-block .right-text-block h4 {
        font-size: 24px;
        line-height: 33px;
    }

    .top-main-page-block .right-text-block .btn-main {
        width: 100%;
        text-align: center;
    }

    .main-page-heading {
        font-size: 32px;
        line-height: 40px;
    }
}

/* ФУТЕР */

.footer {
    background: var(--black);
    padding: 100px 0 60px;
}

.footer .top-menu-block-footer {
    display: flex;
    align-items: start;
}

@media (max-width: 1180px) {
    .footer {
        display: none;
    }
}

/* Корпоративное обучение */

.text-page-block .text-block-left{
    max-width: 596px;
    width: 100%;
    margin-right: 32px;
}

.text-page-block .text-block-right{
    max-width: 1028px;
    width: 100%;
}

.text-page-block .text-block-left h2,
.text-page-block .text-block-right h2{
    font-size: 56px;
    line-height: 72px;
    margin-bottom: 32px;
    letter-spacing: -0.8px;
}
.text-page-block .text-block-left p,
.text-page-block .text-block-right p{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
}

.text-page-block .text-block-left p:last-child,
.text-page-block .text-block-right p:last-child{
    margin-bottom: 0px;
}

.text-page-block .text-block-left a,
.text-page-block .text-block-right a{
    font-size: 20px;
    line-height: 32px;
    color: #0827C4;
}

.text-page-block .text-block-right .edge-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;
}

.text-page-block .text-block-right .edge-item{
    display: flex;
    align-items: flex-start;
}

.text-page-block .text-block-right .edge-item svg{
    max-width: 72px;
    width: 100%;
    margin-right: 24px;
}

.text-page-block .text-block-right .edge-item__title{
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 16px;
}

.text-page-block.full-width .text-block-left{
    max-width: 63%;
}

.offset-block {
    background-image: url(../images/corporate/offset-img.png);
    background-repeat: no-repeat;
    background-position: 98% bottom ;
}

.offset-block .text-block-left p{
    margin: 0 0 32px 0;
}

.offset-block .text-block-left .text-red{
    color: #BF031B;
}

.offset-block .text-block-left .offset-number__wrap p,
.offset-block .text-block-left .offset-link__wrap p{
    margin-bottom: 0;
    margin-top: 0;
}

.offset-block .text-block-left .offset-number__wrap h2{
    margin-bottom: 6px;
}

.offset-block .text-block-left .offset-number__wrap,
.offset-block .text-block-left .offset-link__wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 56px;
}

.you-need-block table{
    margin-bottom: 32px;
}

.you-need-block table tr td{
    padding: 24px 0;
    font-size: 20px;
    line-height: 32px;
    width: 50%;
    padding-left: 24px;
    border-bottom: 1px solid #000000;
}

.you-need-block table tr td:first-child{
    padding-left: 0px;
    font-size: 32px;
    line-height: 44px;
}

.suitable-block ul li{
    font-size: 32px;
    line-height: 44px;
    padding-left: 68px;
    background-image: url(../images/corporate/list-check.svg);
    background-repeat: no-repeat;
    background-position: left top;
}

.suitable-block ul li + li{
    margin-top: 56px;
}

.stage-block .text-block-right h2{
    padding-bottom: 22px;
    position: relative;
    display: inline-block;
}

.stage-block .text-block-right h2:after{
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 11px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    background-color: #0827C4;
}

.stage-block ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px 32px;
}

.stage-block ul li:last-child h2:after{
    bottom: 0;
    left: auto;
    right: 0;
}

.stage-block-wrap{
    background-image: url('../images/corporate/stage_bg.png');
    background-repeat: no-repeat;
    background-position: center 207px;
}

.blue-page-block{
    background-color: #0827C4;
}

.blue-page-block p,
.blue-page-block h2, 
.blue-page-block li{
    color: #FFFFFF;
}

.grey-page-block{
    background-color: #F8F7F7;
}

.text-page-block.telegram-block{
    padding-top: 56px;
}

.bottom-telegram-block{
    display: flex;
    align-items: flex-start;
}

.bottom-telegram-block p{
    font-size: 32px;
    line-height: 44px;
    text-align: left;
    margin: 0 24px 0 32px;
}

.bottom-telegram-block svg{
    max-width: 89px;
    width: 100%;
}

.cookie-notice {
    padding: 29px 0 !important;
}

.cookie-notice .container {
    display: flex;
    align-items: center;
    gap: 56px;
}

.cookie-notice .container p {
    margin: 0;
    font-size: 16px;
    color: var(--white);
    font-family: 'Noto Sans' !important;
}

.cookie-notice .container .sign-in {
    padding: 15px 40px !important;
    color: var(--black) !important;
    background-color: var(--white);
    border-radius: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.cookie-notice .container .show-mobile-full {
    display: none;
}

.cookie-notice .text-center {
    margin: 0 !important;
}

@media (max-width:1730px) {
    .stage-block-wrap{
        background-image: none;
    }
    
    .stage-block ul li:last-child h2:after{
        bottom: 0;
        left: 0;
        right: auto;
    }
}

@media (max-width:1400px) {
    .corporate-page .text-page-block{
        flex-direction: column;
        gap: 0;
    }

    .text-page-block .text-block-left,
    .text-page-block .text-block-right{
        max-width: 100%;
        margin-right: 0;
    }

    .edge-wrapper{
        margin-top: 32px;
    }
}

@media (max-width:1260px) {
    .offset-block{
        background-image: none;
    }

    .text-page-block.full-width .text-block-left{
        max-width: 100%;
    }
}

@media (max-width:1023px) {
    .text-page-block .text-block-left h2,
    .text-page-block .text-block-right h2{
        font-size: 24px;
        line-height: 32.69px;
        letter-spacing: -0.8px;
        margin-bottom: 24px;
    }

    .text-page-block .text-block-left p,
    .text-page-block .text-block-right p,
    .you-need-block table tr td{
        font-size: 16px;
        line-height: 21.79px;
        margin-bottom: 16px;
    }

    .top-page-banner .container .banner-content p,
    .text-page-block .text-block-right .edge-item__title,
    .you-need-block table tr td:first-child,
    .suitable-block ul li{
        font-size: 20px;
        line-height: 27.24px;
    }

    .top-page-banner .container .banner-content p{
        margin-top: 16px;
    }

    .text-page-block .text-block-right .edge-item svg{
        max-width: 32px;
        height: 32px;
        margin-right: 12px;
    }

    .corporate-page .offset-block{
        padding-bottom: 435px;
    }

    .offset-block{
        background-image: url(../images/corporate/offset-img.png);
        background-repeat: no-repeat;
        background-position: center 106%;
        background-size: 293px;
    }

    .you-need-block table tr td{
        display: block;
        padding: 16px 0;
        margin-bottom: 0;
        width: 100%;
        padding-left:0px;
        border-bottom: 1px solid #000000;
    }
    
    .you-need-block table tr td:first-child{
        padding-left: 0px;
        border-bottom: none;
        padding-bottom: 0;
    }
    
    .suitable-block ul li{
        background-size: 24px;
        padding-left: 36px;
    }

    .suitable-block ul li+li{
        margin-top: 16px;
    }

    .stage-block ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .stage-block ul li{
        display: flex;
        align-items: stretch;
    }

    .stage-block .text-block-right ul li p{
        padding-bottom: 16px;
        padding-top: 7px;
    }

    .stage-block .text-block-right ul li h2{
        padding-right: 15px;
        margin-right: 16px;
        margin-bottom: 0;
    }

    .stage-block .text-block-right h2{
        padding-bottom: 0;
        overflow: hidden;
        max-width: 43px;
        width: 100%;
    }

    .stage-block .text-block-right h2:after,
    .stage-block ul li:last-child h2:after{
        width: 7px;
        height: 7px;
        top: 13px;
        right: 0;
        left: auto;
        bottom: auto;
    }

    .stage-block .text-block-right h2:before{
        content: '';
        display: block;
        width: 1.5px;
        height: 100%;
        right: 3px;
        position: absolute;
        background-color: #FFFFFF;
    }

    .stage-block ul li:first-child h2:before{
        top: 19px;
    }

    .stage-block ul li:last-child h2:before{
       bottom: 19px; 
    }

    .stage-block ul li:last-child{
        align-items: flex-start;
    }

    .btn-border{
        padding: 16px 40px;
        font-size: 16px;
        line-height: 21.79px;
    }

    .text-page-block.telegram-block{
        padding-top: 24px;
    }
  
    .bottom-telegram-block p{
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        margin: 0 16px;
    }

    .bottom-telegram-block svg{
        max-width: 40px;
        height: 40px;
        width: 100%;
    }
}

@media (max-width:900px) {
    .you-need-block .table-responsive{
        border: none;
        margin: 0;
    }
}

@media (max-width:768px) {
    .text-page-block .text-block-right .edge-wrapper{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .offset-block .text-block-left .offset-number__wrap, 
    .offset-block .text-block-left .offset-link__wrap{
        margin-top: 32px;
        grid-template-columns: repeat(1, 1fr);
    }

    .offset-block .text-block-left .offset-number__wrap{
        gap: 16px;
    }

    .offset-block .text-block-left .offset-link__wrap{
        gap: 12px;
    }

    .stage-block .text-block-right ul li p{
        padding-bottom: 16px;
        padding-top: 3px;
    }

    .bottom-telegram-block{
        flex-direction: column;
        position: relative;
        padding-left: 56px;
    }

    .bottom-telegram-block p{
        margin: 0 0 24px 0;
    }
    
    .bottom-telegram-block svg{
        position: absolute;
        top: 0;
        left: 0;
    }

    .cookie-notice {
        padding: 24px 0 !important;
    }

    .cookie-notice .container {
        flex-direction: column;
        gap: 0;
        align-items: start;
    }

    .cookie-notice .container .show-mobile-full {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 16px 0 22px;
        cursor: pointer;
    }

    .cookie-notice .container .show-mobile-full.show svg {
        transform: rotate(180deg);
    }

    .cookie-notice .container .sign-in {
        width: 100%;
        text-align: center;
    }

    .cookie-notice .text-center {
        width: 100%;
    }

    .cookie-notice .container .cookie-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .cookie-notice .container .cookie-text.show {
        overflow: unset;
        text-overflow: unset;
        display: unset;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
    }
}
