@media screen and (max-width: 1100px) {
    .landing-logo {
        display: none;
    }
}
@media screen and (max-height: 768px) {
	#overlay-form {
		top: 0px !important;
	}
	.price-middle {
		margin-bottom: 10px !important;
	}
	.img-pay-system {
		display: none!important;
	}
	.btn-price-reg a {
		margin: 0 auto;
		font-size: 18px!important;
		width: 300px!important;
	}
	.btn-price-reg {
		margin-bottom: 30px!important;
	}
	.price-count {
		margin-bottom: 10px!important;
	}
}
@font-face {
    font-family: alsrubl; /* Имя шрифта */
    src: url('../fonts/ALSRubl.ttf') format('truetype'),
	url('../fonts/alsrubl-webfont.eot'),
	url('../fonts/alsrubl-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/alsrubl-webfont.woff') format('woff');
}
html {
	height: 100%;
}
body {
    width: 100%;
}
img  {
	border: none;
}
* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Cuprum;
    font-weight: normal;
}
h1 {
    font-size: 39px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
h2 {
    font-family: Cuprum;
    font-size: 36px;
    color: #204055;
    margin-bottom: 35px;
    text-transform: uppercase;
	letter-spacing: 3px;
}
h3 {
    font-family: Cuprum;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    color: #6f3045;
}
.mc-hide-scrolls{
    overflow:hidden;
}
body .mc-cycle {
    height:100%;
    left:0;
    overflow:hidden;
    top:0;
    position: relative;
    width:100%;
    z-index:-1;
}
div.mc-image {
    /*NOTE: Mozilla flickers when fading and using 'all', so we have to be specific with what property we want to transition:
         If you are using fading transitions, use 'opacity: */
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    /*If you are using horizontal slide transitions, use the following CSS:
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;*/
	min-width: 960px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    background-repeat:no-repeat;
    height:100%;
    overflow:hidden;
    width:100%;
}
.alsrubl {
	 font-family: alsrubl;
}
.mc-old-browser .mc-image {
    overflow:hidden;
}
.menu-wrapper {
    min-width: 960px;
    height: 89px;
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 999;
}
.top-part {
    position: relative;
    margin-bottom: 35px;
}
.main-info {
    width: 100%;
    position: absolute;
    top: 34%;
}
.info-content {
    width: 960px;
    text-align: center;
    font-family: Cuprum;
    color: #fff;
    letter-spacing: 4px;
    margin: 0 auto;
}
.h-info {
    text-transform: uppercase;
    font-size: 36px;
    font-family: Cuprum;
    font-weight: normal;
    color: #fff;
	letter-spacing: 4px;
    padding: 0 147px;
    position: relative;
    position: relative;
}
.left-thing {
   background: #fff;
   width: 126px;
   height: 3px;
   left: 0;
   top: 18px;
   position: absolute;
}
.right-thing {
    background: #fff;
    width: 126px;
    height: 3px;
    right: 0px;
    top: 18px;
    position: absolute;
}
.btn-reg {
    display: block;
    background: white;
    font-size: 24px;
    color: #225267;
    text-decoration: none;
    padding: 10px 0;
    width: 292px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 2px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}
.bg-bg {
    width: 100%;
    top:0;
    bottom: 0;
    height: 100%;
    background: url('/images/landing/bg-bg.png') repeat;
    position: absolute;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}
.datencity {
    font-size: 40px;
    margin-bottom: 70px;
}
.landing-logo {
    position: absolute;
    top: 10px;
    left: 44px;
}
.reg-btn-right {
    padding-top: 29px;
    padding-right: 25px;
    float: right;
}
.top-reg-btn {
    display: block;
    width: 207px;
    background: #225267;
    text-decoration: none;
    color: #fff;
    padding: 7px 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
}
.top-menu-wrap {
    float: right;
    padding-right: 40px;
}
.menu-item {
    float: left;
    position: relative;
    padding-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #225267;
    padding-left: 12px;
    padding-right: 12px;
    display: block;
    text-decoration: none;
}
.menu-item .selected-line {
    display: none;
}
.menu-item.active .selected-line{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    height: 4px;
    background: #225267;
    width: 100%;
}
#trener-info {
    text-align: justify;
    width: 960px;
    margin: 0 auto;
}
.trener-h {
    text-align: center;
}
.trener-section{
    margin-bottom: 20px;
}
#trener-info {
    font-size: 16px;
    color: #474747;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 65px;
}
#trener-info a {
    font-size: 16px;
    color: #204055;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
#trener-info .publish a {
    font-size: 18px;
    font-family: 'Cuprum';
}
.trener-right {
    float: left;
    width: 209px;
    margin-right: 22px;
    min-height: 1px;
}
.trener-left {
    float:left;
    width: 709px;
}
.about-gray {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
    background: #ebebeb;
    margin-bottom: 50px;
}
#about-wrap {
    width: 960px;
    margin: 0 auto;
    font-family: Cuprum;
    font-size: 16px;
    text-align: justify;
}
.fv-rsns {
    width: 960px;
    margin: 0 auto;
	margin-bottom: 60px;
}
.rsns-head {
    text-align: center;
}
.rsns-head h2 {
    font-size: 30px;
}
.un-rsn {
	padding-right: 20px;
	float: left;
	width: 172px; 
}
.rsn-h {
	font-family: Cuprum;
	color: #204055;
	font-size: 18px;
	margin-bottom: 12px;
	text-indent: 22px;
	background: url('/images/landing/gal.jpg') 2px 3px no-repeat ;
}
.rsn-descr {
	font-family: Cuprum;
	font-size: 16px;
	color: #434343;
}
#price-wrap {
	position: relative;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	margin-bottom: 60px;
}
.price-info {
	position: absolute;
	top: 16%;
	width: 100%;
	left: 0;
} 
#scroll-price {
	top: 89px;
	position: absolute;
}
.price-wrap {
	width: 960px;
	margin: 0 auto;
}
.price-middle {
	text-align: center;
	margin-bottom: 25px;
}
.price-count {
	text-align: center;
	font-size: 60px;
	font-family: Cuprum;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}
.curr-date {
	font-family: Cuprum;
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.line-prices {
	padding-top: 60px;
	padding-bottom: 50px;
	margin-bottom: 30px;
}
.main-line {
	height: 21px; 
	width: 891px;
	background: url('/images/landing/main-line.jpg') no-repeat;
	margin: 0 auto;
	position: relative;
}
.line-prices .cut{
	height: 11px;
	width: 2px;
	background: #fff;
	top: -11px;
	position: absolute;
}
.start-place {
	position: absolute;
	left: 0;
	top: 0;
}
.place {
	top: 0;
	height: 20px;
	position: absolute;
}
.price-down {
	position: absolute;
	bottom: -40px;
	width: 100%;
	text-align: center;
	font-family: Cuprum;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
}
.date-prog {
	position: absolute;
	top: -40px;
	font-family: Cuprum;
	font-weight: bold;
	left: -52px;
	text-transform: uppercase;
	width: 104px;
	font-size: 20px;
	text-align: center;
	color: #fff;
}
.flag-current {
	position: absolute;
	top: -18px;
	width: 16px;
	height: 18px;
	background: url('/images/landing/flag.png') no-repeat;
}
.btn-price-reg {
	width: 960px;
	margin:  0 auto;
	margin-bottom: 60px;
}
.btn-price-reg a {
	margin:  0 auto;
	text-align: center;
	display: block;
	font-family: 'Cuprum';
	font-size: 24px;
	color: #1b5053;
	width: 381px;
	background: white;
	padding: 10px 0;
	text-decoration: none;
	letter-spacing: 2px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
}
.img-pay-system {
	text-align: center;
	margin-bottom: 35px;
}
.bonuses {
	margin: 0 auto;
}
.bonus-h {
	text-align: center;
	font-family: Cuprum;
	font-size: 24px;
	color: #fff;
	margin-bottom: 31px;
	letter-spacing: 2px;
}
.bonus-item {
	display: inline-block;
	margin-left: 50px;
	vertical-align: top;
}
.bonus-item.first {
		margin-left: 0;
}
.bonus-item img {
	float: left;
	display: block;
	margin-right: 20px
}
.bonus-text {
	float: left;
	text-align: left;
	font-family: 'Cuprum';
	font-size: 18px;
	color: #fff;
	line-height: 18px;
	width: 115px;
}
.video-wrapper {
	width: 960px;
	margin: 0 auto;
	margin-bottom: 80px;
}
.video-h {
	text-align: center;
}
.mc-player{
	width: 855px;
	margin: 0 auto;
}
.course-information-gray {
	padding-top: 25px;
	padding-bottom: 35px;
	background: #ebebeb;
	margin-bottom: 30px;
	width: 100%;
}
.course-center-wrap {
	width: 960px;
	margin: 0 auto;
	text-align: justify;
	font-size: 16px;
	color: #444444;
	font-family: 'Cuprum'; 
}
.course-center-wrap a {
color: #204055;
}
.descr-wrap {
	margin-bottom: 25px;
}
ul {
	list-style: square;
	margin-left: 40px;
	margin-bottom: 5px;
}
p {
	margin-bottom: 5px;
}
.course-inform-h {
	text-align: center;
}
.partners-wrap {
	width: 960px;
	margin: 0 auto;
	margin-bottom: 66px;
	text-align: center;
}
.partners-h {
	text-align: center;
}
.partner-item {
	text-align: center;
	height: 146px;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	width: 288px;
	line-height: 146px;
}
.partner-item-wrapper  {
	margin-left: 48px;
	margin-bottom: 48px;
	display: inline-block;
}
.partner-item-wrapper.first {
	margin-left: 0;
}
.bcm-prtnr {
	background: #204055;
	color: #fff;
	width: 206px;
	padding: 7px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-decoration: none;
	display: block;
	font-size: 14px;
	text-align: center;
	margin: 0 auto;
	letter-spacing: 2px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
.map-google {
	position: relative;
}
.top-map-line {
	width: 100%;
	height: 17px;
	background: url('/images/landing/top-map-line.jpg') 0 50% repeat-x;
}
.bottom-map-line {
	width: 100%;
	height: 17px;
	background: url('/images/landing/bottom-map-line.jpg') 0 50% repeat-x;
}
.adress-wrap {
	position: relative;
	width: 960px;
	height: 17px;
	margin: 0 auto;
	z-index: 999;
}
.adr-center-wrap {
	position: absolute;
	top: 55px;
	width: 424px;
	height: 383px;
	background: #204055;
	color: #fff;
	z-index: 999;
}
.adr-center-wrap a {
	color: #fff;
}
.adr-content {
	font-family: 'Cuprum';
	font-size: 18px;
	padding-top: 30px;
	padding-left: 30px;
}
.main-map {
	position: relative;
	z-index: 99;
}
.adr-info-sec {
	margin-bottom: 40px;
}
.adr-pict {
	float: left;
	width: 30px;
	margin-right: 10px;
	text-align: center;
}
.adr-text {
	width: 317px;
	float: left;
}
.copyright {
	padding-top: 39px;
	font-size: 18px;
	font-family: Cuprum;
	text-align: center;
	color: #3a3a3a;
	padding-bottom: 45px;
}
.overlay {
	width: 390px;
	padding: 25px;
	background: #f1efe8;
	display: none;
	font-family: Cuprum;
	font-size: 19px;
}
.overlay  a {
	color: #225267;
}
.overlay .over-head {
	float: left;
	font-family: Cuprum;
	font-weight: bold;
	font-size: 24px;
	color: #225267;
	margin-bottom: 15px;
}
.agree-text {
		font-size: 16px;
}
.close {
	cursor: pointer;
	float: right;
	width: 15px;
	height: 15px;
}
.overlay input[type="text"] {
	font-family: Cuprum;
	font-size: 22px;
	padding: 8px;
	width: 370px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #939393;
	background: #f1efe8; 
} 
.overlay input[type="text"]:focus {
	background: #fff;
} 
.overlay  textarea{
	font-family: Cuprum;
	font-size: 22px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #939393;
	background: #f1efe8;
	width: 370px;	
	padding: 8px;
	resize: none;
}
.overlay  textarea:focus {
	background: #fff;
}
.overlay  .field-wrap {
	margin-bottom: 15px;
	font-size: 22px;
}
.overlay .but {
	border: none;
	width: 207px;
	height: 33px;
	background: url('/images/landing/reg-btn.jpg') no-repeat;
	margin: 0 auto;
	display: block;
	cursor: pointer;
}
.overlay .but.en {
	background: none;
	background: #225267;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
	-webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
}
.overlay .req {
	color: #6f3045;
}
.up-btn {
	display: block;
	width: 40px;
	height: 40px;
	display: none;
	position: fixed;
	right: 20px;
	bottom: 50px;
	background: url('/images/landing/top-menu.png') no-repeat;
	z-index: 999;
}
.social-share {
	position: fixed;
	right: 20px;
	top: 250px;
	z-index: 9999;
}
.share-button {
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
	display: block;
}
.social-share .facebook {
	background: url('/images/social/facebook40.png') no-repeat;
}
.social-share .vkontakte {
	background: url('/images/social/vk40.png') no-repeat;
}
.social-share  .twitter {
	background: url('/images/social/twitter40.png') no-repeat;
}
.social-share .linkedin {
	background: url('/images/social/linkedin40.png') no-repeat;
}
.social-share .plus {
	background: url('/images/social/plus.png') no-repeat;
}
#review-scroll {
	overflow: hidden;
}
.review-wrap {
	width: 990px;
	font-family: 'Cuprum';
}
.review-item {
	width: 460px;
	float: left;
	margin-right: 20px;
	margin-bottom: 25px;
}
.review-head {
	font-size: 18px; 
	margin-bottom: 16px;
	background: url('/images/landing/study-hat.jpg') no-repeat;
	padding-left: 35px;
}
.review-body {
	font-size: 15px;
	color: #444444;
	padding: 20px;
	border: 1px solid #d1d3d4;
	border-radius: 6px;
	position: relative;
}
.review-body:before {
	content: '';
	display: block;
	position: absolute;
	top: -13px;
	left:20px;
	width: 23px;
	height: 13px;
	background: url('/images/landing/review-tail.png') no-repeat;
}
.review-wrap:after {
	content: '';
	display: block;
	clear: both;
}
.it-label {
	font-size: 14px;
	font-style: italic;
	color: #696969;
}