.main-page-banner-sec-block {
    position: relative;
    padding: 170px 0 100px;
    background-color: #F8F7F7;
}

.main-page-banner-sec-block .container{
    max-width: 1920px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

.main-page-banner-sec-block .main-page-heading{
    max-width: 1712px;
    padding: 0 16px;
    margin: 0 auto 72px;
}

.main-page-banner-sec-menu {
    max-width: 876px;
    width: 100%;
    margin-right: 56px;
}

.main-page-banner-sec-menu .main-page-banner-sec-menu_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
    cursor: pointer;
    border-bottom: 1px solid var(--black);
    background-color: transparent;
    transition: all 0.3s;
    gap: 10px;
}

.main-page-banner-sec-menu .main-page-banner-sec-menu_item:hover,
.main-page-banner-sec-menu .main-page-banner-sec-menu_item.active {
    padding: 32px 0 32px 32px;
}

.main-page-banner-sec-menu .main-page-banner-sec-menu_item .main-page-banner-sec-menu_item-text {
    color: var(--black);
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
    max-width: 770px;
    width: 100%;
}

.main-page-banner-sec-menu .main-page-banner-sec-menu_item .main-page-banner-sec-menu_item-text .mobile-number {
    display: none
}

.main-page-banner-sec-menu-img{
    width: 100%;
    max-width: 908px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 1180px) {
    .main-page-banner-sec-block .main-page-heading{
        margin: 0;
        font-size: 22px;
        line-height: 100%;
        padding: 0 16px;
    }
    .main-page-banner-sec-menu-img{
        display: none;
    }

    .main-page-banner-sec-block .container{
        padding: 0 16px;
    }
    .main-page-banner-sec-block {
        min-height: fit-content;
        background-image: none !important;
        padding: 40px 0;
    }

    .main-page-banner-sec-block .main-page-banner-sec-menu {
        margin: 16px 0;
        max-width: 100%;
    }

    .main-page-banner-sec-menu .main-page-banner-sec-menu_item:hover, .main-page-banner-sec-menu .main-page-banner-sec-menu_item.active {
        padding: 16px 0 21px;
    }

    .main-page-banner-sec-menu .main-page-banner-sec-menu_item {
        padding: 16px 0 21px;
    }

    .main-page-banner-sec-menu .main-page-banner-sec-menu_item .main-page-banner-sec-menu_item-text {
        font-size: 20px;
        line-height: 100%;
        display: flex;
        align-items: start;
        gap: 12px;
        max-width: 100%;
    }

    .main-page-banner-sec-menu .main-page-banner-sec-menu_item .main-page-banner-sec-menu_item-text .mobile-number {
        display: block;
    }
}