.reviews-talent-block {
    padding: 100px 0 18px;
}

.reviews-talent-block .main-page-heading{
    margin-bottom: 48px;
}

.reviews-talent-block .reviews-tabs-block {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    position: relative;
}

.reviews-talent-block .reviews-tabs-block .link-block {
    margin-left: auto;
}

.reviews-talent-block .reviews-tabs-block .link-block a {
    color: var(--black);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviews-talent-block .reviews-tabs-block .tabs {
    display: flex;
    align-items: center;
    gap: 8px;
}

.reviews-talent-block .reviews-tabs-block .tabs .tab-item {
    background-color: #F0F0F0;
    padding: 9px 18px;
    cursor: pointer;
    line-height: 30px;
}

.reviews-talent-block .reviews-tabs-block .tabs .tab-item span {
    color: var(--black);
}

.reviews-talent-block .reviews-tabs-block .tabs .tab-item.active {
    background-color: var(--black);
}

.reviews-talent-block .reviews-tabs-block .tabs .tab-item.active span {
    color: var(--white);
}

.reviews-content > div .slick-list{
    margin-left: -15px;
    margin-right: -60px;
}

.reviews-content > div .review-item {
    font-size: 20px;
    line-height: 28px;
    margin: 0 15px;
}

.reviews-content > div .review-item:last-child {
    margin-right: 0;
}

.reviews-content > div .review-item .review-text-block {
    background-color: var(--light-gray);
    padding: 24px;
    position: relative;
    min-height: 440px;
    font-weight: 400;
}

.reviews-content > div .review-item .review-text-block .main-text span a {
    text-decoration: underline;
    color: #2B418B;
}

.reviews-content > div .review-item .review-text-block .micro-elem {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: block;
    z-index: 2;
    left: 0;
    bottom: -23px;
    height: 23px;
}

.reviews-content > div .review-item .user-info-block {
    margin-top: auto;
    display: flex;
    align-items: center;
    min-height: 120px;
    max-height: 120px;
}

.reviews-content > div .review-item .user-info-block .user-text-info {
    margin-left: 24px;
    font-weight: 400;
}

.reviews-content > div .review-item .user-info-block .user-image + .user-text-info {
    margin-left: 16px;
}

.reviews-content > div .review-item .user-info-block .user-image {
    min-width: 102px;
    max-width: 102px;
    padding: 25px 0px;
}

.reviews-content > div .review-item .user-info-block .user-image img {
    max-width: 100%;
}

.reviews-content > div .review-item .user-info-block .user-text-info .full-name {
    margin-top: 4px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.reviews-content > #studentReviewContent .review-item .user-info-block .user-text-info .full-name {
    margin: 0;
}

.reviews-content > div .review-item .user-info-block .user-text-info .company-name {
    color: #2B418B;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.reviews-content > div .slick-dots {
    position: unset;
    margin-top: 48px;
    padding-top: 32px;
}

.reviews-content > div .slick-dots li,
.reviews-content > div .slick-dots li button {
    width: 14px;
    height: 14px;
}

.reviews-content > div .slick-dots li {
    margin: 0 4px;
}

.reviews-content > div .slick-dots li button::before{
    display: none;
}

.reviews-content > div .slick-dots li button{
    width: 14px;
    height: 14px;
    border-radius: 14px;
    background-color: #B2B2B2;
}

.reviews-content > div .slick-dots li.slick-active button {
    opacity: 1;
    background-color: var(--button-blue);
}

.reviews-content > div .slick-dots li button:hover {
    background-color: var(--button-blue);
}

.reviews-content > div .review-item .custom-controls {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    margin-top: -2px;
}

.reviews-content > div .review-item .custom-controls .buttons-block > div {
    width: 58px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reviews-content > div .review-item .custom-controls .buttons-block .start-video-btn {
    background-color: var(--black);
}

.reviews-content > div .review-item .custom-controls .buttons-block .stop-video-btn {
    display: none;
    background-color: var(--button-blue);
}

.reviews-content > div .review-item .custom-controls .current-video-time {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.reviews-content > div .review-item .custom-controls .current-video-time span {
    margin: 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.reviews-content > div .review-item .custom-controls .current-video-time .current-video-time_back {
    position: absolute;
    height: 100%;
    left: 0;
    background-color: var(--button-blue);
    width: 0;
    z-index: -1;
}

.reviews-content > div .slick-track {
    margin: 0;
}

.reviews-content > div .review-item .reviews-video video::-webkit-media-controls-start-playback-button,
.reviews-content > div .review-item .reviews-video video::-webkit-media-controls-play-button,
.reviews-content > div .review-item .reviews-video video::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
    opacity: 0;
    visibility: hidden;
}

.review-course-info{
    margin-bottom: 16px;
}

.review-course-info a{
    color: #2B418B;
}

.reviews-talent-block .reviews-tabs-block .link-block{
    position: absolute;
    right: 0;
    display: none;
}

.reviews-talent-block .reviews-tabs-block div.active + .link-block{
    display: block;
}

@media (max-width: 1755px) {
    .reviews-content > div .slick-list{
        margin-right: -15px;
    }
}

@media (max-width: 1280px) {
    .reviews-talent-block {
        padding: 40px 0 10px;
    }

    .reviews-talent-block .reviews-tabs-block{
        padding-bottom: 44px;
    }

    .reviews-talent-block .reviews-tabs-block .link-block{
        right: auto;
        left: 0;
        bottom: 0;
    }

    .reviews-talent-block .reviews-tabs-block .tabs {
        white-space: nowrap;
        overflow-x: scroll;
    }

    .reviews-content > div .review-item .review-text-block{
        min-height: 456px;
    }

    .reviews-talent-block .main-page-heading{
        margin-bottom: 24px;
        font-size: 32px;
        line-height: 40px;
    }

    .reviews-content > div .slick-dots{
        margin-top: 24px;
        padding-top: 16px;
    }

    .reviews-content > div .review-item .user-info-block{
        min-height: 80px;
        max-height: 80px;
        align-items: center;
    }

    .reviews-content > div .review-item .user-info-block .user-image{
        min-width: 60px;
        max-width: 60px;
        padding: 0px;
    }

    .reviews-content > div .review-item .user-info-block .user-image + .user-text-info{
        margin-left: 24px;
    }

    .trainer-item .user-image{
        max-width: 80px;
        min-width: 80px;
    }

    .trainer-content #trainerContent{
        padding-bottom: 44px;
    }

    #studentReviewContent .slick-arrow.slick-prev {
        left: 16px;
    }

    #studentReviewContent .slick-arrow {
        background: url(images/arrow.png) no-repeat center center;
        bottom: 0;
        top: auto;
        transform: rotate(180deg);
        margin-top: 0;
        width: 45px;
        height: 19px;
    }

    #studentReviewContent .slick-arrow.slick-next {
        right: 16px;
        transform: rotate(360deg);
    }
}