*.sql
*.tgz
*.tar.gz
*.tar
*.rar
*.zip
*.log

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
/.env
/.htaccess
/.htsecure
/.idea
/upload

/bitrix/*
!/bitrix/activities
/bitrix/activities/bitrix
!/bitrix/components
/bitrix/components/bitrix

!/bitrix/gadgets
/bitrix/gadgets/bitrix

!/bitrix/php_interface
bitrix/php_interface/dbconn.php
bitrix/php_interface/include/catalog_import
bitrix/php_interface/include/catalog_export

!/bitrix/templates
/bitrix/templates/call_app
/bitrix/templates/landing24

/local/vendor
/local/node_modules
/local/modules/sprint.migration
/local/lib/bitrix24.rest/logs
/local/.yarn
/local/.yarnrc.yml
/.php-cs-fixer.cache
