<div class="wins"><h4>Emea Technology Fast 500</h4><p><img src="/images/deloite.gif" alt="" title=""><a href="/about/awards.html">Luxoft is named by Deloitte as the fastest growing Russian software company</a></p></div>
<div class="clear"></div>
            <div class="wins"><img src="/images/cmmi.gif" alt="" title=""><h4>Luxoft Quality Management System</h4><p><a href="/about/quality.html">Luxoft is the only CIS Company to earn the status of partner from Carnegie Mellon University’s Software Engineering Institute</a></p></div>
<div class="clear"></div>
            <div class="wins"><h4>Luxoft Fast Facts</h4><p><a href="/about/">Luxoft tops the list of Russia’s largest IT outsourcing providers growing at a rate of 52%</a></p></div>