html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	line-height: 1;
	color: #004180;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #326dab;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.header {
	position: relative;
}
.blue-line {
	height: 3px;
	background: #1e427c;
	border: 1px solid #2a4c83;
	z-index: 99;
	position: relative;
}
.frame {
	width: 1248px;
	margin: 0 auto;
	position: relative;
}
#top-section {
	height: 585px;
	background: #f6fbfe;
	position: relative;
}
.top-content {
	position: relative;
	z-index: 9;
}
#top-section:before {
	content: '';
	height: 100%;
	position: absolute; 
	width: 50%;
	top: 0;
	left: 50%;
	background: #eef7fd url('../images/bg.jpg') 0 5px no-repeat;
}
.logo {
	margin-top: 21px;
	float: left;
}
.nav.main {
	padding-top: 35px;
	float: right;
}
.nav>li {
    float: left;
	padding-left: 56px;
}

.nav>li>a {
	line-height: 38px;
	font-size: 18px;
	color: #004180;
	display: inline-block;
	text-decoration: none !important; 
}
.nav>li.active>a {
	border-bottom: 4px solid #f26f21;
}
.image-penc-wrap {
	width: 35%;
	float: left;
	height: 415px;
	position: relative;
	background: url('../images/listnpenc.png') center center no-repeat;
}
.top-info {
	width: 65%;
	margin-top: 100px;
	position: relative;
	float: left;
}
h1 {
	font-size: 37px;
	font-weight: bold;
	color: #f26f21;
	margin-bottom: 30px;
}
.center {
	text-align: center;
}
.top-info p {
	color: #58595b;
	font-size: 17px;
	line-height: 25px;
}
.top-info p  span {
	font-size: 25px;
}
.role-section {
	padding: 25px 0 105px 0;
	background: #004180;
}
.nav.tabs-nav>li>a {
	color: #fff;
	font-weight: bold;
}
.nav.center>li {
	display: inline-block;
	float: none;
	padding: 0 25px;
	margin-bottom: 45px;
}
.type-list a{
	display: inline-block;
	line-height: 32px;
	color: #fff;
	font-size: 16px;
	border-radius: 17px;
	border: 1px solid #fff;
	padding: 0 15px;
	text-decoration: none !important;
	margin: 0 3px 20px 3px;
}
.type-list a.active {
	background: #f26f21;
	border-color: #f26f21;
}
.items-section {
	background: #f0f0f0;
	padding: 55px 0; 
	margin-bottom: 60px;
}
.search-inp {
	padding: 14px 25px 14px 50px ;
	border: 1px solid #e8e8e9;
	font-size: 16px;
	border-radius: 25px;
	width: 605px;
	outline: none;
	background: #fff url('../images/lupa-icon.png') 18px 15px no-repeat;
}
.search-form {
	margin-bottom: 18px;
}
.role-sel {
	display: inline-block;
}
.selected-role {
	color: #808080;
	line-height: 25px;
	font-size: 16px;
	margin-bottom: 20px;
}
.role-sel {
	background: #f26f21;
	color: #fff;
	margin-left: 23px;
	font-size: 14px;
	padding: 0 34px 0 14px;
	border-radius: 12px;
	position: relative;
}
.role-sel a.close {
	width: 9px;
	height: 9px;
	position: absolute;
	top: 9px;
	right: 14px;
	background: url('../images/close.jpg') no-repeat;
	display: block;
}
.test-item {
	width: 274px;
	height: 206px;
	margin: 0 25px;
	float: left !important;
	background: #fff;
	border-radius: 2px;
	margin-bottom: 48px;
	padding: 5px 5px 0 5px;
	border-bottom: 5px solid #f26f21;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.4);
}
.test-item.opened {
	padding: 0;
	border: 5px solid #f26f21;
}
.items-line {
	margin: 0 -25px;
	
}
.text-name {
	font-size: 19px;
	font-weight: 600;
	height: 120px;
	
	margin: 23px 15px 0 15px;
}
.buy-wrapper {
	padding: 0 20px 0 15px;
}
.buy-link {
	display: inline-block;
	line-height: 34px; 
	font-size: 16px;
	border-radius: 15px;
	color: #414042;
	text-decoration: none !important;
	padding: 0 29px;
	background: #f1f1f1;
}
.buy-more-info {
	font-size: 15px;
	display: inline-block;
	line-height: 34px; 
	float: right;
}
.down .header {
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 999;
	top: 0;
	padding-bottom: 15px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.down .header .logo img{
	height: 46px;
}
.down .blue-line{
	margin-bottom: 102px;
}
.down .header .logo {
	margin-top: 15px;
}
.down .header .nav.main {
	padding-top: 28px;
}
.show-more-link {
	text-decoration: none !important;
	line-height: 34px;
	background: #1e427c;
	padding: 0 39px;
	border-radius: 17px;
	display: inline-block;
	font-size: 16px;
	color: #fff;
}
.price-order  {
padding-bottom: 100px;
}
.price-order h2, .company-info h2{
	font-size: 38px;
	color: #f26f21;
	font-weight: 300 !important;
	margin-bottom: 70px;
	
}

.three-column {
	margin: 0 -11px;
}
.three-column  .column {
	padding: 0 11px;
	width: 50%;
	height:	599px;
	text-align: center;
	float: left;
}
.column-heading {
	background: #1e427c;
	height: 98px;
	vertical-align: middle;
	width: 100%;
	line-height: 25px;
	padding: 38px 0;
	font-size: 19px;
	color: #fff;
}
.column:nth-child(2) .column-heading{
	padding:24px 0;
}
.column:nth-child(1) .column-text  {
	width: 408px;
} 
.column .column-content{
	background: #f1f1f1;
	height: 100%;
}
.column-text {
	width: 436px;
	margin: 0 auto;
	padding-top: 30px;
	color: #58595b;
	font-size: 15px;
		
}
.column-text  p {
	margin-bottom: 15px;
	line-height: 19px;
}
.sl-header {
	text-align: left;
	font-size: 15px;
	margin-bottom: 28px;
}
.slider-it {
	margin-bottom: 48px;
}
.sl-info {
	padding-top: 10px;
	margin-bottom: 28px;
}
.sl-info-p {
	font-size: 17px;
	color: #1e427c;
	font-weight: 600;
	margin-bottom: 6px;
}
.big-price {
	font-size: 37px;
	color: #1e427c;
}
.big-price span {
	font-size: 62px;
}
.biggest-price {
	font-size: 60px;
	line-height: 60px;
	margin: 116px 0 59px;
	color: #004180;
}
.biggest-price span {
	font-size: 38px;
}
.callback-form {

}
.form-section {
	margin-bottom: 13px;
}
.form-section  input[type=text] {
	width: 100%;
	padding: 7px 22px;
	border: 1px solid #e4e5e6;
	border-radius: 16px;
	font-size: 16px;
}

.agree-text {
	text-align: left;
	width: 100%;
	display: block;
}
.submit-btn {
	padding-top: 15px;
}
.btn {
	display: inline-block;
	border: none;
	color: #fff;
	background: #f26f21;
	padding: 8px 22px;
	cursor: pointer;
	text-decoration: none !important;
	font-size: 16px;
	border-radius: 16px;
}
.btn-link {
	padding-top: 38px;
}
.additional-content {
	padding-top: 40px;
	text-align: center;
}
.items-description .additional-content p {
	font-size: 17px;
	margin-top: 33px;
	margin-bottom: 56px;
}
.items-description {
	display: none;
	background: #fff;
	margin: 0 -100%; 
	margin-bottom: 30px;
	padding: 55px 100%;
}
.items-description h2{
	font-size: 38px;
	margin-bottom: 44px;
}
.items-description h3{
	font-size: 19px;
	margin-bottom: 28px;
}
.items-description h4 {
	font-size: 19px;
	color: #326dab;
	margin-bottom: 14px;
}
.items-description p {
	color: #3f3f3f;
	margin-bottom: 22px;
	font-size: 17px;
	line-height: 25px;
}
.items-description  ul li{
	padding: 0 0 0 29px;
	margin-bottom: 12px;
	font-size: 17px;
	color: #3f3f3f;
	position: relative;
}
.items-description  ul li:before {
	position: absolute;
	display: block;
	content: '';
	width: 11px;
	height: 11px;
	background: #f26f21;
	left: 0;
	top: 2px;
	border-radius: 50%;
}
.close-wrapper {
	position: relative;
}
.items-description   .close-button {
	position: absolute; 
	right: 0;
	top: 0;
	display: block;
	width: 31px;
	height: 32px;
	background: url('../images/close.png') no-repeat;
}
.tab-content {
	font-size: 17px;
	line-height: 1.3;
	padding-right: 222px; 
}
.tabs {
	display: none;
	padding-top: 
}
.items-section {
	overflow: hidden;
}
.btn.blue-big {
	padding: 16px 48px;
	border-radius: 30px;
	font-size: 28px;
	background: #1e427c;
}
.hidden {
	display: none;
}
.company-info {
	background: #f6fbfe;
	height: 802px;
	padding-top: 70px;
	position: relative;
}
.company-info:before {
	content: '';
    height: 100%;
    position: absolute;
    width: 40%;
    top: 0;
    left: 0;
    background: #eef7fd url('../images/bg-footer.jpg')  right no-repeat;
}
.image-logo-info {
	margin-top: -40px;
}
.company-info-content {
	padding-left: 133px;
}
.company-info-content h3{
	font-weight: 600;
	font-size: 19px;
	margin-top: 46px;
	margin-bottom: 35px;
	color: #004180;
}
.company-info-content p {
	color: #3f3f3f;
	margin-bottom: 20px;
	font-size: 17px;
	line-height: 25px;
}
.footer {
	background: #1e427c;
	height: 124px;
	padding-top: 52px;
	text-align: right;
}
.footer a {
	display: inline-block;
	color: #fff;
	margin-left: 54px;
}
.basket-line {
	height: 117px;
}
.fixed-basket {
	position: fixed;
	height: 117px;
	width: 100%;
	padding-top: 40px;
	background: #fff;
	z-index: 99;
	bottom: 0;
	-webkit-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px -1px 4px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px -1px 4px 0px rgba(0, 0, 0, 0.35);
}
.basket-heading {
	padding: 11px 0 0 49px;
	font-size: 19px;
	font-weight: 700;
	float: left;
	cursor: pointer;
	position: relative;
	margin-bottom: 44px;
}
.basket-heading:before {
	position: absolute;
	width: 23px;
	height: 13px;
	left: 0;
	top: 15px;
	content: '';
	display: block;
	background: url('../images/chev.png') no-repeat;
}
.fixed-basket.open {
	height: auto;
}
.fixed-basket.open  .basket-right {
	display: none;
	
}

.fixed-basket.open .basket-heading:before  {
	background-position: 0 -15px; 
}
.basket-right {
	float: right;
}
.summ-line {
	font-size: 38px;
	vertical-align: middle;
}
.summ {
	font-size: 15px;
	color: #808285;
	float: left;
	padding-top: 10px;
	margin-right: 18px;
}
.summ-line {
	float: left;
}
.summ-line span {
	font-size: 15px;
}
.btn-buy {
	float: left;
	margin-left: 36px;
	font-size: 16px;
	padding: 12px 38px 15px 38px;
	border-radius: 21px;
}
.action-col {
	min-height: 1px;
	width: 4.5%;

}
.name-col {
	min-height: 1px;
	width: 64.5%;
	padding-right: 40px;
	
}
.quant-col {
	min-height: 1px;
	width: 20%;


}
.stoim-col {
	min-height: 1px;
	width: 12%;


}
.basket-grid-table div.heading {
	color: #808285;
	font-size: 15px;
	padding-bottom: 24px;
	border-bottom: 2px dashed #e8e9ea;
}
.basket-grid-table tr.heading {
	font-size: 15px;
	color: #808285;
}
.basket-grid-table tr.heading  td{
	padding-bottom: 24px;
	border-bottom: 2px dashed #e8e9ea;
}
.quant-col {
	
}
.delete-icon {
	width: 15px;
	height: 15px;
	background: url('../images/delete-icon.png') no-repeat;
	display: block;
}
div.bask-line {
	padding: 20px 0;
	border-bottom: 2px dashed #e8e9ea;
}
tr.bask-line td{
	padding: 20px 0;
	vertical-align: middle;
	border-bottom: 2px dashed #e8e9ea;
}
.bask-line .action-col {
	
	padding-left: 16px;
}
.bask-line .name-col {
	font-size: 19px;
	padding-right: 40px;
	color: #326dab;
	width: 744px;
}
.all-sum-wrap {
padding: 18px 0;
}
.all-sum-wrap .summ{
	float: right;
	text-align: right;
}
.next {
	float: right;
	display: block;
	padding-top: 14px;
	color: #326dab;
	font-size: 15px;

}
.buy-next .btn-buy {
	float: right;
	margin-right: 20px;
}
.buy-next {
	padding-bottom: 40px;
	display :none;
}
.open .buy-next {
	display: block;
}
.quant-col input[type="text"]{
	width: 46px;
	height: 33px;
	padding: 0;
	margin: 0;
	color: #414042;
	font-size: 16px;
	text-align: center;
	float: left;
	
	border: 1px solid #bfbfc1;
	display: block;
}
.quant-col a {
	float: left;
	display: block;
	height: 33px;
	text-align: center;
	color: #414042;
	font-size: 22px;
	text-decoration: none;
	width: 24px;
	line-height: 33px;
	border: 1px solid #bfbfc1;
}
.quant-col a:nth-child(1) {
	line-height: 28px;

	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	
	border-right: 0;
}
.quant-col a:nth-child(3) {
	border-left: 0;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.basket-grid-table {
	margin-bottom: 22px;
	display: none;
}
.open .basket-grid-table {
	display: block;
}
.bask-line .stoim-col {
	font-size: 29px;
	color: #004180;
	padding-right: 20px;
	text-align: right;
}
.buy-link:hover {
	background: #f26f21;
	color: #fff;
}
.bask-line .stoim-col span {
	font-size: 15px;
}
/* Ширина слайдера */
#slider {
	width: 100%;
}
/* Контейнер слайдера */
.ui-slider {
	position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 29px;   /* Задаем нужную ширину */
	height: 29px;  /* и высоту */
	background: #f26f21;
	cursor: pointer;
	border-radius: 50%;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
	 height: 6px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle { 
	top: -11px;
	margin-left: -14px;
	outline: none;
	text-decoration: none !important;
	color: #fff;
	font-size: 15px;
	padding-top: 6px;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content { 
	background: #e6e7e8;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { 
	border: 1px solid #D4D4D4;
	background: #f00;
}
/* скругление для полосы слайдера */
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.bx_ordercart_coupon input[type="text"]{
    height: 43px;
    padding: 0;
    width: 300px;
    margin: 0;
    color: #414042;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    float: left;
    border: 1px solid #bfbfc1;
    display: block;
}
.bx_ordercart_coupon input[type="text"].good {
    border-color: #9ec710;

}
.bx_ordercart_coupon input[type="text"].bad {
    border-color: #e62727;
    display: none;
}
.bx_ordercart_coupon_notes {
    display: none;
}
.bx_ordercart_coupon span {
    display: none;

}
.bx_ordercart_coupon {
    display: block;
    float: left;
    position: relative;
}
.bx_ordercart_order_pay_left {
    float: left;
    display: none;
    width: 640px;
}
.bx_ordercart_coupon {
    margin-right: 10px;
}
.bx_ordercart_coupon span.good {
    display: block;
    color: #e62727;
    font: 16px/100% arial, sans-serif;
    position: absolute;
    right: 16px;
    text-decoration: none;
    top: 14px;
    cursor: pointer;
}
.bx_ordercart_coupon span.good:after {
    content: '\2716';
}
.fixed-basket.open  .bx_ordercart_order_pay_left {
    display: block;
}

@media (max-width: 1314px) { 
	.frame {
		width: 970px;
	}
	.column-heading {
		font-size: 16px;
		padding: 38px 0;
	}
	.column:nth-child(2) .column-heading{
		padding:26px 0;
	}
	.three-column { 
		margin: 0 -8px;
	}
	.items-line {
		margin: 0 -8px;
	}
	.btn-link {
		padding-top: 43px;
	}
	.three-column  .column { 
		padding: 0 8px;
	}
	.test-item {
		margin: 0 4px;
		margin-bottom: 8px;
		width: 238px;
	}
	.text-name {
		margin: 28px 5px 0 5px;
	}
	.buy-wrapper {
		padding: 0 10px 0 5px;
	}
	.column:nth-child(1) .column-text{
		width: 260px; 
	}	
	.column-text {
		width: 280px; 
	}
	.biggest-price {
		font-size: 50px;
	}
	.show-more-link {
		margin-top: 30px;
	}
}

