.page .top-page-banner{
	padding: 60px 0 60px;
}

.reviews-tabs-block {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.reviews-tabs-block .tabs {
    display: flex;
    align-items: center;
    gap: 8px;
	margin-top: 32px;
}

.reviews-content > div .review-item:not(.review-modal) .review-course-info{
    padding: 24px 24px 16px; 
}

.reviews-content > div .review-item .review-course-info a{
    color: #2B418B;
}

.reviews-content > div .review-item.review-modal .review-course-info{
    margin-bottom: 16px;
}

.reviews-tabs-block .tabs a {
    background-color: #F0F0F0;
    padding: 8px 18px;
    cursor: pointer;
}

.reviews-tabs-block .tabs a span {
    color: var(--black);
}

.reviews-tabs-block .tabs a.active {
    background-color: var(--black);
}

.reviews-tabs-block .tabs a.active span {
    color: var(--white);
}

.reviews-content{
	padding: 60px 0 120px;
}

.reviews-content .pagination-block {
	margin-top: 80px;
}

.reviews-content .reviews-content-wrap{
	display: grid;
	grid-auto-columns: 1fr 1fr 1fr; 
  	grid-auto-rows: 1fr 1fr; 
  	grid-template-columns: repeat(4, 1fr); 
  	gap: 24px 24px; 
}

.reviews-content > div .review-item {
    min-height: 560px;
	max-height: 560px;
	display: flex;
	flex-direction: column;
    max-width: 402px;
}

.reviews-content > div .review-item{
    font-size: 20px;
    line-height: 28px;
}

.reviews-content > div .review-item:not(.review-modal) .review-text-block {
    background-color: var(--light-gray);
    position: relative;
    min-height: 440px;
}

.reviews-content > div .review-item.review-modal{
	display: none;
    max-width: 550px;
	max-height: unset;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    padding: 48px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.reviews-content > div .review-item .reviews-video video{
	width: 100%;
	min-height: 502px;
    max-height: 502px;
	object-fit: cover;
}

.reviews-content > div .review-item .review-text-block .review-course-info + .main-text > span{
	padding: 0 24px 24px;
	display: block;
}

.reviews-content > div .review-item .review-text-block .main-text > span{
	padding: 24px;
	display: block;
}

.reviews-content > div .review-item .review-text-block .main-text > span a {
    text-decoration: underline;
    color: #2B418B;
}

.reviews-content > div .review-item .micro-elem {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: block;
    z-index: 2;
    left: 0;
    height: 23px;
    bottom: -23px;
}

.reviews-content > div .review-item .user-info-block {
    background-color: var(--white);
    display: flex;
    align-items: center;
    min-height: 120px;
    max-height: 120px;
	position: relative;
}

.reviews-content > div .review-item .user-info-block .user-text-info {
    margin-left: 24px;
}

.reviews-content > div .review-item .user-info-block .user-image + .user-text-info {
    margin-left: 0px;
}

.reviews-content > div .review-item .user-info-block .user-image {
    min-width: 102px;
    max-width: 102px;
    padding: 25px 16px;
}

.reviews-content > div .review-item .user-info-block .user-image img {
    max-width: 100%;
}

.reviews-content > div .review-item .user-info-block .user-text-info .full-name {
    margin-top: 4px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.reviews-content > #studentReviewContent .review-item .user-info-block .user-text-info .full-name {
    margin: 0;
}

.reviews-content > div .review-item .user-info-block .user-text-info .company-name {
    color: #2B418B;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.reviews-content > div .review-item .custom-controls {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    margin-top: -2px;
}

.reviews-content > div .review-item .custom-controls .buttons-block > div {
    width: 58px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reviews-content > div .review-item .custom-controls .buttons-block .start-video-btn {
    background-color: var(--black);
}

.reviews-content > div .review-item .custom-controls .buttons-block .stop-video-btn {
    display: none;
    background-color: var(--button-blue);
}

.reviews-content > div .review-item .custom-controls .current-video-time {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.reviews-content > div .review-item .custom-controls .current-video-time span {
    margin: 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.reviews-content > div .review-item .custom-controls .current-video-time .current-video-time_back {
    position: absolute;
    height: 100%;
    left: 0;
    background-color: var(--button-blue);
    width: 0;
    z-index: -1;
}

.reviews-content > div .review-item .reviews-video video::-webkit-media-controls-start-playback-button,
.reviews-content > div .review-item .reviews-video video::-webkit-media-controls-play-button,
.reviews-content > div .review-item .reviews-video video::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
    opacity: 0;
    visibility: hidden;
}

.reviews-content-shadow {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--black);
    opacity: 0.4;
    z-index: 1000;
    display: none;
}

.review-modal-title-wrap{
	display: flex;
	justify-content: space-between;
}

.review-modal-title{
	font-size: 34px;
	font-weight: 500;
	line-height: 52px;	
	margin-bottom: 32px;
}

.reviews-content > div .review-item.review-modal .review-text-block{
	max-height: 364px;
	min-height: 364px;
	overflow: auto;
	padding-right: 8px;
	margin-bottom: 32px;
}

.reviews-content > div .review-item.review-modal .review-text-block::-webkit-scrollbar {
    width: 5px;
}

.reviews-content > div .review-item.review-modal .review-text-block::-webkit-scrollbar-track {
    background-color: var(--gray)
}

.reviews-content > div .review-item.review-modal .review-text-block::-webkit-scrollbar-thumb {
    background-color: var(--black)
}

.reviews-content > div .review-item.review-modal .review-text-block .main-text span{
	padding: 0px;
}

.review-modal-close{
	cursor: pointer;
}

.reviews-tabs-block .tabs::-webkit-scrollbar {
	display: none;
}
 
.reviews-tabs-block .tabs {	
	-ms-overflow-style: none; 
	scrollbar-width: none;
}

@media (max-width: 1439px) {
	.reviews-content .reviews-content-wrap{
		grid-template-columns: repeat(3, 1fr); 
		grid-template-rows: repeat(3, 1fr); 
	}

	.reviews-content > div .review-item {
		min-height: 530px;
		max-height: 530px;
        max-width: 100%;
	}

    .reviews-content > div .review-item .reviews-video video{
        min-height: 474px;
		max-height: 474px;
    }
}

@media (max-width: 1180px) {
	.page .top-page-banner{
		padding: 16px 16px 40px;
	}

    .reviews-content{
        padding: 40px 0;
    }

	.reviews-content .pagination-block {
		margin-top: 62px;
	}

    .reviews-tabs-block .tabs {
        white-space: nowrap;
        overflow-x: auto;
		margin-top: 24px;
    }

    .reviews-content .reviews-content-wrap{
		grid-template-columns: repeat(2, 1fr); 
		grid-template-rows: repeat(2, 1fr); 
	}

	.reviews-content > div .review-item {
		min-height: 560px;
		max-height: 560px;
        max-width: 100%;
	}

	.review-modal-title{
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 24px;
	}

	.reviews-content > div .review-item.review-modal{
		padding: 24px 16px;
	}

	.review-modal-close svg{
		width: 26px;
		height: 26px;
	}

    .reviews-content > div .review-item .reviews-video video{
        min-height: 502px;
		max-height: 502px;
    }
}

@media (max-width: 767px) {
	.page .top-page-banner{
		padding: 16px 16px 32px;
	}

	.reviews-content .pagination-block {
		margin-top: 32px;
	}

	.reviews-content .reviews-content-wrap{
		grid-template-columns: repeat(1, 1fr); 
		grid-template-rows: repeat(1, 1fr); 
	}

	.reviews-content > div .review-item {
		min-height: 530px;
		max-height: 530px;
	}

	.reviews-content > div .review-item.review-modal{
		top: auto;
		bottom: 0;
		transform: translate(-50%, 0);
	}
}

@media (max-width: 1024px) and (min-height: 726px) {
	.reviews-content > div .review-item.review-modal .review-text-block{
		max-height: 426px;
	}
}

@media (max-height: 725px) {
	.reviews-content > div .review-item.review-modal .review-text-block{
		max-height: 364px;
	}
}