.opros-wrap {
	background: #eff3ff;
	font-size: 10px;
	padding: 15px;
}
.opros-wrap input[type="checkbox"], .opros-wrap input[type="radio"] {
	margin-right: 3px;
}
.opros-wrap input[type="text"] {
	font-size: 11px;
	width: 110px;
}
.opros-wrap h3 {
	color: #6f0e30;
	margin-bottom: 9px;
}
.ques-text {
	margin-bottom: 4px;
	color: #798fc1;
	font-size: 11px;
}
.ques-item {
	margin-bottom: 12px;
}