// $dark-60: rgba(0, 0, 0, .6);
$blue: #2B418B;
$green: #4C9F69;
// $family: "Stag Sans", sans-serif;


.bg--blue {
	background: #0827C4 !important;
	color: #fff !important;

	&.start {
		* {
			color: #fff;
		}

		.breadcrumbs svg > path {
			fill: #fff;
		}
	}
}

.bg--lightblue {
	background: linear-gradient(90deg, #2F6298 0%, #438DB0 100%) !important;
	color: #fff !important;

	&.start {
		* {
			color: #fff;
		}

		.breadcrumbs svg > path {
			fill: #fff;
		}
	}
}

.bg--green {
	background: linear-gradient(79.51deg, #2A418B 0%, #4DA567 100%) !important;
	color: #fff !important;

	.breadcrumbs svg > path {
		fill: #fff;
	}
}

.bg--gray {
	background: #F8F7F7 !important;
	color: #000 !important;

	&.start {
		* {
			color: #000;
		}

		.breadcrumbs svg > path {
			fill: #000;
		}
	}
}