.best-workers-block {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 72px 0;
}

.best-workers-block .best-workers-default {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
}

.best-workers-block .best-workers-default .best-workers-default_item {
    border: 1px solid var(--button-blue);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 154px;
    min-width: 421px;
    max-width: 421px;
    transition: all 0.3s;
}

.best-workers-block .best-workers-default .best-workers-default_item span {
    color: var(--button-blue);
    text-align: center;
    max-width: 230px;
}

.best-workers-block .best-workers-default .best-workers-default_item:hover {
    background-color: var(--button-blue);
}

.best-workers-block .best-workers-default .best-workers-default_item:hover span {
    color: var(--white);
}

.best-workers-block .best-workers-default .best-workers-default_item:nth-child(2),
.best-workers-block .best-workers-default .best-workers-default_item:nth-child(3) {
    border-left: none;
}

.best-workers-return-elem {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 0 73px;
    transition: all 0.3s;
}

.best-workers-return-elem .best-workers-return-elem_icon {
    min-width: 56px;
    max-width: 56px;
    min-height: 56px;
    max-height: 56px;
    border: 1px solid var(--button-blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-workers-return-elem .best-workers-return-elem_icon span {
    color: var(--button-blue);
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}

.best-workers-return-elem > span {
    max-width: 230px;
    color: var(--button-blue);
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}

.best-workers-return-elem:hover .best-workers-return-elem_icon {
    background-color: var(--button-blue);
}

.best-workers-return-elem:hover .best-workers-return-elem_icon span {
    color: var(--white);
}

@media (max-width: 1550px) {
    .best-workers-block .best-workers-default .best-workers-default_item {
        min-width: 350px;
        max-width: 350px;
    }

    .best-workers-return-elem {
        padding: 0 40px;
    }
}

@media (max-width: 1350px) {
    .best-workers-block {
        flex-direction: column;
    }
}

@media (max-width: 1180px) {
    .best-workers-block {
        padding: 24px 0 40px;
    }
}

@media (max-width: 1070px) {
    .best-workers-block .best-workers-default {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .best-workers-block .best-workers-default .best-workers-default_item {
        max-width: 100%;
        min-width: 100%;
    }

    .best-workers-block .best-workers-default .best-workers-default_item:nth-child(2), .best-workers-block .best-workers-default .best-workers-default_item:nth-child(3) {
        border-left: 1px solid var(--button-blue);
        border-top: none;
    }

    .best-workers-block .best-workers-default .best-workers-default_item span {
        max-width: 500px;
    }

    .best-workers-return-elem {
        padding: 0;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .best-workers-return-elem > span {
        max-width: 100%;
        font-size: 16px;
        line-height: 22px;
    }

    .best-workers-return-elem .best-workers-return-elem_icon {
        min-width: 32px;
        max-width: 32px;
        min-height: 32px;
        max-height: 32px;
    }
}