.best_worker-h2{
    font-size: 56px;
    line-height: 72px;
    margin-bottom: 56px;
}

.best_worker-desc{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0;
}

.best_worker-desc + .best_worker-desc{
    margin-top: 24px;
}

.best_worker-title-block{
    padding: 100px 0;
}

.best_worker-block{
    display: flex;
}

.best_worker-block-wrap{
    padding: 100px 0 120px;
    border-top: 1px solid #B2B2B2;
}

.best_worker-item{
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 402px;
    min-height: 554px;
    margin: 0 12px;
}

.best_worker-item:first-child{
    margin-left: 0;
}

.best_worker-item:last-child{
    margin-right: 0;
}

.best_worker-item-name{
    min-height: 152px;
    padding: 32px 24px;
    text-align: center;
    background-color: var(--gray);
}

.best_worker-item-name,
.best_worker-item-hover .best_worker-item-name{
    font-size: 32px;
    line-height: 44px;
}

.best_worker-item-img{
    max-height: 402px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--gray);
}

.best_worker-item-hover{
    opacity: 0;
    position: absolute;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.best_worker-item:hover .best_worker-item-hover{
    opacity: 1;
    position: absolute;
    z-index: 1;
    background-color: #254685D9;
    backdrop-filter: blur(15px);
    padding-bottom: 32px;
    top: 0;
}

.best_worker-item:hover .best_worker-item-img{
    max-height: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
}

.best_worker-item-hover .best_worker-item-name{
    color: var(--white);
    background-color: transparent;
}

.best_worker-item-text{
    padding: 0 24px 0px;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    line-clamp: 11;
    box-orient: vertical;
    margin-bottom: 16px;
}

.best_worker-item-link{
    margin-top: auto;
    padding: 0 24px ;
}

.best_worker-item-link a{
    background-color: var(--white);
    width: 100%;
    display: block;
    text-align: center;
    color: #2B418B;
    line-height: 54px;
    cursor: pointer;
}

@media (max-width: 1180px) {
    .slick-slide.best_worker-item{
        width: auto;
        max-width: none;
        margin: 0;
        padding: 0 12px;
        min-height: auto;
        min-height: 472px;
    }

    .best_worker-block-wrap{
        border-top: none;
    }

    .best_worker-block-wrap .slick-list{
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: 24px;
    }

    .best_worker-item:last-child{
        padding-right: 0;
    }

    .best_worker-item-img{
        height: 360px;
    }

    .best_worker-h2{
        font-size: 22px;
        line-height: 1.4;
        margin-bottom: 24px;
    }

    .best_worker-title-block{
        padding: 40px 0;
    }

    .best_worker-block-wrap{
        padding: 0;
        background-color: transparent;
    }

    .best_worker-item-name{
        min-height: unset;
        font-size: 24px;
        line-height: 100%;
        min-height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .best_worker-block-wrap .slick-dots{
        position: static;
        margin-top: 50px;
    }

    .best_worker-block-wrap .slick-dots li button:before{
        display: none;
    }

    .best_worker-block-wrap .slick-dots li{
        width: 14px;
        height: 14px;
        border-radius: 14px;
        background-color: #B2B2B2;
        margin: 0 4.5px;
    }

    .best_worker-block-wrap  .slick-dots li button{
        width: 14px;
        height: 14px;
        padding: 0;
    }

    .best_worker-block-wrap .slick-dots li.slick-active{
        background-color: #0827C4;
    }

    .best_worker-block-wrap .slick-dotted.slick-slider{
        margin-bottom: 0;
        padding-bottom: 9.5px;
    }

    .best_worker-block-wrap .slick-arrow{
        background: url(images/arrow.png)no-repeat center center;
        bottom: 0;
        top: auto;
        transform: rotate(180deg);
        margin-top: 0;
        width: 45px;
        height: 33px;
    }

    .best_worker-block-wrap .slick-arrow:hover,
    .best_worker-block-wrap .slick-arrow:focus{
        background: url(images/arrow.png)no-repeat center center;
    }

    .best_worker-block-wrap .slick-arrow.slick-prev{
        left: 16px;
    }

    .best_worker-block-wrap .slick-arrow.slick-next{
        right: 16px;
        transform: rotate(360deg);
    }
}