.course-detail-block,
.course-detail-block div,
.course-detail-block span,
.course-detail-block p,
.course-detail-block b,
.course-detail-block i,
.course-detail-block ul,
.course-detail-block li,
.course-detail-block ol,
.course-detail-block h1,
.course-detail-block h2,
.course-detail-block h3,
.course-detail-block h4,
.course-detail-block h5,
.course-detail-block h6 {
    font-family: 'Noto Sans';
}

.videos-items .slick-list {
    overflow: hidden;
}

.videos-items .trainer-courses-block .slick-list,
.videos-items .trainer-courses-block .slick-list .slick-track {
    display: flex;
    align-items: stretch;
}

.videos-items .slick-dots {
    position: unset;
    margin-top: 32px;
}

.videos-items .slick-dots li,
.videos-items .slick-dots li button {
    width: 8px;
    height: 8px;
}

.videos-items .slick-dots li {
    margin: 0 4px;
}

.videos-items .slick-dots li button:before {
    width: 8px;
    height: 8px;
    font-size: 10px;
}

.videos-items .slick-dots li.slick-active button::before {
    opacity: 1;
    color: var(--button-blue);
}

.videos-items .slick-dots li button:hover::before {
    color: var(--button-blue);
}

.videos-block h3 {
    margin-bottom: 56px;
    color: var(--black);
    font-size: 56px;
    line-height: 72px;
}

.videos-block .videos-items .video-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 24px;
}

.videos-block .videos-items .video-item:last-child {
    margin-right: 0;
}

.videos-block .videos-items .video-item img {
    padding: 8px;
    width: 100%;
    background-color: var(--white);
}

.videos-block .videos-items .video-item span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn-timetable {
    display: flex;
    padding-top: 24px;
    justify-content: center;
}

.btn-timetable a {
    display: block;
    padding: 15px 40px;
    border: none;
    outline: none;
    background-color: var(--button-blue);
    color: var(--white);
    width: fit-content;
    cursor: pointer;
    font-size: 20px;
}

.btn-timetable a:hover {
    color: var(--white);
}

.timetable-item.quarter{
    min-height: 160px !important;
}

.timetable-item .date-info{
    width: 18%;
    display: inline-block;
}

.timetable-item .date-info-mobile{
    display: none;
}

.timetable-item .trener-info{
    width: 22%;
    display: inline-block;
}

.timetable-item.quarter .trener-info a{
    margin-left: 0px !important;
}

.timetable-item .code-icon-wrap{
    width: 22%;
    display: inline-block;
}

.timetable-item .code-icon-wrap .code-icon-right{
    float: right;
    text-align: center;
}

.timetable-item .price-info{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.timetable-item .price-info.course-sale{
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.timetable-item .sign-date-btn{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.time-wrapper-left{
    text-align: left;
}

.time-wrapper-left>div,
.time-wrapper{
    font-size: 16px;
    line-height: 24px;
}

.time-wrapper-left .time{
    text-decoration: underline;
    position: relative;
}

.time-wrapper-left .time.time-with-tooltip{
    cursor: pointer;
}

.time-wrapper-left .time:hover .tooltip{
    display: block!important;
}

.time-wrapper-left .time:hover .tooltip{
    display: block!important;
}

.time-wrapper-left .time-with-tooltip .tooltip svg{
    position: absolute;
    top: -8px;
    left: auto;
    margin-left: 0px;
}

.top-page-banner.course-detail .container .banner-content p.f-16 {
    font-size: 16px;
    line-height: 24px;
}

.top-page-banner.course-detail .banner-content {
    max-width: 100% !important;
    display: flex;
    align-items: start;
    gap: 56px;
}

.top-page-banner.course-detail .banner-content .left-banner-block {
    max-width: 1294px;
    width: 100%;
}

.top-page-banner.course-detail .banner-content .left-banner-block .course-code {
    margin-bottom: 16px;
    color: #7B7B7B;
}

.top-page-banner.course-detail .banner-content .left-banner-block h1 {
    margin: 0;
}

.top-page-banner.course-detail .banner-content .left-banner-block .tags-banner-block {
    display: flex;
    gap: 4px;
    align-items: stretch;
    margin-top: 16px;
}

.top-page-banner.course-detail .banner-content .left-banner-block .tags-banner-block .banner-tag {
    background-color: var(--lime);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.top-page-banner.course-detail .banner-content .left-banner-block .short-description {
    margin: 40px 0 0 0;
}

.top-page-banner.course-detail .banner-content .left-banner-block .top-course-info {
    margin-top: 56px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.top-page-banner.course-detail .banner-content .left-banner-block .top-course-info .top-course-info_item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.top-page-banner.course-detail .banner-content .left-banner-block .top-course-info .top-course-info_item .top-course-info_item-icon {
    padding: 12px;
}

.top-page-banner.course-detail .banner-content .left-banner-block .top-course-info .top-course-info_item .top-course-info_item-text {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.top-page-banner.course-detail .banner-content .left-banner-block .top-course-info .top-course-info_item .top-course-info_item-text p {
    margin: 0;
    font-size: 20px;
    line-height: 32px;
}

.top-page-banner.course-detail .banner-content .left-banner-block .top-course-info .top-course-info_item .top-course-info_item-text p.show-diplom-btn,
.top-page-banner.course-detail .banner-content .left-banner-block .top-course-info .top-course-info_item .top-course-info_item-text p.show-format-btn {
    color: var(--button-blue);
    cursor: pointer;
}

.top-page-banner.course-detail .banner-content .right-banner-block {
    margin-top: 90px;
}

.top-page-banner.course-detail .banner-content .right-banner-block,
.course-content .right-content-block {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.top-page-banner.course-detail .banner-content .right-banner-block .price-course-block,
.course-content .right-content-block .price-course-block {
    display: flex;
    align-items: end;
    gap: 16px;
    margin-bottom: 8px;
}

.top-page-banner.course-detail .banner-content .right-banner-block p,
.course-content .right-content-block p {
    margin: 0;
}

.top-page-banner.course-detail .banner-content .right-banner-block p.f-20 {
    font-size: 20px;
    line-height: 28px;
}

.top-page-banner.course-detail .banner-content .right-banner-block .price-course-block .old-course-price {
    white-space: nowrap;
}

.top-page-banner.course-detail .banner-content .right-banner-block .price-course-block .old-course-price,
.course-content .right-content-block .price-course-block .old-course-price {
    color: #7B7B7B;
    margin-bottom: 6px;
    position: relative;
}

.top-page-banner.course-detail .banner-content .right-banner-block .price-course-block .old-course-price:after,
.course-content .right-content-block .price-course-block .old-course-price:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #F11F1F99;
    opacity: 0.6;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 15px;
    transform: rotate(-12deg);
}

.top-page-banner.course-detail .banner-content .right-banner-block .price-course-block .course-price,
.course-content .right-content-block .price-course-block .course-price {
    color: var(--black);
    font-size: 56px;
    line-height: 72px;
    font-weight: 400;
    white-space: nowrap;
}

.top-page-banner.course-detail .banner-content .right-banner-block .return-money-block,
.course-content .right-content-block .return-money-block {
    color: var(--button-blue);
}

.top-page-banner.course-detail .banner-content .right-banner-block .btn-main,
.course-content .right-content-block .btn-main {
    margin-top: 24px;
}

.course-content {
    display: flex;
    align-items: start;
    gap: 24px;
    justify-content: space-between;
    padding: 100px 20px 140px !important;
}

.course-content .left-content-block {
    max-width: 1294px;
    width: 100%;
}

.course-content .left-content-block .info-lang-block {
    background-color: var(--button-blue);
    width: 100%;
    padding: 32px;
}

.course-content .left-content-block .info-lang-block h5,
.course-content .left-content-block .info-lang-block p,
.course-content .left-content-block .info-lang-block a {
    margin: 0;
    color: var(--white);
}

.course-content .left-content-block .info-lang-block h5 {
    margin-bottom: 8px;
}

.course-content .left-content-block .info-lang-block a {
    text-decoration: underline;
}

.course-content .left-content-block h2 {
    margin: 100px 0 32px;
    color: var(--black);
    font-weight: 400;
    font-size: 56px;
    line-height: 72px;
}

.left-content-block > h2:first-child {
    margin-top: 0;
}

.course-content .left-content-block .for-course-block {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.course-content .left-content-block .for-course-block .for-course-item {
    padding: 10px;
    display: flex;
    align-items: center;
}

.course-content .left-content-block .for-course-block .for-course-item img {
    max-width: 72px;
    max-height: 72px;
}

.course-content .left-content-block .for-course-block .for-course-item span {
    display: block;
    margin-left: 13px;
}

.course-content .left-content-block .skills-improved-block {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
}

.course-content .left-content-block .skills-improved-block .skill-course-item {
    padding: 8px 16px;
    background-color: var(--lime);
}

.course-content .left-content-block .themes-block .theme-item-block {
    border-bottom: 1px solid var(--black);
    padding: 20px 0;
    cursor: pointer;
}

.course-content .left-content-block .themes-block .theme-item-block .theme-item-content {
    display: flex;
    align-items: start;
    gap: 10px;
}

.course-content .left-content-block .themes-block .theme-item-block .theme-item-content .theme-item-icons-block {
    margin-left: auto;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
}

.course-content .left-content-block .themes-block .theme-item-block .theme-item-content .theme-item-icons-block svg {
    width: 100%;
    height: 100%;
}

.course-content .left-content-block .themes-block .theme-item-block .theme-item-content .theme-item-icons-block .minus {
    display: none;
}

.course-content .left-content-block .themes-block .theme-item-block .theme-hidden-content {
    display: none;
}

.course-content .left-content-block .themes-block .theme-item-block.none {
    pointer-events: none;
}

.course-content .left-content-block .themes-block .theme-item-block.active {
    padding: 24px 32px 40px;
    background-color: var(--gray);
}

.course-content .left-content-block .themes-block .theme-item-block.active .theme-item-content .num {
    padding: 0 4px;
    background-color: var(--button-blue);
    color: var(--white);
}

.course-content .left-content-block .themes-block .theme-item-block.active .theme-item-content .theme-item-icons-block .minus {
    display: block;
}

.course-content .left-content-block .themes-block .theme-item-block.active .theme-item-content .theme-item-icons-block .arrow {
    display: none;
}

.course-content .left-content-block .themes-block .theme-item-block.active .theme-hidden-content {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.course-content .left-content-block .themes-block .theme-item-block.active .theme-hidden-content ul li {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.course-content .left-content-block .themes-block .theme-item-block.active .theme-hidden-content ul li:last-child {
    margin-bottom: 0;
}

.course-content .left-content-block .themes-block .theme-item-block.active .theme-hidden-content ul li:before {
    content: '';
    height: 1px;
    width: 21px;
    display: block;
    background-color: var(--black);
}

.background-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--black);
    opacity: 0.4;
    z-index: 1000;
    display: none;
}

.diploma-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    max-width: 956px;
    width: 100%;
    height: 691px;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    position: fixed;
    display: none;
}

.format-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    position: fixed;
    display: none;
}

.diploma-modal .diploma-modal-content img,
.format-modal .format-modal-content img {
    max-width: 800px;
    max-height: 650px;
}

.diploma-modal-close-btn,
.format-modal-close-btn {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 96px;
    height: 96px;
    z-index: 1001;
    background-color: var(--white);
}

.diploma-modal-close-btn svg,
.format-modal-close-btn svg {
    max-width: 48px;
    min-width: 48px;
    max-height: 48px;
    min-height: 48px;
}

.course-content .left-content-block .what-learn-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-items: start;
}

.course-content .left-content-block .what-learn-block .what-learn-item {
    display: flex;
    align-items: start;
    gap: 16px;
    flex-direction: column;
}

.course-content .left-content-block .what-learn-block .what-learn-item .num {
    padding: 0 4px;
    background-color: var(--button-blue);
    color: var(--white);
}

.leader-block {
    width: 100%;
    background-color: var(--light-gray);
    padding: 80px;
}

.leader-block .top-leader-block {
    display: flex;
    align-items: start;
    gap: 40px;
}

.leader-block .top-leader-block .trainer-image-block {
    height: 282px;
    max-width: 282px;
    width: 100%;
}

.leader-block .top-leader-block .trainer-image-block img {
    width: 100%;
    height: 100%;
}

.leader-block .top-leader-block .trainer-info-block {
    padding: 24px 24px 24px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.leader-block .top-leader-block .trainer-info-block h3 {
    color: var(--black);
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
}

.leader-block .top-leader-block .trainer-info-block .trainer-short-desc-block {
    background: linear-gradient(90.43deg, #0827C4 0%, #14B4C8 100%);
    padding: 4px 16px;
}

.leader-block .top-leader-block .trainer-info-block .trainer-short-desc-block span {
    color: var(--white);
}

.leader-block .trainer-main-info-block {
    margin-top: 56px;
}

.leader-block .trainer-main-info-block .first-experience-block {
    margin-bottom: 56px;
}

.leader-block .trainer-main-info-block .first-experience-block p,
.leader-block .trainer-main-info-block .trainer-experience-block p {
    margin-bottom: 6px;
    color: var(--black);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.leader-block .trainer-main-info-block .first-experience-block p:first-child,
.leader-block .trainer-main-info-block .trainer-experience-block p:first-child {
    color: var(--black);
    font-weight: 400;
    font-size: 56px;
    line-height: 72px;
}

.leader-block .trainer-main-info-block .first-experience-block p:last-child,
.leader-block .trainer-main-info-block .trainer-experience-block p:last-child {
    margin: 0;
}

.leader-block .trainer-main-info-block .trainer-experience-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;
}

.leader-block .trainer-main-info-block > h4 {
    margin-top: 56px;
    margin-bottom: 24px;
    color: var(--black);
    font-weight: 500;
    font-size: 34px;
    line-height: 52px;
}

.leader-block .trainer-main-info-block .about-projects-block {
    color: var(--black);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.leader-block .trainer-main-info-block .clients-block {
    display: flex;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
}

.leader-block .trainer-main-info-block .clients-block .clients-item {
    max-width: 280px;
}

.leader-block .trainer-main-info-block .clients-block .clients-item img {
    max-width: 100%;
}

.leader-block .trainer-main-info-block .clients-block .clients-item p {
    margin: 0;
}

.leader-block .trainer-main-info-block .cert-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.leader-block .trainer-main-info-block .cert-block .cert-item {
    display: flex;
    gap: 32px;
    align-items: start;
}

.leader-block .trainer-main-info-block .cert-block .cert-item .cert-picture {
    max-width: 154px;
    min-width: 154px;
    width: 100%;
}

.leader-block .trainer-main-info-block .cert-block .cert-item .cert-picture img {
    width: 100%;
}

.leader-block .trainer-main-info-block .cert-block .cert-item .cert-picture p {
    margin: 0;
}

.leader-block .trainer-main-info-block .trainer-org {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.leader-block .trainer-main-info-block .trainer-org li {
    display: flex;
    gap: 12px;
    align-items: start;
    color: var(--black);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.leader-block .trainer-main-info-block .trainer-org li:before {
    content: '';
    display: block;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    background-image: url("/local/components/luxoft/courses.detail/templates/.default/images/training_li.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.reviews-main-block {
    padding: 100px 0 140px !important;
}

.reviews-main-block .reviews-top-block .reviews-top-block_buttons,
.reviews-main-block .reviews-tabs-block,
.our-students-block .our-clients-h3 {
    display: none !important;
}

.reviews-main-block .reviews-top-block h2 {
    font-size: 56px !important;
    line-height: 72px !important;
}

.our-students-block {
    background-color: var(--gray);
    padding-bottom: 140px;
}

.our-students-block h2,
.linked-courses-title-block h2 {
    color: var(--black);
    font-weight: 400;
    font-size: 56px;
    line-height: 72px;
    padding: 100px 0 56px;
}

.our-students-block .container.our-clients-block {
    margin-bottom: 0 !important;
}

.linked-courses-block {
    display: flex;
    padding: 0 40px 140px;
    align-items: center;
    margin-bottom: 0 !important;
    gap: 24px;
}

.linked-courses-block .slick-track {
    margin: 0;
}

.linked-courses-block .linked-course-block {
    background-color: var(--gray);
    border-bottom: 1px solid var(--black);
    padding: 24px;
    margin-right: 24px;
    display: flex !important;
    flex-direction: column;
}

.linked-courses-block .linked-course-block:last-child {
    margin-right: 0;
}

.linked-courses-block .linked-course-block .linked-course-top-block {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.linked-courses-block .linked-course-block .linked-course-top-block .linked-course-duration {
    margin-left: auto;
    padding: 8px 16px;
    background-color: var(--white);
}

.linked-courses-block .linked-course-block .course-name {
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.linked-courses-block .linked-course-block .course-description {
    margin-bottom: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.linked-courses-block .linked-course-block .linked-course-bottom-block {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-top: auto;
}

.linked-courses-block .linked-course-block .linked-course-bottom-block .course-price {
    margin-left: auto;
    margin-bottom: 0;
}

.linked-courses-block .linked-course-block .linked-course-bottom-block .linked-course-complexity {
    padding: 8px 16px;
    background-color: var(--white);
}

.linked-courses-block .slick-dots {
    position: unset;
    margin-top: 48px;
}

.linked-courses-block .slick-dots li,
.linked-courses-block .slick-dots li button {
    width: 14px;
    height: 14px;
}

.linked-courses-block .slick-dots li {
    margin: 0 4px;
}

.linked-courses-block .slick-dots li button::before {
    width: 14px;
    height: 14px;
    font-size: 12px;
}

.linked-courses-block .slick-dots li.slick-active button::before {
    opacity: 1;
    color: var(--button-blue);
}

.linked-courses-block .slick-dots li button:hover::before {
    color: var(--button-blue);
}

.linked-courses-block .slick-list,
.linked-courses-block .slick-list .slick-track {
    display: flex !important;
    align-items: stretch !important;
}

.linked-courses-block .slick-list {
    overflow: visible;
}

.mobile-detail-course-info-block {
    display: none;
}

@media (max-width: 1180px) {
    .top-page-banner.course-detail {
        padding: 16px;
    }

    .top-page-banner.course-detail .banner-content {
        flex-direction: column;
        gap: 24px;
    }

    .top-page-banner.course-detail .banner-content .left-banner-block .course-code {
        margin-bottom: 14px;
    }

    .top-page-banner.course-detail .banner-content .left-banner-block .tags-banner-block {
        margin-top: 12px;
        flex-wrap: wrap;
    }

    .top-page-banner.course-detail .banner-content .left-banner-block .short-description {
        margin: 16px 0 0 0;
    }

    .top-page-banner.course-detail .banner-content .left-banner-block .top-course-info .top-course-info_item .top-course-info_item-text p {
        font-size: 16px;
        line-height: 24px;
    }

    .top-page-banner.course-detail .banner-content .left-banner-block .top-course-info {
        margin-top: 16px;
        gap: 12px;
        flex-direction: column;
        align-items: start;
    }

    .top-page-banner.course-detail .banner-content .left-banner-block .top-course-info .top-course-info_item {
        gap: 16px;
    }

    .top-page-banner.course-detail .banner-content .left-banner-block .top-course-info .top-course-info_item .top-course-info_item-icon {
        padding: 8px;
    }

    .top-page-banner.course-detail .banner-content .left-banner-block .top-course-info .top-course-info_item .top-course-info_item-icon svg {
        max-width: 32px;
        max-height: 32px;
    }

    .top-page-banner.course-detail .banner-content .left-banner-block .top-course-info .top-course-info_item .top-course-info_item-icon img {
        max-width: 32px;
        max-height: 32px;
    }

    .top-page-banner.course-detail .banner-content .left-banner-block .top-course-info .top-course-info_item .top-course-info_item-text {
        gap: 0;
    }

    .top-page-banner.course-detail .banner-content .right-banner-block {
        align-items: start;
        width: 100%;
        margin-top: 0;
    }

    .top-page-banner.course-detail .banner-content .right-banner-block .price-course-block .course-price {
        font-size: 24px;
        line-height: 33px;
    }

    .top-page-banner.course-detail .banner-content .right-banner-block .price-course-block .old-course-price {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }

    .top-page-banner.course-detail .banner-content .right-banner-block .price-course-block .old-course-price::after {
        bottom: 11px;
        transform: rotate(-10deg);
    }

    .top-page-banner.course-detail .banner-content .right-banner-block .btn-main {
        padding: 15px 30px;
        width: 100%;
        text-align: center;
    }

    .top-page-banner.course-detail .banner-content .right-banner-block .btn-main span {
        font-size: 16px;
        line-height: 24px;
    }

    .course-content .right-content-block {
        display: none;
    }

    .course-content {
        padding: 40px 16px !important;
    }

    .course-content .left-content-block .info-lang-block {
        padding: 24px 16px;
    }

    .course-content .left-content-block h2 {
        margin: 40px 0 24px;
        font-size: 24px;
        line-height: 33px;
    }

    .linked-courses-block .linked-course-block {
        padding: 24px 16px;
    }

    .linked-courses-block {
        padding: 0 16px 72px;
    }

    .linked-courses-block .linked-course-block .linked-course-bottom-block .course-price,
    .linked-courses-block .linked-course-block .course-name {
        font-size: 20px;
        line-height: 27px;
    }

    .linked-courses-block .slick-dots {
        margin-top: 24px;
    }

    .linked-courses-block .slick-dots li button::before {
        width: 8px;
        height: 8px;
        font-size: 8px;
    }

    .linked-courses-block .slick-dots li,
    .linked-courses-block .slick-dots li button {
        width: 8px;
        height: 8px;
    }

    .our-students-block h2,
    .linked-courses-title-block h2 {
        padding: 40px 0 16px;
        font-size: 24px;
        line-height: 33px;
    }

    .our-students-block {
        padding-bottom: 40px;
    }

    .course-content .left-content-block .themes-block .theme-item-block .theme-item-content .f-32 {
        font-size: 16px;
        line-height: 22px;
    }

    .course-content .left-content-block .themes-block .theme-item-block {
        padding: 16px 0;
    }

    .course-content .left-content-block .themes-block .theme-item-block.active .theme-hidden-content {
        margin-top: 24px;
    }

    .course-content .left-content-block .themes-block .theme-item-block.none {
        pointer-events: none;
    }

    .course-content .left-content-block .themes-block .theme-item-block.active {
        padding: 16px 32px 24px;
    }

    .course-content .left-content-block .what-learn-block {
        grid-template-columns: repeat(1, 1fr);
    }

    .reviews-main-block {
        padding: 40px 0 !important;
    }

    .reviews-main-block .reviews-top-block {
        text-align: left !important;
        margin: 0 !important;
    }

    .reviews-main-block .reviews-top-block h2 {
        margin-bottom: 24px !important;
        font-size: 24px !important;
        line-height: 33px !important;
    }

    .mobile-detail-course-info-block {
        display: block;
        margin-top: 40px;
        width: 100%;
    }

    .mobile-detail-course-info-block .price-course-block {
        display: flex;
        align-items: end;
        gap: 16px;
        margin-bottom: 8px;
    }

    .mobile-detail-course-info-block .price-course-block p {
        margin: 0;
    }

    .mobile-detail-course-info-block .price-course-block p.old-course-price {
        position: relative;
        font-size: 16px;
        line-height: 24px;
    }

    .mobile-detail-course-info-block .price-course-block p.old-course-price:before {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #F11F1F99;
        opacity: 0.6;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 10px;
        transform: rotate(-12deg);
    }

    .mobile-detail-course-info-block .price-course-block p.course-price {
        font-size: 24px;
        line-height: 33px;
    }

    .mobile-detail-course-info-block p.f-20 {
        margin: 0;
    }

    .mobile-detail-course-info-block a {
        color: var(--button-blue);
    }

    .mobile-detail-course-info-block .btn-main.size-l {
        padding: 15px 30px;
        width: 100%;
        text-align: center;
        margin-top: 24px;
    }

    .mobile-detail-course-info-block .btn-main.size-l span {
        font-size: 16px;
        line-height: 24px;
    }

    .course-content .left-content-block .what-learn-block .what-learn-item {
        flex-direction: row;
    }

    .top-page-banner.course-detail .banner-content .right-banner-block p.f-20 {
        font-size: 16px;
        line-height: 24px;
    }

    .diploma-modal-close-btn,
    .format-modal-close-btn {
        width: 64px;
        height: 64px;
    }

    .diploma-modal .diploma-modal-content img,
    .format-modal .format-modal-content img {
        max-width: 400px;
        max-height: 250px;
    }

    .diploma-modal,
    .format-modal {
        max-width: 460px;
        height: 410px;
    }

    .timetable-item.quarter{
        min-height: 250px;
        padding: 16px !important;
        flex-wrap: wrap;
    }

    .timetable-item .date-info{
        display: none;
    }

    .timetable-item .date-info-mobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .timetable-item .sign-date-btn{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .timetable-item .trener-info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between !important;
    }

    .timetable-item .code-icon-wrap{
        width: 100%;
        display: flex;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .timetable-item .code-icon-wrap .code-icon-right{
        padding: 20px 0px;
        position: static;
    }

    .timetable-item .price-info{
        width: 100%;
        float: right;
        display: flex;
        align-items: flex-end;;
    }

    .timetable-item .price-info.course-sale{
        width: 100%;
        float: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .timetable-item .sign-date-btn .btn-main.size-l, .btn-timetable a{
        width: 100%;
        text-align: center;
        padding: 15px 30px;
    }

    .timetable-item .sign-date-btn .btn-main.size-l span, .btn-timetable a{
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    .leader-block {
        padding: 0;
        background-color: unset;
    }

    .leader-block .top-leader-block {
        gap: 24px;
        flex-direction: column;
    }

    .leader-block .top-leader-block .trainer-image-block {
        height: auto;
        max-width: 100%;
    }

    .leader-block .top-leader-block .trainer-info-block {
        padding: 0;
    }

    .leader-block .top-leader-block .trainer-info-block h3 {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 8px;
    }

    .leader-block .top-leader-block .trainer-info-block .trainer-short-desc-block {
        padding: 8px 16px;
        margin-bottom: 24px;
    }

    .leader-block .top-leader-block .trainer-info-block p {
        margin: 0;
        font-size: 20px;
        line-height: 27px;
    }

    .leader-block .trainer-main-info-block {
        margin-top: 32px;
    }

    .leader-block .trainer-main-info-block .trainer-experience-block {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }

    .leader-block .trainer-main-info-block .first-experience-block {
        margin-bottom: 24px;
    }

    .leader-block .trainer-main-info-block .first-experience-block p:first-child,
    .leader-block .trainer-main-info-block .trainer-experience-block p:first-child {
        font-size: 20px;
        line-height: 27px;
        font-weight: 700;
        margin-bottom: 6px;
    }

    .leader-block .trainer-main-info-block .first-experience-block p,
    .leader-block .trainer-main-info-block .trainer-experience-block p {
        font-size: 16px;
        line-height: 22px;
    }

    .leader-block .trainer-main-info-block > h4 {
        margin-top: 32px;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
    }

    .leader-block .trainer-main-info-block .cert-block .cert-item {
        gap: 16px;
        flex-direction: column;
    }

    .leader-block .trainer-main-info-block .cert-block .cert-item .cert-picture {
        max-width: 100%;
        min-width: unset;
    }

    .leader-block .trainer-main-info-block .cert-block .cert-item p {
        margin: 0;
    }

    .leader-block .trainer-main-info-block .cert-block .cert-item .cert-picture img {
        width: auto;
        max-width: 100%;
    }

    .leader-block .trainer-main-info-block .trainer-org li {
        font-size: 16px;
        line-height: 22px;
    }

    .timetable-item.quarter{
        min-height: 250px;
        padding: 16px !important;
        flex-wrap: wrap;
    }

    .timetable-item .date-info{
        display: none;
    }

    .timetable-item .date-info-mobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .timetable-item .trener-info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between !important;
    }

    .timetable-item .code-icon-wrap{
        width: 100%;
        display: flex;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .timetable-item .code-icon-wrap .code-icon-right{
        padding: 20px 0px;
        position: static;
    }

    .timetable-item .price-info{
        width: 100%;
        float: right;
        display: flex;
        align-items: flex-end;
        margin-right: 0px;
    }

    .timetable-item .price-info.course-sale{
        width: 100%;
        float: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 0px;
    }

    .timetable-item .sign-date-btn{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .timetable-item .sign-date-btn .btn-main.size-l, .btn-timetable a{
        width: 100%;
        text-align: center;
        padding: 15px 0px;
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .diploma-modal,
    .format-modal {
        max-width: 400px;
        height: 300px;
    }

    .diploma-modal-close-btn,
    .format-modal-close-btn {
        width: 48px;
        height: 48px;
    }

    .diploma-modal-close-btn svg,
    .format-modal-close-btn svg {
        max-width: 32px;
        min-width: 32px;
        max-height: 32px;
        min-height: 32px;
    }
}
.btn-add-to-cart {
    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 394px;
    height: 54px;
    padding: 32px 40px;
    gap: 10px;
    background: #2B418B;
    color: #F0F0F0;
    font-family: 'Stag Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    box-sizing: border-box;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-add-to-cart:active {
    background: #1F3279;
    transform: translateY(0);
}
.cart-btn-cont{
    display: flex;
    justify-content: center;
}