.our-clients-h3 {
    margin: 0 0 48px;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
}

.container.our-clients-block {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.our-clients-block .slick-track {
    display: flex;
    align-items: center;
}

.container.our-clients-block .our-clients-item {
    margin: 0 24px;
    max-height: 67px;
    height: 100%;
}

.container.our-clients-block .our-clients-item img {
    height: 100%;
    max-height: 67px;
}

.container.our-clients-block .slick-list {
    overflow: visible;
}

.our-clients-h2{
    font-size: 56px;
    line-height: 72px;
    margin-bottom: 32px;
}

.our-clients-desc{
    font-size: 32px;
    line-height: 44px;
}

.our-clients-block-wrap{
    overflow: hidden;
}

@media (max-width: 1180px) {
    .our-clients-h3 {
        margin: 0 0 16px;
        font-size: 24px;
        line-height: 33px;
    }

    .container.our-clients-block .our-clients-item {
        margin: 0 12px;
    }

    .container.our-clients-block {
        margin-bottom: 40px;
    } 
}

@media (max-width: 1023px) {
    .our-clients-h2{
        font-size: 24px;
        line-height: 32.69px;
        margin-bottom: 24px;
    }
    
    .our-clients-desc{
        font-size: 20px;
        line-height: 27.24px;
    }
}