.page._content,
.page._content div,
.page._content p,
.page._content span,
.page._content ul,
.page._content li,
.page._content ol,
.page._content b,
.page._content i,
.page._content h1,
.page._content h2,
.page._content h3,
.page._content h4,
.page._content h5,
.page._content h6,
.page._content a {
    font-family: 'Noto Sans';
}

.top-page-banner .container .banner-content {
    max-width: 1157px !important;
}

.top-page-banner .container .banner-content h1 span {
    display: block;
    width: fit-content;
}

.top-page-banner .container .banner-content .trainer-tags {
    margin-top: 56px;
    display: flex;
    align-items: center;
    gap: 56px;
    flex-wrap: wrap;
}

.top-page-banner .container .banner-content .trainer-tags > div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.top-page-banner .container .buttons-block-banner {
    margin-top: 48px;
}

.top-page-banner .container .buttons-block-banner img {
    max-width: 314px;
}

.top-page-banner .container {
    align-items: start !important;
}

.detail-trainer-block {
    margin-top: 60px !important;
    margin-bottom: 120px !important;
}

.detail-trainer-block h3 {
    margin: 56px 0 16px;
    color: var(--black);
    font-size: 42px;
    line-height: 60px;
}

.detail-trainer-block h5 {
    margin: 56px 0 24px;

}

.detail-trainer-block ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.detail-trainer-block ul li {
    display: flex;
    align-items: start;
    gap: 12px;
    color: var(--black);
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
}

.detail-trainer-block ul li:before {
    content: '';
    display: block;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    background-image: url("/local/templates/ibs-training_new/components/bitrix/news/trainers/bitrix/news.detail/trainer.detail/images/arrow_ul_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.trainer-gray-block {
    background-color: var(--gray);
    padding: 120px 0;
    margin-top: 120px;
}

.trainer-gray-block h3,
.trainer-courses h3 {
    margin-bottom: 56px;
    color: var(--black);
    font-size: 56px;
    line-height: 72px;
}

.trainer-gray-block .videos-block {
    margin-top: 100px;
}

.trainer-gray-block .videos-block .videos-items .video-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 24px;
}

.trainer-gray-block .videos-block .videos-items .video-item:last-child {
    margin-right: 0;
}

.trainer-gray-block .videos-block .videos-items .video-item img {
    padding: 8px;
    width: 100%;
    background-color: var(--white);
}

.trainer-gray-block .videos-block .videos-items .video-item iframe {
    padding: 8px;
    width: 100%;
    background-color: var(--white);
}

.trainer-gray-block .videos-block .videos-items .video-item span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.trainer-gray-block .certificates-container .certificate-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 402px;
    background-color: var(--white);
    position: relative;
    padding: 8px;
    transition: all 0.3s;
    margin-right: 24px;
}

.trainer-gray-block .certificates-container .certificate-item:last-child {
    margin-right: 0;
}

.trainer-gray-block .certificates-container .certificate-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--black);
    opacity: 0.4;
    display: none;
    z-index: 1;
}

.trainer-gray-block .certificates-container .certificate-item svg {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display: none;
    z-index: 2;
}

.trainer-gray-block .certificates-container .certificate-item:hover:before,
.trainer-gray-block .certificates-container .certificate-item:hover svg {
    display: block;
}

.trainer-gray-block .certificates-container .certificate-item img {
    width: 100%;
}

.trainer-courses {
    margin: 100px 0 120px;
}

.trainer-courses .trainer-courses-block {
    padding: 0 40px;
}

.trainer-courses .trainer-courses-block .trainer-courses-item {
    background-color: var(--gray);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 24px;
    border-bottom: 1px solid var(--black);
}

.trainer-courses .trainer-courses-block .trainer-courses-item:last-child {
    margin-right: 0;
}

.trainer-courses .trainer-courses-block .trainer-courses-item .top-course-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trainer-courses .trainer-courses-block .trainer-courses-item .top-course-block .tags-course-block {
    display: flex;
    align-items: stretch;
    gap: 2px;
    margin-left: auto;
}

.trainer-courses .trainer-courses-block .slick-list,
.videos-items .slick-list,
.certificates-container .slick-list {
    overflow: visible;
}

.trainer-courses .trainer-courses-block .slick-list,
.trainer-courses .trainer-courses-block .slick-list .slick-track,
.videos-items .trainer-courses-block .slick-list,
.videos-items .trainer-courses-block .slick-list .slick-track {
    display: flex;
    align-items: stretch;
}

.trainer-courses .trainer-courses-block .trainer-courses-item .top-course-block .tags-course-block .tag-block {
    white-space: nowrap;
    padding: 8px 16px;
    background-color: var(--white);
}

.trainer-courses .trainer-courses-block .trainer-courses-item .course-name {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.trainer-courses .trainer-courses-block .trainer-courses-item .course-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.trainer-courses .trainer-courses-block .trainer-courses-item .course-price {
    margin-top: auto;
    margin-bottom: 0;
}

.trainer-courses .slick-dots,
.videos-items .slick-dots,
.certificates-container .slick-dots {
    position: unset;
    margin-top: 32px;
}

.trainer-courses .slick-dots li,
.trainer-courses .slick-dots li button,
.videos-items .slick-dots li,
.videos-items .slick-dots li button,
.certificates-container .slick-dots li,
.certificates-container .slick-dots li button {
    width: 8px;
    height: 8px;
}

.trainer-courses .slick-dots li,
.videos-items .slick-dots li,
.certificates-container .slick-dots li {
    margin: 0 4px;
}

.trainer-courses .slick-dots li button::before,
.videos-items .slick-dots li button:before,
.certificates-container .slick-dots li button:before {
    width: 8px;
    height: 8px;
    font-size: 10px;
}

.trainer-courses .slick-dots li.slick-active button::before,
.videos-items .slick-dots li.slick-active button::before,
.certificates-container .slick-dots li.slick-active button::before {
    opacity: 1;
    color: var(--button-blue);
}

.trainer-courses .slick-dots li button:hover::before,
.videos-items .slick-dots li button:hover::before,
.certificates-container .slick-dots li button:hover::before {
    color: var(--button-blue);
}

.certificates button.fancybox-button.fancybox-button--play,
.certificates button.fancybox-button.fancybox-button--fullscreen,
.certificates button.fancybox-button.fancybox-button--thumbs,
.video button.fancybox-button.fancybox-button--play,
.video button.fancybox-button.fancybox-button--fullscreen,
.video button.fancybox-button.fancybox-button--thumbs {
    display: none !important;
}

.certificates button.fancybox-button.fancybox-button--close,
.video button.fancybox-button.fancybox-button--close {
    width: 96px !important;
    height: 96px !important;
    background-color: var(--white) !important;
}

.certificates .fancybox-toolbar,
.video .fancybox-toolbar {
    opacity: 1 !important;
    visibility: visible !important;
}

.certificates .fancybox-button--close::before,
.certificates .fancybox-button--close::after,
.video .fancybox-button--close::before,
.video .fancybox-button--close::after {
    width: 37px !important;
    top: calc(48% - 1px) !important;
    left: calc(45% - 10px) !important;
    opacity: 1 !important;
    background-color: var(--black) !important;
}

.certificates .fancybox-slide .fancybox-image-wrap {
    max-width: 956px !important;
    width: 100% !important;
    height: 691px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white) !important;
}

.certificates .fancybox-slide .fancybox-image-wrap img {
    position: unset !important;
    height: fit-content !important;
    width: 83% !important;
}

.video .fancybox-slide--iframe .fancybox-content {
    width: 68%;
    height: 78%;
}

.video .fancybox-arrow,
.certificates .fancybox-arrow {
    opacity: 0.6 !important;
    width: 64px !important;
}

.video .fancybox-show-nav .fancybox-arrow[disabled],
.certificates .fancybox-show-nav .fancybox-arrow[disabled] {
    opacity: 0.3 !important;
}

.video .fancybox-arrow::after,
.certificates .fancybox-arrow::after {
    width: 64px !important;
    height: 64px !important;
    background-image: url("/local/templates/ibs-training_new/components/bitrix/news/trainers/bitrix/news.detail/trainer.detail/images/fancybox_icon.svg") !important;
    background-size: 32px !important;
}

.mobile-trainer-picture,
.mobile-tags-course-block {
    display: none;
}

@media (max-width: 1280px) {
    .trainer-gray-block .certificates-container .certificate-item {
        max-width: 481px;
        width: 100%;
        height: 481px;
    }

    .top-page-banner .container .banner-content .trainer-tags {
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }

    .trainer-gray-block {
        padding: 100px 0 120px;
    }
}

@media (max-width: 1220px) {
    .certificates .fancybox-slide .fancybox-image-wrap {
        max-width: 600px !important;
        height: 468px !important;
    }

    .video .fancybox-slide--iframe .fancybox-content {
        height: 60%;
    }
}

@media (max-width: 1180px) {
    .top-page-banner .container .banner-content .trainer-tags {
        margin-top: 16px;
    }

    .top-page-banner .container .banner-content .trainer-tags > div svg {
        width: 48px;
        height: 48px;
    }

    .top-page-banner .container .banner-content {
        max-width: unset;
    }

    .top-page-banner .container .buttons-block-banner img {
        max-width: 140px;
    }

    .top-page-banner .container {
        flex-direction: row !important;
    }

    .top-page-banner .container .buttons-block-banner {
        width: fit-content !important;
    }
}

@media (max-width: 1000px) {
    .mobile-tags-course-block {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-top: auto;
    }

    .mobile-tags-course-block .tag-block {
        background-color: var(--white);
        padding: 8px 16px;
    }

    .trainer-courses .trainer-courses-block .trainer-courses-item .top-course-block .tags-course-block {
        display: none;
    }

    .trainer-courses .trainer-courses-block {
        padding: 0 16px;
    }

    .trainer-gray-block h3,
    .trainer-courses h3 {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 33px;
    }

    .trainer-courses .trainer-courses-block .trainer-courses-item {
        padding: 16px;
        gap: 8px;
    }

    .trainer-courses .trainer-courses-block .trainer-courses-item .course-description {
        margin: 0;
        display: none;
    }

    .trainer-courses .trainer-courses-block .trainer-courses-item .course-price {
        margin: 16px 0;
        font-size: 20px;
        line-height: 27px;
    }

    .trainer-courses .trainer-courses-block .trainer-courses-item .course-name {
        -webkit-line-clamp: 3;
        font-size: 20px;
        line-height: 27px;
    }

    .trainer-courses {
        margin: 40px 0;
    }

    .trainer-gray-block .videos-block {
        margin-top: 32px;
    }

    .trainer-gray-block {
        padding: 40px 0;
        margin-top: 0;
    }

    .trainer-gray-block .certificates-container .certificate-item {
        max-width: 270px;
        height: 270px;
    }

    .detail-trainer-block h5 {
        margin: 24px 0;
    }

    .detail-trainer-block h3 {
        margin: 24px 0;
        font-size: 20px;
        line-height: 28px;
    }

    .detail-trainer-block ul li {
        font-size: 16px;
        line-height: 24px;
    }

    .detail-trainer-block {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
}

@media (max-width: 768px) {
    .certificates .fancybox-slide .fancybox-image-wrap {
        max-width: 300px !important;
        height: 215px !important;
    }

    .certificates button.fancybox-button.fancybox-button--close,
    .video button.fancybox-button.fancybox-button--close {
        width: 40px !important;
        height: 40px !important;
    }

    .certificates .fancybox-button--close::before,
    .certificates .fancybox-button--close::after,
    .video .fancybox-button--close::before,
    .video .fancybox-button--close::after {
        width: 24px !important;
    }

    .video .fancybox-arrow,
    .certificates .fancybox-arrow {
        width: 32px !important;
    }

    .video .fancybox-arrow::after,
    .certificates .fancybox-arrow::after {
        width: 32px !important;
        height: 32px !important;
        background-size: 24px !important;
    }

    .video .fancybox-slide--iframe .fancybox-content {
        height: 40%;
    }
}

@media (max-width: 550px) {
    .top-page-banner .container {
        flex-direction: column !important;
    }

    .top-page-banner .container .buttons-block-banner {
        display: none;
    }

    .mobile-trainer-picture {
        display: block;
        max-width: 120px;
        margin-bottom: 24px;
    }

    .video .fancybox-slide--iframe .fancybox-content {
        height: 20%;
    }
}