.seminar .top-page-banner{
    padding: 60px 0;
}

.seminar__order-title,
.seminar__section-title,
.trainer-heading{
    font-size: 56px;
    line-height: 72px;
    text-align: right;
    margin-bottom: 24px;
}

.seminar__audience-wrap{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.seminar__audience-item{
    background-color: var(--lime);
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 8px 18px;
    font-size: 16px;
    line-height: 24px;
}

.seminar__header{
    margin-top: 48px;
}

.seminar__time-date-place{
    display: flex;
    flex-wrap: wrap;
}

.seminar__time,
.seminar__date{
    margin-right: 56px;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 32px;
}

.seminar__time svg,
.seminar__date svg{
    margin-right: 24px;
}

.seminar__main{
    padding-top: 60px;
    padding-right: 24px;
}

.seminar__section{
    margin-bottom: 100px;
    font-size: 20px;
    line-height: 32px;
}

.seminar__section-title,
.trainer-heading{
    text-align: left;
    margin-bottom: 32px;
}

.seminar__section-description b,
.trainer-description-wrap b{
    font-weight: 600;
}

.seminar__section-description ul br{
    display: none;
}

.seminar__section-description ul li,
.trainer-description-wrap ul li{
    padding-left: 44px;
    background-image: url(images/icon-li.png);
    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom: 16px;
}

.seminar__section .seminar__audience-wrap{
    margin-top: 0;
    margin-bottom: -24px;
}

.seminar__section .seminar__audience-item{
    background-color: transparent;
    font-size: 20px;
    line-height: 27.24px;
    max-width: 360px;
    width: 100%;
    margin-right: 24px;
    margin-bottom: 24px;
    padding: 0;
    display: flex;
    align-items: center;
}

.seminar__section .seminar__audience-item::before{
    content: '';
    height: 72px;
    width: 72px;
    background: url(images/icon-how.jpg)no-repeat center center;
    background-size: contain;
    margin-right: 24px;
}

.seminar>.container{
    display: flex;
    margin-bottom: 100px;
}

.seminar__left .seminar__order-box{
    padding-top: 60px;
    position: sticky;
    top: 0;
}

.seminar__order-box .btn-main{
    max-width: 323px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.trainer-item{
    padding: 80px;
    background-color: #F8F7F7;
}

.trainer-header{
    display: flex;
    background-color: var(--white);
    margin-bottom: 56px;
}

.trainer-picture{
    width: 282px;
    height: 282px;
}

.trainer-picture>img{
    width: 100%;
}

.trainer-short-description{
    padding: 24px 0 0 40px;
}

.trainer-short-description a{
    font-size: 42px;
    line-height: 60px;
    color: var(--black);
}

.trainer-short-description a:hover{
    color: var(--button-blue);
}

.trainer-short-description span{
    display: block;
    color: #FFFFFF;
    margin-top: 8px;
    background: linear-gradient(90.43deg, #0827C4 0%, #C00219 100%);
    padding: 4px 16px 4px 16px;
    font-size: 18px;
    line-height: 32px;
}

.trainer-description-wrap{
    font-size: 20px;
    line-height: 32px;
}

.trainer-description-wrap p{
    margin-bottom: 32px;
}

.trainer-description-wrap h4{
    font-size: 34px;
    line-height: 52px;
    margin-bottom: 21px;
    margin-top: 56px;
}

.seminar__time-date-place.bottom{
    display: none;
}

.seminar__order-no{
    background-color: #B2B2B2!important;
}

.seminar__section-other{
    font-size: 34px;
    font-weight: 500;
    line-height: 52px;
    margin-bottom: 16px;
}

.seminar__section-other-links a{
    color: var(--button-blue);
    font-size: 20px;
    line-height: 32px;
    margin-right: 24px;
    white-space: nowrap;
}

.seminar__section-other-links a:hover{
    color: var(--black);
}

.seminar__order,
.seminar__order-box {
    font-size: 24px;
    line-height: 32.69px;
    white-space: nowrap;
}

@media (max-width:1180px) {
    .seminar__order,
    .seminar__order-box {
        font-size: 16px;
        line-height: 24px;
    }

    .seminar .top-page-banner{
        padding: 16px 16px 40px;
    }

    .seminar__header{
        margin-top: 8px;
    }

    .seminar__time svg, 
    .seminar__date svg{
        max-width: 48px;
        max-height: 48px;
    }

    .seminar__time-date-place > div{
        width: 100%;
    }

    .seminar__date{
        margin-top: 12px;
    }

    .seminar__order-title{
        font-size: 24px;
        line-height: 32.69px;
        text-align: left;
    }

    .seminar__order-title, 
    .seminar__section-title{
        font-size: 24px;
        line-height: 32.69px;
    }

    .trainer-heading{
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
    }

    .top-page-banner .container .buttons-block-banner a,
    .top-page-banner .container .buttons-block-banner span{
        line-height: 24px;
        max-width: 100%;
    }

    .top-page-banner .container .buttons-block-banner span{
        width: 100%;
        text-align: center;
        padding: 15px 40px;
    }

    .seminar>.container{
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .seminar>.container>div{
        width: 100%;
    }

    .seminar__main{
        padding-top: 40px;
        padding-right: 0;
    }

    .seminar__section{
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 22px;
    }

    .trainer-description-wrap{
        font-size: 16px;
        line-height: 22px;
    }

    .seminar__section .seminar__audience-item{
        max-width: 100%;
        margin-right: 0;
    }

    .trainer-item{
        padding: 0;
        background-color: transparent;
    }

    .seminar__left .seminar__order-title{
        display: none;
    }

    .seminar__time-date-place.bottom{
        display: block;
        margin-bottom: 24px;
    }

    .seminar__time-date-place.bottom{
        font-size: 20px;
        line-height: 32px;
    }

    .seminar__time-date-place.bottom b{
        font-size: 16px;
        line-height: 22px;
        display: block;
    }

    .seminar__time-date-place.bottom span{
        width: 100%;
        display: block;
    }

    .seminar__time-date-place.bottom .seminar__date{
        margin-top: 8px;
        flex-wrap: wrap;
    }

    .seminar__time-date-place.bottom .seminar__time{
        flex-wrap: wrap;
    }

    .seminar__left .seminar__order-box .btn-main{
        max-width: 100%;
        text-align: center;
        padding: 15px 40px;
        line-height: 24px;
    }

    .seminar__left .seminar__order-box{
        padding-top: 40px;
    }

    .trainer-description-wrap h4{
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        margin-top: 32px;
    }

    .trainer-header{
        margin-bottom: 32px;
    }

    .seminar__section-other{
        font-size: 18px;
        line-height: 26px;
        margin-top: 32px;             
    }
}

@media (max-width: 767px) {
    .trainer-picture{
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }

    .trainer-header{
        flex-wrap: wrap;
    }

    .trainer-short-description{
        width: 100%;
        padding: 24px 0 0 0;
    }

    .trainer-short-description a{
        font-size: 20px;
        line-height: 28px;
    }

    .seminar__time-date-place > div{
        margin-right: 0;
        font-size: 16px;
        line-height: 20px;
    }

    .seminar__section-other-links a + a{
        width: 100%;
        display: block;
        margin-top: 24px;
    }
}