.ibs-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 100px 120px;
	gap: 48px;
	max-width: 1920px;
	width: 100%;
	background: #F8F7F7;
	margin: 0 auto;
}

.ibs-title {
	width: 100%;
	margin: 0 auto;
	font-family: 'Stag Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 56px;
	line-height: 64px;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

@media screen and (max-width: 1080px) {
	.ibs-block {
		display: none;

	}
}
