.subscribe-main-page-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding-bottom: 97px !important;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    box-sizing: border-box;
}

.subscribe-main-page-block .main-content-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-right: auto;
}

.subscribe-main-page-block .subscribe-block_icon {
    flex: none;
    width: 89px;
    height: 89px;
}

.subscribe-main-page-block .subscribe-block_icon svg {
    width: 100%;
    height: 100%;
}

.subscribe-main-page-block .subscribe-block_title {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
}

.subscribe-main-page-block .subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 40px;
    min-width: 231px;
    height: 97px;
    background: #2B418B;
    border: none;
    text-decoration: none;
    flex: none;
}

.subscribe-main-page-block .subscribe-btn span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

@media screen and (max-width: 1280px) {
    .subscribe-main-page-block {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        padding-bottom: 40px !important;
    }

    .subscribe-main-page-block .main-content-sub {
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        margin-right: 0;
    }

    .subscribe-main-page-block .subscribe-block_icon {
        flex: none;
        width: 40px;
        height: 40px;
    }

    .subscribe-main-page-block .subscribe-block_icon svg {
        width: 40px;
        height: 40px;
    }

    .subscribe-main-page-block .subscribe-block_title {
        flex: 1;
        font-size: 16px;
        line-height: 22px;
        align-self: stretch;
    }

    .subscribe-main-page-block .subscribe-btn {
        align-self: stretch;
        width: 100%;
        max-width: none;
        min-width: unset;
        height: 54px;
        padding: 16px 40px;
        margin-left: 0;
    }

    .subscribe-main-page-block .subscribe-btn span {
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width: 480px) {
    .subscribe-main-page-block .subscribe-btn {
        padding: 16px 20px;
    }
}
