.sign-course-complex-block {
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: var(--white);
    padding: 48px 48px 16px 48px;
    max-width: 550px;
    width: 100%;
    z-index: 1001;
    display: none;
}

.sign-course-complex-block .top-sign-course-complex {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.sign-course-complex-block .top-sign-course-complex h4 {
    color: var(--black);
    font-size: 34px;
    line-height: 52px;
    font-weight: 500;
    margin: 0;
}

.sign-course-complex-block .top-sign-course-complex .close-course-modal {
    cursor: pointer;
}

.sign-course-complex-block .questions-block {
    margin-top: 16px;
}

.sign-course-complex-block .questions-block .question-block {
    margin-bottom: 16px;
    display: block;
}

.sign-course-complex-block .questions-block .question-block input {
    padding: 12px 16px;
    background-color: var(--gray);
    color: var(--black);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 0;
    width: 100%;
}

.sign-course-complex-block .questions-block .question-block input::placeholder {
    opacity: 1;
}

.sign-course-complex-block .questions-block input:focus::placeholder {
    opacity: 0.5;
}

.sign-course-complex-block .questions-block .flex-question-block {
    display: flex;
    align-items: center;
    gap: 16px;
}

.sign-course-complex-block .questions-block .question-block.date,
.sign-course-complex-block .questions-block .question-block.tariff,
.sign-course-complex-block .questions-block .question-block.course_id,
.sign-course-complex-block .questions-block .question-block.course_link,
.sign-course-complex-block .questions-block .question-block.course_name,
.sign-course-complex-block .questions-block .question-block.course_name_crm {
    display: none;
}

.sign-course-complex-block .questions-block .select-dates-block,
.sign-course-complex-block .questions-block .select-tariffs-block {
    margin-bottom: 16px;
    position: relative;
}

.sign-course-complex-block .questions-block .select-dates-block .select-dates-dropdown-block,
.sign-course-complex-block .questions-block .select-tariffs-block .select-tariffs-dropdown-block {
    display: none;
    position: absolute;
    bottom: auto;
    background: var(--gray);
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

.sign-course-complex-block .questions-block .select-dates-block .select-dates-content,
.sign-course-complex-block .questions-block .select-tariffs-block .select-tariffs-content {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    background-color: var(--gray);
    padding: 12px 16px;
    cursor: pointer;
}

.sign-course-complex-block .questions-block .select-dates-block.active .select-dates-dropdown-block,
.sign-course-complex-block .questions-block .select-tariffs-block.active .select-tariffs-dropdown-block {
    display: block;
}

.sign-course-complex-block .questions-block .select-dates-block.active .select-dates-dropdown-block .select-date,
.sign-course-complex-block .questions-block .select-tariffs-block.active .select-tariffs-dropdown-block .select-tariff {
    padding: 12px 16px;
    cursor: pointer;
}

.sign-course-complex-block .under-main-feedback-form {
    margin-top: 32px;
}

.sign-course-complex-block .under-main-feedback-form a {
    text-decoration: underline;
    color: var(--button-blue);
}

.sign-course-complex-block .submit-sig-course-complex {
    display: block;
    width: 100%;
    margin-top: 32px;
    padding: 15px 32px;
    background-color: var(--button-blue);
    border: none;
    outline: none;
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

@media (max-width: 620px) {
    .sign-course-complex-block {
        padding: 24px;
        max-width: 400px;
    }

    .sign-course-complex-block .questions-block .flex-question-block {
        display: block;
    }

    .sign-course-complex-block .questions-block .question-block,
    .sign-course-complex-block .questions-block .select-dates-block,
    .sign-course-complex-block .questions-block .select-tariffs-block {
        margin-bottom: 8px;
    }

    .sign-course-complex-block .top-sign-course-complex h4 {
        font-size: 24px;
        line-height: 33px;
    }

    .sign-course-complex-block .questions-block .flex-question-block {
        display: block;
    }
}

@media (max-width: 420px) {
    .sign-course-complex-block {
        padding: 12px;
        max-width: 320px;
    }
}