div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.breadcrumbsPress {
color:#6D8753;
}
a.breadcrumbsPress:active {
color:#6D8753;
font-weight:normal;
text-decoration:none;
}
a.breadcrumbsPress:link {
color:#6D8753;
font-weight:normal;
text-decoration:none;
}
a.breadcrumbsPress:visited {
color:#6D8753;
font-weight:normal;
text-decoration:none;
}
a.breadcrumbsPress:hover {
color:#6D8753;
font-weight:normal;
text-decoration:underline;
}
