<style type="text/css">
.socialnet{
    background-color: #EEEEEE;
    display: block;
    margin: 5px 0 8px 21px;
    padding: 10px 0 5px 10px;
}

.socialnet a{
	padding:0px 3px 0px 0px;
}
.socialnet img{
	max-width:28px;
	max-height:28px;
	width:28px!important;
	height:28px!important;
}
</style>

<div class="socialnet">
<a id="s_facebook" rel="nofollow" target="_blank"  href="http://www.facebook.com/TrainingCenterLuxoft"><img  src="/downloads/images/social/t_facebook.png" width="32" height="32" alt=""/></a>
<a id="s_twitter" rel="nofollow" target="_blank"  href="http://twitter.com/TrainingLuxoft"><img  src="/downloads/images/social/t_twitter.png" width="32" height="32" alt=""/></a>
<a id="s_youtube" rel="nofollow" target="_blank"  href="http://www.youtube.com/user/LuxoftTrainingCenter"><img  src="/downloads/images/social/t_youtube.png" width="32" height="32" alt=""/></a>
<a id="s_rss" rel="nofollow" target="_blank"  href="/rss/"><img  src="/downloads/images/social/t_rss.png" width="32" height="32" alt=""/></a>
<a id="s_linkedin" rel="nofollow" target="_blank"  href="http://www.linkedin.com/groups/Luxoft-Training-Center-3880622?trk=myg_ugrp_ovr"><img  src="/downloads/images/social/t_linkedin.png" width="32" height="32" alt=""/></a>
<a id="s_vkontakte" rel="nofollow" target="_blank"  href="http://vkontakte.ru/luxoft_training"><img  src="/downloads/images/social/t_vkontakte.gif" width="32" height="32" alt=""/></a>
<a id="s_googleplus" rel="nofollow" target="_blank"  href="https://plus.google.com/113581839150350545298/"><img  src="/upload/medialibrary/55d/mobile_plus_icon32.png" width="32" height="32" alt=""/></a>



</div>

<div class="socialnet" style="padding:10px 0 10px 10px;">
<?$APPLICATION->IncludeComponent("bitrix:subscribe.form", "simple_form", Array(
		"USE_PERSONALIZATION" => "Y",	// Определять подписку текущего пользователя
		"SHOW_HIDDEN" => "N",	// Показать скрытые рубрики подписки
		"PAGE" => "#SITE_DIR#subscr_edit.html",	// Страница редактирования подписки (доступен макрос #SITE_DIR#)
		"CACHE_TYPE" => "A",	// Тип кеширования
		"CACHE_TIME" => "3600",	// Время кеширования (сек.)
		),
		false
	);?>
</div>