<div class="slogan"><span>География Luxoft Training</span>
  <br />
</div>

<div class="block"><a href="/contacts/"><img src="/bitrix/templates/en/images_main_v5/co_russia.gif" alt="" /></a>
<span class="city"><a href="/contacts/moscow.html">Москва</a></span>,
<span class="city"><a href="/contacts/spb.html">Санкт-Петербург</a></span>,
<span class="city"><a href="/contacts/omsk.html">Омск</a></span>,
<span class="city"><a href="/contacts/kiev.html">Киев</a></span>,
<span class="city"><a href="/contacts/odessa.html">Одесса</a></span>,
<span class="city"><a href="/contacts/dnepr.html">Днепропетровск</a></span>


<!--<br /><a href="/contacts/">Представительства УЦ Luxoft</a>-->
</div>
<?/*if (!$USER->IsAdmin()) {?>
<!--<div class="slogan slogan_nobottom"><span>Календарь событий</span></div>-->
					<div id="calendar_tabs">
			            <ul class="shadetabs">
			          		<li><a  id="cal1_block" href="#" class="selected" onclick="calendarTabs(2); return false;">Тренинги</a></li>
			         		<li><a  id="cal2_block" href="#"  onclick="calendarTabs(1); return false;">Бесплатные семинары</a></li>
						</ul>
							<div id="newscontainer3">
<div class="cal_block fixedheight">
<?$APPLICATION->IncludeComponent("edu:events.calendar.custom", "edu_calendar_trainings", array(
	"IBLOCK_TYPE" => "edu",
	"PROPERTY_CITYCHECK" => "0",
	"IBLOCK_ID" => "9",
	"MONTH_VAR_NAME" => "month",
	"YEAR_VAR_NAME" => "year",
	"WEEK_START" => "1",
	"SHOW_YEAR" => "N",
	"SHOW_TIME" => "N",
	"TITLE_LEN" => "200",
	"SHOW_CURRENT_DATE" => "Y",
	"SHOW_MONTH_LIST" => "N",
	"NEWS_COUNT" => "0",
	"DETAIL_URL" => "news_detail.php?ID=#ELEMENT_ID#",
	"AJAX_MODE" => "Y",
	"AJAX_OPTION_SHADOW" => "Y",
	"AJAX_OPTION_JUMP" => "N",
	"AJAX_OPTION_STYLE" => "Y",
	"AJAX_OPTION_HISTORY" => "N",
	"CACHE_TYPE" => "A",
	"CACHE_TIME" => "3600",
	"DATE_FIELD" => "PROPERTY_STARTDATE",
	"TYPE" => "EVENTS",
	"SET_TITLE" => "N",
	"AJAX_OPTION_ADDITIONAL" => ""
	),
	false
);?>
</div>
     </div>

<!--<div class="slogan slogan_nobottom"><span>Календарь тренингов</span></div>-->

	<div id="newscontainer4" style="display: none;">
<div class="cal_block fixedheight">
<?$APPLICATION->IncludeComponent("edu:events.calendar", "edu_calendar_events", array(
	"IBLOCK_TYPE" => "edu",
	"PROPERTY_CITYCHECK" => "0",
	"IBLOCK_ID" => "65",
	"MONTH_VAR_NAME" => "month",
	"YEAR_VAR_NAME" => "year",
	"WEEK_START" => "1",
	"SHOW_YEAR" => "N",
	"SHOW_TIME" => "N",
	"TITLE_LEN" => "200",
	"SHOW_CURRENT_DATE" => "Y",
	"SHOW_MONTH_LIST" => "N",
	"NEWS_COUNT" => "0",
	"DETAIL_URL" => "news_detail.php?ID=#ELEMENT_ID#",
	"AJAX_MODE" => "Y",
	"AJAX_OPTION_SHADOW" => "Y",
	"AJAX_OPTION_JUMP" => "N",
	"AJAX_OPTION_STYLE" => "Y",
	"AJAX_OPTION_HISTORY" => "N",
	"CACHE_TYPE" => "N",
	"CACHE_TIME" => "3600",
	"DATE_FIELD" => "DATE_ACTIVE_FROM",
	"TYPE" => "EVENTS",
	"SET_TITLE" => "N",
	"AJAX_OPTION_ADDITIONAL" => ""
	),
	false
);?>

</div>
</div>
</div>
<div class="clear"></div>
<?} else {*/?>
	<?
$APPLICATION->IncludeComponent("bitrix:search.tags.cloud", "animate-all", array(
	"SORT" => "NAME",
	"PAGE_ELEMENTS" => "80",
	"PERIOD" => "",
	"URL_SEARCH" => "/search/index.php",
	"TAGS_INHERIT" => "Y",
	"CHECK_DATES" => "Y",
	"FILTER_NAME" => "",
	"arrFILTER" => array(
		0 => "iblock_edu",
	),
	"arrFILTER_iblock_edu" => array(
		0 => "all",
	),
	"CACHE_TYPE" => "A",
	"CACHE_TIME" => "3600",
	"FONT_MAX" => "22",
	"FONT_MIN" => "12",
	"COLOR_NEW" => "39487F",
	"COLOR_OLD" => "C0C0C0",
	"PERIOD_NEW_TAGS" => "",
	"SHOW_CHAIN" => "Y",
	"COLOR_TYPE" => "Y",
	"WIDTH" => "100%"
	),
	false
);?>
<?//}?>
<?/*
<div class="slogan" style="margin: 0pt 0pt 5px;"><span>Прими участие в опросе!</span></div>
<div class="block" style="border-bottom: 0px solid #E8E8E8;">
<a href="http://www.luxoft.ru/about/brand_hr_2010/" title="Компания Luxoft номинирована на соискание премии «HR-БРЕНД 2010»">
<img alt="" style="float: right; margin: 0pt 0pt 0pt 0px;" src="http://www.luxoft.ru/downloads/images/hr/hrbrand_men_120.jpg" width="100"></a>

<a href="http://www.luxoft.ru/about/brand_hr_2010/">Компания Luxoft номинирована на соискание премии «HR-БРЕНД 2010»</a><br />
</div>
<div class="clear"></div>
*/?>
