	<div class="footer">
		<div>
                        <a class="rss_feed" href="/rss/">RSS</a>
                        <a href="/contacts/">Контакты</a>
			<a href="/payment/rules.html">Правила и условия покупки услуг на сайте</a>
                        <a href="/about/company-details/" target="_parent" >Реквизиты</a>
                        <a rel="nofollow" title="Версия для печати" onclick="SetPrintCSS(true)" href="#print" style="border-bottom: 1px dashed; text-decoration: none; padding: 5px 0px 1px 0pt;">Версия для печати</a>
		</div>
                <div>
<?
global $USER;
//if ($USER->IsAdmin()){
$mystring = $_SERVER["REQUEST_URI"];
$findme   = 'personal';
$pos = strpos($mystring, $findme);
//if ($pos !== false) {
//phpinfo();
?>
	<img style="padding-bottom: 5px;" alt="IIBA Endorsed Education" src="/images/IIBA-Endorsed-Education-logo_final_200.jpg" />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="mastercard" src="http://www.luxoft-training.ru/images_edu/diffs/mastercard_securecode.jpg" height="47"  width="104" />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="visa" src="http://www.luxoft-training.ru/images_edu/diffs/verfied_by_visa.jpg" height="55"  width="88" />
<? //} 

?>
		<div class="assist">
		<img alt="visa" src="http://www.assist.ru/images/logo_visa.gif" height="19"  width="30" />
		<img alt="logo_mc" src="http://www.assist.ru/images/logo_mc.gif" height="19"  width="30" />
		<img alt="logo_jcb" src="http://www.assist.ru/images/logo_jcb.gif" height="19"  width="30" />
		<img alt="logo_dc" src="http://www.assist.ru/images/logo_dc.gif" height="19"  width="30" />
			<a rel="nofollow" href="http://www.assist.ru" title="Система электронных платежей">
				<img src="/images_edu/assist_logo.gif" width="155" height="49" border="0" alt="Система электронных платежей"/>
			</a>
		</div>
                </div>
	</div>




