             	<style type="text/css">
	             	.headline {
						background: url(/bitrix/templates/en_main_v4/images/slider_1.jpg)  no-repeat;
					}
					#preloadedImages {
				       width: 0px;
				       height: 0px;
				       display: inline;
				       background-image: url(/bitrix/templates/en_main_v4/images/slider_2.jpg);
				       background-image: url(/bitrix/templates/en_main_v4/images/slider_3.jpg);
				       background-image: url(/bitrix/templates/en_main_v4/images/slider_1.jpg);
				       background-image: url();
					}
             	</style>
             	<script type="text/javascript">
					$(document).ready(function(){
						$(".headline li a#tab1").click(function(){
							$(".headline").css("background-image","url(/bitrix/templates/en_main_v4/images/slider_1.jpg)");
							$(".usual ul a").css("border-bottom-color","587793");
							$(".usual ul a.selected").css("border-bottom-color","113267");
							return false;
						});
						$(".headline li a#tab2").click(function(){
							$(".headline").css("background-image","url(/bitrix/templates/en_main_v4/images/slider_2.jpg)");
							$(".usual ul a").css("border-bottom-color","587793");
							$(".usual ul a.selected").css("border-bottom-color","D9D5D2");
							return false;
						});
						$(".headline li a#tab3").click(function(){
							$(".headline").css("background-image","url(/bitrix/templates/en_main_v4/images/slider_3.jpg)");
							$(".usual ul a").css("border-bottom-color","587793");
							$(".usual ul a.selected").css("border-bottom-color","6993C5");
							return false;
						});
					});
				</script>

					<div class="headline">
						<div id="preloadedImages"></div>
						<script type="text/javascript">
						  var settings = { start:1, change:true };
						  $("#adv ul").idTabs(settings,true);
						</script>
						<div id="adv" class="usual">
							<ul class="idTabs">
							    <li><a class="selected" href="#t1" id="tab1">Welcome to Luxoft</a></li>
							    <li><a href="#t2" id="tab2">Financial Services</a></li>
							    <li><a class="last_li" href="#t3"  id="tab3">Software Expertise</a></li>
						 	</ul>
						  	<div id="t1"><p>Luxoft is a high-end application outsourcing provider of choice and a trusted technology advisor to Global 2000 and medium-sized growth companies that apply compelling technologies to obtain leadership positions in their <a href="#">respective markets</a>.</p><p>An emerging global leader in ADM outsourcing, Luxoft leverages the culture of engineering excellence, professionalism and innovation, rock solid execution, and a comprehensive global delivery model to maximize value for our clients. Luxoft operates a network of delivery locations across <a href="#">Central &amp; Eastern Europe</a>, EU, <a href="#">North America</a> and <a href="#">Vietnam</a>.</p></div>
						  	<div id="t2"><p>An emerging global leader in ADM outsourcing, Luxoft leverages the culture of engineering excellence, professionalism and innovation, rock solid execution, and a comprehensive global delivery model to maximize value for our clients. Luxoft operates a network of delivery locations across <a href="#">Central &amp; Eastern Europe</a>, EU, <a href="#">North America</a> and <a href="#">Vietnam</a>.</p></div>
						  	<div id="t3"><p>Luxoft is a high-end application outsourcing provider of choice and a trusted technology advisor to Global 2000 and medium-sized growth companies that apply compelling technologies to obtain leadership positions in their <a href="#">respective markets</a>.</p></div>
						</div><!-- end of #adv -->
					</div><!-- end of .headline -->