.overlay {
	
	padding: 28px 28px 36px;
	background: #fff;
	display: none;
	font-family: Open-Sans;
	font-size: 19px;
	color: #000;
}
.overlay  a {
	color: #225267;
}
.overlay .over-head {
	float: left;
	font-family: robotoregular;
	font-weight: bold;
	font-size: 26px;
	color: #333;
	margin-bottom: 15px;
}
.agree-text {
		font-size: 16px;
}
.close {
	cursor: pointer;
	width: 20px;
	height: 15px;
	/* margin-bottom: 25px; */
	/* text-align: right; */
	/* align-self: flex-end; */
	position: absolute;
	right: 30px;
}
.overlay input[type="text"], .overlay  textarea {

    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d1dde9;
    height: 44px;
    padding: 9px;
    font-size: 16px;
    font-family: robotoregular;
    color: #333;
    display: block;
    margin: 0;
    outline: none;
} 
.overlay input[type="text"]:focus, .overlay  textarea:focus  {
	border-color:#008ed7
} 

.overlay  .field-wrap {
	margin-bottom: 15px;
	font-size: 22px;
}


.overlay .but {
	border: none;
	width: 207px;
	height: 45px;
	font-family: robotoregular;
	font-size: 14px;
	background: rgb(255,165,7);
    	background: -moz-linear-gradient(top,  rgba(255,165,7,1) 0%, rgba(255,127,23,1) 100%);
    	background: -webkit-linear-gradient(top,  rgba(255,165,7,1) 0%,rgba(255,127,23,1) 100%);
    	background: linear-gradient(to bottom,  rgba(255,165,7,1) 0%,rgba(255,127,23,1) 100%);
	border-radius: 30px;
    	color: #fff;
   	text-transform: uppercase;
	margin: 0 auto;
	display: block;
	cursor: pointer;
}
.overlay .but.en {
	background: none;
	background: #225267;
	color: #fff;
	text-transform: uppercase;
	font-family: robotoregular;
    font-weight: 700;
    font-size: 14px;
	-webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
}
.overlay .req {
	color: #6f3045;
}

