.main-feedback-form-block {
    /* background-color: var(--button-blue); */
    /* background: linear-gradient(256.17deg, #4CA069 -0.76%, #2C4789 100%); */
    padding: 140px 0 180px;
}

/* .main-feedback-form-block .main-feedback-form-container {
    display: flex;
    align-items: start;
    gap: 48px;
} */

.main-feedback-form-block .main-feedback-form-container h1 {
    color: var(--white);
    font-weight: 400;
    font-size: 80px;
    line-height: 92px;
    max-width: 833px;
    width: 100%;
}

.main-feedback-form-description {
    font-family: "Stag Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin-top: 40px;
}

.main-feedback-form-description p:not(:last-of-type) {
    margin-bottom: 0;
}

.main-feedback-form-block .main-feedback-form-container .questions-block {
    width: 100%;
}

.main-feedback-form-block .main-feedback-form-container .questions-block .success-text {
    color: var(--white);
}

.main-feedback-form-block .main-feedback-form-container .questions-block .question-block {
    margin-bottom: 32px;
    display: block;
    width: 100%;
}

.main-feedback-form-block .main-feedback-form-container .questions-block .flex-question-block {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main-feedback-form-block .main-feedback-form-container .questions-block .question-block input,
.main-feedback-form-block .select-dates-block input {
    outline: none;
    border: none;
    background-color: #F0F0F0;
    padding: 24px;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: var(--black);
    border-radius: 0;
    height: fit-content;
    width: 100%;
}

.main-feedback-form-block .select-dates-block input {
    margin-bottom: 32px;
}

.main-feedback-form-block .main-feedback-form-container .questions-block .question-block input::placeholder {
    opacity: 1;
    color: var(--black);
}

.main-feedback-form-block .main-feedback-form-container .questions-block .question-block input:focus::placeholder {
    opacity: 0.5;
}

.main-feedback-form-block .main-feedback-form-container .questions-block .question-block input.has-error {
    border: 1px solid var(--red);
}

.main-feedback-form-block .main-feedback-form-container .questions-block .submit-main-feedback-form {
    outline: none;
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding: 32px 40px;
    color: var(--button-blue);
    border: none;
    border-radius: 0;
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.main-feedback-form-block .main-feedback-form-container .questions-block .under-main-feedback-form,
.main-feedback-form-block .main-feedback-form-container .questions-block span {
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
}

.main-feedback-form-block .main-feedback-form-container .questions-block .under-main-feedback-form a,
.main-feedback-form-block .main-feedback-form-container .questions-block span a {
    text-decoration: underline;
    transition: all 0.3s;
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.main-feedback-form-block .main-feedback-form-container .questions-block .under-main-feedback-form a:hover,
.main-feedback-form-block .main-feedback-form-container .questions-block span a:hover {
    text-decoration: none;
    color: var(--white);
}

.main-feedback-form-block .question-block.client_id,
.main-feedback-form-block .question-block.job {
    display: none !important;
}

.question-block.date {
    display: none;
}

.select-dates-block {
    position: relative;
}

.select-dates-block .select-dates-content {
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
    padding: 24px;
    justify-content: space-between;
    background-color: var(--gray);
}

.select-dates-block .select-dates-content svg {
    width: 32px;
    height: 32px;
}

.select-dates-block .select-dates-dropdown-block {
    display: none;
    position: absolute;
    bottom: auto;
    background: var(--gray);
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    top: 105%;
}

.select-dates.active .select-dates-dropdown-block {
    display: block;
}

.select-dates.active .select-dates-content svg {
    transform: rotate(180deg);
}

.select-dates-block .select-dates-dropdown-block .select-date {
    background-color: var(--gray);
    padding: 24px;
    width: 100%;
    display: flex;
    cursor: pointer;
}

.select-dates-block span {
    color: var(--black) !important;
    margin: 0 !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    line-height: 32px !important;
}

.cert-levels,
.question-block.date {
    display: none !important;
}

#applicationsFormBlock .title--h2 {
    color: var(--white);
}

.date-default-block.question-block {
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
}

.success-modal-form-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 64px;
    max-width: 1024px;
    width: 100%;
    height: fit-content;
    z-index: 10000;
}

.success-modal-form-background {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    opacity: 0.5;
    cursor: pointer;
}

.success-modal-form-block .modal-success-title {
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    color: var(--black);
    display: block;
    margin-bottom: 32px;
}

.success-modal-form-block span.close-success-modal {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
}

.success-modal-form-block .description-text {
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;
    color: var(--black);
    display: block;
    margin-bottom: 32px;
}

.success-modal-form-block button.close-success-modal {
    width: 100%;
    outline: none;
    border: none;
    text-align: center;
    padding: 32px;
    color: var(--white);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    background-color: var(--button-blue);
    cursor: pointer;
}

@media (max-width: 1180px) {
    .main-feedback-form-block {
        padding: 40px 0 80px;
    }

    .main-feedback-form-block .main-feedback-form-container h1 {
        max-width: 100%;
        font-size: 32px;
        line-height: 40px;
        margin: 0;
    }

    .main-feedback-form-block .main-feedback-form-container .questions-block .question-block input,
    .main-feedback-form-block .select-dates-block input {
        padding: 16px;
        font-size: 16px;
        line-height: 22px;
    }

    .main-feedback-form-block .main-feedback-form-container .questions-block .question-block,
    .main-feedback-form-block .select-dates-block input {
        margin-bottom: 16px;
    }

    .main-feedback-form-block .main-feedback-form-container .questions-block .flex-question-block {
        flex-direction: column;
        gap: 0;
    }

    .main-feedback-form-block .main-feedback-form-container .questions-block .submit-main-feedback-form {
        margin-top: 16px;
        padding: 16px 40px;
        font-size: 16px;
        line-height: 22px;
    }

    .select-dates-block .select-dates-content {
        margin-bottom: 16px;
        padding: 16px;
    }

    .select-dates-block .select-dates-content span,
    .select-dates-block .select-dates-dropdown-block .select-date span {
        font-size: 16px;
        line-height: 22px;
    }

    .select-dates-block .select-dates-content svg {
        width: 24px;
        height: 24px;
    }

    .select-dates-block .select-dates-dropdown-block .select-date {
        padding: 16px;
    }

    .select-dates-block span {
        color: var(--black) !important;
        margin: 0 !important;
        font-size: 16px !important;
        font-weight: 300 !important;
        line-height: 22px !important;
    }

    .jq-selectbox {
        margin-bottom: 16px;
    }

    .success-modal-form-block {
        max-width: 600px;
        padding: 32px;
    }

    .success-modal-form-block .modal-success-title {
        font-size: 32px;
        line-height: 120%;
        margin-bottom: 24px;
    }

    .success-modal-form-block span.close-success-modal {
        width: 24px;
        height: 24px;
        right: 10px;
        top: 10px;
    }

    .success-modal-form-block span.close-success-modal svg {
        width: 100%;
        height: 100%;
    }

    .success-modal-form-block .description-text {
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 24px;
    }

    .success-modal-form-block button.close-success-modal {
        padding: 24px;
        font-size: 20px;
    }
}

@media (max-width: 630px) {
    .success-modal-form-block {
        max-width: 300px;
        padding: 16px;
    }

    .success-modal-form-block .modal-success-title {
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 16px;
    }

    .success-modal-form-block .description-text {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .success-modal-form-block button.close-success-modal {
        padding: 12px;
        font-size: 16px;
    }
}

.question-block-caption {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 300;
}


@media (max-width: 630px) {
    .question-block-caption {
        font-size: 16px;
        margin-bottom: 8px;
    }
}


#applicationsFormBlock input[type="date"]{
    padding: 0px 16px;
    font-size: 16px;    
    line-height: 56px;
    box-sizing: border-box;
    text-align: left;
    max-width: 100%;
    width: 100%
}


@media (max-width: 630px) {
    .select-date-input input[type="date"] {
        -webkit-appearance: none;
        appearance: none;
        background: #fff;
        padding: .6rem .75rem;
        line-height: 1.2;
    }

}

.questions-block .dates-block,
.questions-block .take-date-block,
.questions-block .select-dates-block, 
.questions-block .select-date-input{
    width: 100%
}
/*
@supports (-webkit-touch-callout: none) {
  #applicationsFormBlock input[type="date"]{
    width: --webkit-fill-available;
  }
}
@media only screen and (max-device-width: 430px) and (-webkit-min-device-pixel-ratio: 3) {
   #applicationsFormBlock input[type="date"]{
    width: --webkit-fill-available;
  }
}
@media only screen and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
   #applicationsFormBlock input[type="date"]{
    width: --webkit-fill-available;
  }
}*/