.lk-section__title {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	font-size: 34px;
	line-height: 52px;
	color: #000000;
	margin-bottom: 24px;
}
.lk-section {
	padding: 0 56px;
}
.lk-section + .lk-section .lk-section__title{
	margin-top: 40px;
}

.lk-notification{
	padding-top: 48px;
}
.lk-cards {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
}

.lk-card.cert {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	gap: 24px;
	width: 100%;
	height: auto;
	background: #F0F0F0;
	border-bottom: 1px solid #000000;
}
/* Основные стили */
.lk-card__actions {
	flex-direction: row;
	align-items: center;
	width: 450px;
	height: 54px;
	display: flex;
	gap: 16px;
}
.lk-header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 56px 56px 32px;
	width: 100%;
	flex-wrap: wrap;
	gap: 16px;
}
@media (max-width: 1280px) {
	.lk-header-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 24px;
		width: 100%;
		flex-wrap: wrap;
		gap: 16px;
	}
	.lk-section {
		padding: 0 24px;
	}
	.lk-header-row {
		padding: 16px 24px;
	}

	.lk-section__title{
		font-size: 24px;
		line-height: 32px;
		margin: 32px 0 16px;
	}

	.lk-notification{
		padding: 32px 0 24px;
	}

	.lk-modal{
		padding: 0 0 24px;
	}
}
@media (max-width: 1400px) {
	.lk-card__actions {
		flex-direction: column;
		align-items: flex-start;
		width: 450px;
		gap: 0px;
	}
}
@media (min-width: 768px) {
	.lk-card.cert {
		flex-direction: row-reverse;
		height: 234px;
	}
	.lk-cards {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
.lk-card__icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 8px;
	width: 100%;
	height: auto;
}

@media (max-width: 768px) {
	.cert-number{
		display: contents;
	}
	.lk-card__icon{
		display: none;
	}
	.lk-card__body {
		bottom: 24px;
		position: relative;
	}
	.lk-card__abbr{
		align-items: center;
		display: flex;
	}
}

.certificate-number {
	width: 100%;
	height: 19px;
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	display: flex;

	color: #000000;
	justify-content: flex-end;
}

@media (min-width: 768px) {
	.certificate-number {
		width: 139px;
		text-align: right;
		align-self: stretch;
	}
}
.lk-card__body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	width: 100%;
	height: auto;
}

@media (min-width: 768px) {
	.lk-card__body {
		width: 235px;
		height: 186px;
		flex: none;
		order: 0;
		flex-grow: 1;
	}

}
.lk-card__meta {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	width: 100%;
	height: auto;
}

@media (min-width: 768px) {
	.lk-card__meta {
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		gap: 2px;
		width: 235px;
		height: 19px;
	}
}

.lk-card__meta-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	width: 100%;
	height: auto;
}

@media (min-width: 768px) {
	.lk-card__meta-info {
		flex-direction: row;
		align-items: center;
		gap: 16px;
		width: 235px;
		height: 19px;
		flex: none;
		order: 0;
		flex-grow: 1;
	}
}
.lk-card__date,
.lk-card__duration {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 8px;
	width: auto;
	height: 0px;
}

.lk-card__date-text,
.lk-card__duration-text {
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: #000000;
}

.lk-badge {
	display: none;
}

@media (min-width: 768px) {
	.lk-badge {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 6px 8px;
		width: auto;
		height: 31px;
		background: #FFFFFF;
		font-family: 'Noto Sans', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		color: #000000;
	}
}
.lk-card__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 4px;
	width: 100%;
	height: auto;
}

@media (min-width: 768px) {
	.lk-card__info {
		width: 450px;
		height: 81px;
	}
}

.lk-card__abbr {
	width: 100%;
	height: 19px;
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #000000;
	gap: 5px;
}

@media (min-width: 768px) {
	.lk-card__abbr {
		width: 450px;
		display: flex;
		align-items: center;
	}
}

.lk-card__title {
	width: 100%;
	height: 30px;
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	color: #2B418B;
	margin: 0;
}

@media (min-width: 768px) {
	.lk-card__title {
		width: 450px;
	}
}

.lk-card__subtitle {
	width: 100%;
	height: 19px;
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: #000000;
}



.lk-card__btn {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 24px 25px;
	gap: 10px;
	width: 100%;
	height: 54px;
	background: #FFFFFF;
	border: 1px solid #2B418B;
	border-radius: 0px;
	text-decoration: none;
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #2B418B;
	transition: all 0.2s;
}

.lk-card__btn:hover {
	background: #2B418B;
	color: #FFFFFF;
}

@media (min-width: 768px) {
	.lk-card__btn {
		width: 236px;
		flex: none;
		order: 0;
		flex-grow: 0;
	}
}
.lk-card__expiry {
	width: 100%;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #000000;
}

.lk-card__date svg,
.lk-card__duration svg {
	width: 24px;
	height: 24px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

@media (max-width: 767px) {

	.lk-card.cert {
		padding: 16px;
		gap: 16px;
	}

	.lk-card__title {
		font-size: 20px;
		line-height: 28px;
	}

	.lk-card__btn {
		padding: 16px 24px;
		height: 48px;
	}
}
