table.form-table
{
  width:100%;
  background-color:white;
  border-collapse:collapse;
  font-size:100%;
  font-weight:normal;
  line-height:160%;
}

table.form-table th, table.form-table td
{
  /*border:1px solid #ADC3D5;*/
  border:1px solid transparent;
  padding: 5px 5px;
  vertical-align:top;
}

table.form-table th
{
  /*background-image:url(images/table_head.gif);*/
  /*background-repeat:repeat-x;*/
  text-align: left;
  /*color:#25639A;*/
}


table.form-table td
{
  padding: 15px 5px;
}

.form-required
{
  color: red;
}

.error-fld {
  display: block;
  float: left;
  height: 13px;
  width: 15px;
  background-repeat: no-repeat;
  background-image: url(images/icon_warn.gif);
}

.send-price-form-area {
  position: absolute;
  background: white !important;
  z-index: 999;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  /*border: 2px solid #225267;*/
  border-radius: 5px;
  box-shadow: 3px 3px 15px 5px rgba(0,0,0,0.5);
  display: none;

}

/*.send-price-form-area input[type="submit" i] {
  display: inline-block;
  margin: 15px auto 0 auto;
  outline: none;
  background-color: #225267;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-appearance: button;
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
}*/

.send-price-form-area .g-recaptcha,
.send-price-form-area .g-recaptcha > div {
  margin: 0 auto 20px;
}

.send-price-form-area .form-reg {
  margin-bottom: 0;
  padding: 18px 52px 18px 52px;
}

/* ��������� ���������� ������ */
.data-table tr td {
  border: 1px solid transparent !important;
}

/* �������������� ���������� ����� price */
.form-table input[type="text"] {
  background: #f3f3f3;
}
.starrequired {
	color: rgb(0, 0, 0);
}

.jq-checkbox.error {
  background: #cd0505;
  opacity: 0.9;
}