.btn-add-to-cart {
    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 394px;
    height: 54px;
    padding: 32px 40px;
    gap: 10px;
    background: #2B418B;
    color: #F0F0F0;
    font-family: 'Stag Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    box-sizing: border-box;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-add-to-cart:active {
    background: #1F3279;
    transform: translateY(0);
}
.btn-block{
    display: flex;
    justify-content: center;
}