body {
	width:500px;
	margin:0;
	padding:0;
	border:0;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
    background: none repeat scroll 0 0 #FFFFFF!important;
}
.f_query_state {
    height: 190px;
}

table.edu {
    font-size: 11px;
}
table.edu td.td_buy,table.edu td.td_time ,table.edu td.td_code{
    display:none;
}
#seminar_block table.edu img{max-width:30px;}