.lk-menu {
	display: flex;
	flex-direction: column;
	padding: 0 24px 0 40px;
	max-width: 454px;
	box-sizing: border-box;
	top: 24px;
	position: relative;
	width: 100%;
}

.lk-menu__item {
	display: flex;
	align-items: center;
	gap: 16px;

	width: 390px;
	height: 60px;
	padding: 8px 16px;

	background-color: #ffffff;
	box-sizing: border-box;

	text-decoration: none;
	cursor: pointer;

	transition: background-color 0.2s ease;
}

.lk-menu__item:hover,
.lk-menu__item.is-active {
	background-color: #2B418B;
}

.lk-menu__icon {
	width: 24px;
	height: 24px;
	flex-shrink: 0;

	color: #000000;
}

.lk-menu__item:hover .lk-menu__icon,
.lk-menu__item.is-active .lk-menu__icon {
	color: #ffffff;
}

.lk-menu__text {
	display: flex;
	align-items: center;

	width: 318px;
	height: 44px;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: #000000;
	box-sizing: border-box;
}

.lk-menu__item:hover .lk-menu__text,
.lk-menu__item.is-active .lk-menu__text {
	color: #ffffff;
}

.lk-menu__item:link,
.lk-menu__item:visited {
	text-decoration: none;
}

.lk-menu__item:not(.is-active):hover {
	background-color: #2B418B;
}

.lk-menu__item:focus-visible {
	outline: 2px solid #2B418B;
	outline-offset: 2px;
}
@media (max-width: 1180px) {
	.lk-sidebar{
		display: none;
	}
	.lk-menu {
		display: none;
	}

}
@media (max-width: 1500px) {
	.lk-menu__item {

		width: 200px;

	}
	.lk-menu{
		padding: 0 20px 0 20px;
	}

}
