html{height:463px;}
body{
  height:463px;
  margin: 0px;
}
.TalkWin {
padding-right:0px;
}
.my-message {
	background-color: #f0f0ef;
	border-top: #dfdfde;
	padding-top: 37px;
	padding-bottom: 75px;
}
.Talk{
	padding: 
}
.Talk .text .message{
	
}
	.Talk .text{
		background: url('images/bg.jpg') center right no-repeat;
		width:100%;
		height:210px;
		overflow:auto;
		font-family: Arial;
		font-size: 12px;
		
		
	}
	.Talk .text .line {
		padding: 10px;
	}
	.Talk .text .line .time{
	 float:right;
	 color:#aaa;
	 font-size:10px;
	}
	
	.Talk .input{
		padding: 5px;
		width:100%;
		height:50px;
		border:1px solid #e1e1e0;
		overflow:auto;
	    position:relative;
	    z-index:2;
		resize: none;
		font-family: Arial;
		font-size: 12px;
	}
	.Talk .send{
		float:right;
		width:160px;
		height:30px;
		margin-right: 25px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		
		
		border:none;
		z-index:3;
		top: 15px;
		position:relative;
		font-weight:bold;
		color: white;
		background: #296dad;
		font-family: Arial;
		font-size:18px;
	}

	
.red{color: #b01f24;}
.green{color:#296dad;}
.note{
 color:blue; 
}
.UserInfo{
	height:75px;
	background-color:#c9c9c9;
	overflow:auto;
	padding:5px;
	margin-bottom:6px;
}
.UserInfo .avatar{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	 float:left; margin-right:25px;
}
.UserInfo .name{
	background-repeat:  no-repeat;
	background-position:  bottom  left;
	padding-top:6px;
	font-size: 24px;
	color: white;
	font-family: Arial;
	font-weight:bold;
}
.UserInfo .additionally{
font-size: 14px;
font-family: Arial;
color: white;
font-weight: bold;

}


/*=======*/
