.top-news-list-block {
    margin: 140px 0 80px;
    display: flex;
    align-items: end;
    gap: 10px;
    justify-content: space-between;
}

.top-news-list-block h1 {
    color: var(--black);
    font-size: 80px;
    line-height: 92px;
    font-weight: 400;
}

.top-news-list-block a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-page-news-list-block {
    display: flex;
    align-items: stretch;
    gap: 48px;
}

.main-page-news-list-block.slick-dotted.slick-slider {
    margin-bottom: 56px;
}

.main-page-news-list-block .main-page-news-list-item {
    background-color: var(--light-gray);
    width: 1308px;
    min-width: 1308px;
    max-width: 1308px;
    padding: 56px 56px 40px 56px;
    border-bottom: 1px solid var(--black);
    display: flex !important;
    flex-direction: column;
    margin: 0 24px;
}

.main-page-news-list-block .main-page-news-list-item.back-white {
    background-color: var(--white);
}

.main-page-news-list-block .main-page-news-list-item h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 56px;
    line-height: 72px;
    font-weight: 400;
    color: var(--black);
    margin-bottom: 32px;
}

.main-page-news-list-block .main-page-news-list-item .description-news {
    margin-bottom: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main-page-news-list-block .main-page-news-list-item .bottom-news-item-block {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.main-page-news-list-block .main-page-news-list-item .bottom-news-item-block .date-create {
    margin-left: auto;
}

.main-page-news-list-block .main-page-news-list-item .bottom-news-item-block .tags-block {
    display: flex;
    align-items: center;
    gap: 32px;
}

.main-page-news-list-block .slick-track {
    display: flex !important;
}

.main-page-news-list-block .slick-track .slick-slide {
    height: inherit !important;
}

.main-page-news-list-block .slick-dots {
    display: flex;
    position: unset;
    justify-content: center;
    margin-top: 34px;
}

.main-page-news-list-block .slick-dots li {
    display: inline-block;
    position: relative;
    pointer-events: none;
    width: fit-content;
    height: fit-content;
    padding: 0;
}

.main-page-news-list-block .slick-dots li:not(.slick-active) {
    display: none;
}

.main-page-news-list-block .slick-dots li button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 32px;
    width: fit-content;
    height: fit-content;
    display: block;
    line-height: 44px;
    color: var(--black);
    font-weight: 400;
}

.main-page-news-list-block .slick-dots li button:before {
    display: none;
}

.main-page-news-list-block .slick-arrow {
    background: none;
    position: absolute;
    bottom: -4px;
    right: 43%;
    width: 48px;
    height: 48px;
    border: 1px solid var(--black);
    border-radius: 30px;
    cursor: pointer;
}

.main-page-news-list-block .slick-arrow.slick-arrow--prev {
    right: unset;
    left: 43%;
}

.main-page-news-list-block .slick-arrow.slick-disabled {
    opacity: 0.6;
    cursor: default;
}

@media (max-width: 1520px) {
    .main-page-news-list-block .slick-arrow {
        right: 41%;
    }

    .main-page-news-list-block .slick-arrow.slick-arrow--prev {
        left: 41%;
    }
}

@media (max-width: 1350px) {
    .main-page-news-list-block .main-page-news-list-item {
        max-width: unset;
        min-width: unset;
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 1180px) {
    .top-news-list-block {
        margin: 40px 0 24px;
    }

    .top-news-list-block h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .top-news-list-block a span {
        font-size: 24px;
        line-height: 33px;
    }

    .main-page-news-list-block .slick-arrow {
        display: none !important;
    }

    .main-page-news-list-block .main-page-news-list-item {
        padding: 24px 24px 32px 24px;
    }

    .main-page-news-list-block .main-page-news-list-item h2 {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 24px;
    }

    .main-page-news-list-block .main-page-news-list-item .description-news {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 560px) {
    .top-news-list-block {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .main-page-news-list-block .main-page-news-list-item .bottom-news-item-block {
        align-items: start;
        gap: 16px;
        flex-direction: column;
    }

    .main-page-news-list-block .main-page-news-list-item .bottom-news-item-block .date-create {
        margin-left: unset;
        text-transform: uppercase;
    }

    .main-page-news-list-block .main-page-news-list-item .bottom-news-item-block .tags-block {
        gap: 24px;
    }

    .main-page-news-list-block .main-page-news-list-item .bottom-news-item-block .tags-block span {
        text-transform: uppercase;
    }
}