<?
print_r($id_type);
/* поиск колв-ва */
		if(CModule::IncludeModule("iblock")) {
			$arGroupBy  = Array();$arOrder = Array();

	      	$arSelectFields = Array("ID");
			$arFilter = Array("IBLOCK_ID"=>10, "ACTIVE"=>"Y", "PROPERTY_city"=>5741, ">=PROPERTY_startdate" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "YYYY-MM-DD", "ru"));
			$sch_in_moscow = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>10, "ACTIVE"=>"Y", "PROPERTY_city"=>5742, ">=PROPERTY_startdate" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "YYYY-MM-DD", "ru"));
			$sch_in_omsk = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>10, "ACTIVE"=>"Y", "PROPERTY_city"=>5744, ">=PROPERTY_startdate" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "YYYY-MM-DD", "ru"));
			$sch_in_spb = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>10, "ACTIVE"=>"Y", "PROPERTY_city"=>5745, ">=PROPERTY_startdate" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "YYYY-MM-DD", "ru"));
			$sch_in_kiev = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>10, "ACTIVE"=>"Y", "PROPERTY_city"=>5746, ">=PROPERTY_startdate" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "YYYY-MM-DD", "ru"));
			$sch_in_odessa = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>10, "ACTIVE"=>"Y", "PROPERTY_city"=>5747, ">=PROPERTY_startdate" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "YYYY-MM-DD", "ru"));
			$sch_in_dnepr = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);


            $arGroupBy  = Array();$arOrder = Array();
	      	$arSelectFields = Array("ID");
			$arFilter = Array("IBLOCK_ID"=>9, "ACTIVE"=>"Y", "PROPERTY_city"=>5741, ">=PROPERTY_startdate" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "YYYY-MM-DD", "ru"));
			$res_in_moscow = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>9, "ACTIVE"=>"Y", "PROPERTY_city"=>5742, ">=PROPERTY_startdate" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "YYYY-MM-DD", "ru"));
			$res_in_omsk = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>9, "ACTIVE"=>"Y", "PROPERTY_city"=>5744, ">=PROPERTY_startdate" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "YYYY-MM-DD", "ru"));
			$res_in_spb = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>9, "ACTIVE"=>"Y", "PROPERTY_city"=>5745, ">=PROPERTY_startdate" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "YYYY-MM-DD", "ru"));
			$res_in_kiev = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>9, "ACTIVE"=>"Y", "PROPERTY_city"=>5746, ">=PROPERTY_startdate" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "YYYY-MM-DD", "ru"));
			$res_in_odessa = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>9, "ACTIVE"=>"Y", "PROPERTY_city"=>5747, ">=PROPERTY_startdate" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "YYYY-MM-DD", "ru"));
			$res_in_dnepr = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

        /*
			$arGroupBy  = Array();$arOrder = Array();
	      	$arSelectFields = Array("ID");
			$arFilter = Array("IBLOCK_ID"=>65, "ACTIVE"=>"Y", "PROPERTY_city"=>5741, ">=ACTIVE_FROM" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "DD-MM-YYYY", "ru"));
			$ev_in_moscow = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>65, "ACTIVE"=>"Y", "PROPERTY_city"=>5742, ">=ACTIVE_FROM" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "DD-MM-YYYY", "ru"));
			$ev_in_omsk = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>65, "ACTIVE"=>"Y", "PROPERTY_city"=>5744, ">=ACTIVE_FROM" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "DD-MM-YYYY", "ru"));
			$ev_in_spb = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>65, "ACTIVE"=>"Y", "PROPERTY_city"=>5745, ">=ACTIVE_FROM" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "DD-MM-YYYY", "ru"));
			$ev_in_kiev = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>65, "ACTIVE"=>"Y", "PROPERTY_city"=>5746, ">=ACTIVE_FROM" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "DD-MM-YYYY", "ru"));
			$ev_in_odessa = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);

			$arFilter = Array("IBLOCK_ID"=>65, "ACTIVE"=>"Y", "PROPERTY_city"=>5747, ">=ACTIVE_FROM" => ConvertDateTime(date($DB->DateFormatToPHP(CSite::GetDateFormat("SHORT")), time()), "DD-MM-YYYY", "ru"));
			$ev_in_dnepr = CIBlockElement::GetList($arOrder, $arFilter, $arGroupBy, false, $arSelectFields);
         */



		}
		//echo "d";
?>
		<div class="cities">
			<ul class="">
			<? if ($id_type<>3) {?>
				<li>
					<? if ($id_type==1) {?>
						<? if ($sch_in_moscow > 0) {?>
							<a href="/timetable/index.html?city=moscow<? if (isset($_GET['type'])) {?>&type=<?=$_GET['type']?><? }?>" class="<?if ($id_city==5741){?>selected<? } ?>">Москва (<?=$sch_in_moscow?>)</a>
						<? } else {?>
						    <a class="without" href="#">Москва</a>
						<? }?>
					<? } ?>
					<? if ($id_type==2) {?>
						<? if ($res_in_moscow > 0) {?>
							<a href="/timetable/index.html?city=moscow<? if (isset($_GET['type'])) {?>&type=<?=$_GET['type']?><? }?>" class="<?if ($id_city==5741){?>selected<? } ?>">Москва (<?=$res_in_moscow?>)</a>
						<? } else {?>
						    <a class="without" href="#">Москва</a>
						<? }?>
					<? } ?>
				</li>
				<li>
					<? if ($id_type==1) {?>
						<? if ($sch_in_spb > 0) {?>
							<a href="/timetable/index.html?city=spb<? if (isset($_GET['type'])) {?>&type=<?=$_GET['type']?><? }?>" class="<?if ($id_city==5744){?>selected<? } ?>">Санкт-Петербург (<?=$sch_in_spb?>)</a>
						<? } else {?>
						    <a class="without" href="#">Санкт-Петербург</a>
						<? }?>
					<? } ?>
					<? if ($id_type==2) {?>
						<? if ($res_in_spb > 0) {?>
							<a href="/timetable/index.html?city=spb<? if (isset($_GET['type'])) {?>&type=<?=$_GET['type']?><? }?>" class="<?if ($id_city==5744){?>selected<? } ?>">Санкт-Петербург (<?=$res_in_spb?>)</a>
						<? } else {?>
						    <a class="without" href="#">Санкт-Петербург</a>
						<? }?>
					<? } ?>
				</li>
				<li>
					<? if ($id_type==1) {?>
						<? if ($sch_in_omsk > 0) {?>
							<a href="/timetable/index.html?city=omsk<? if (isset($_GET['type'])) {?>&type=<?=$_GET['type']?><? }?>" class="<?if ($id_city==5742){?>selected<? } ?>">Омск (<?=$sch_in_omsk?>)</a>
						<? } else {?>
						    <a class="without" href="#">Омск</a>
						<? }?>
					<? } ?>
					<? if ($id_type==2) {?>
						<? if ($res_in_omsk > 0) {?>
							<a href="/timetable/index.html?city=omsk<? if (isset($_GET['type'])) {?>&type=<?=$_GET['type']?><? }?>" class="<?if ($id_city==5742){?>selected<? } ?>">Омск (<?=$res_in_omsk?>)</a>
						<? } else {?>
						    <a class="without" href="#">Омск</a>
						<? }?>
					<? } ?>
				</li>
				<li>
					<? if ($id_type==1) {?>
						<? if ($sch_in_kiev > 0) {?>
							<a href="/timetable/index.html?city=kiev<? if (isset($_GET['type'])) {?>&type=<?=$_GET['type']?><? }?>" class="<?if ($id_city==5745){?>selected<? } ?>" >Киев (<?=$sch_in_kiev?>)</a>
							<? } else {?>
							<a class="without" href="#">Киев</a>
							<? } ?>
					<? } ?>
					<? if ($id_type==2) {?>
						<? if ($res_in_kiev > 0) {?>
							<a href="/timetable/index.html?city=kiev<? if (isset($_GET['type'])) {?>&type=<?=$_GET['type']?><? }?>" class="<?if ($id_city==5745){?>selected<? } ?>" >Киев (<?=$res_in_kiev?>)</a>
							<? } else {?>
							<a class="without" href="#">Киев</a>
							<? } ?>
					<? } ?>
				</li>
				<li>
					<? if ($id_type==1) {?>
						<? if ($sch_in_odessa > 0) {?>
							<a href="/timetable/index.html?city=odessa<? if (isset($_GET['type'])) {?>&type=<?=$_GET['type']?><? }?>" class="<?if ($id_city==5746){?>selected<? } ?>">Одесса (<?=$sch_in_odessa?>)</a>
							<? } else {?>
							<a class="without" href="#">Одесса</a>
							<? }?>
					<? } ?>
					<? if ($id_type==2) {?>
						<? if ($res_in_odessa > 0) {?>
							<a href="/timetable/index.html?city=odessa<? if (isset($_GET['type'])) {?>&type=<?=$_GET['type']?><? }?>" class="<?if ($id_city==5746){?>selected<? } ?>">Одесса (<?=$res_in_odessa?>)</a>
							<? } else {?>
							<a class="without" href="#">Одесса</a>
							<? }?>
					<? } ?>
				</li>
				<li>
					<? if ($id_type==1) {?>
						<? if ($sch_in_dnepr > 0) {?>
							<a href="/timetable/index.html?city=dnepr<? if (isset($_GET['type'])) {?>&type=<?=$_GET['type']?><? }?>"  class="<?if ($id_city==5747){?>selected<? } ?>">Днепропетровск (<?=$sch_in_dnepr?>)</a>
						<? } else {?>
							<a class="without" href="#">Днепропетровск</a>
						<? }?>
					<? } ?>
					<? if ($id_type==2) {?>
						<? if ($res_in_dnepr > 0) {?>
							<a href="/timetable/index.html?city=dnepr<? if (isset($_GET['type'])) {?>&type=<?=$_GET['type']?><? }?>"  class="<?if ($id_city==5747){?>selected<? } ?>">Днепропетровск (<?=$res_in_dnepr?>)</a>
						<? } else {?>
							<a class="without" href="#">Днепропетровск</a>
						<? }?>
					<? } ?>
				</li>
				<? } ?>
			</ul>
		</div>