<div class="footer">

<div id="search">
<h2>Search</h2>
<form name="searchForm" action="/search.html" method="get">
<input name="q" class="searchinput" value="Search" onfocus="if(this.value=='Search') this.value=''" onblur="if(this.value=='') this.value='Search'" type="text" />
<input style="border: 0pt none ;" src="/images/search_button.gif" alt="Search" type="image"  />
</form>
</div>

<h2>Contacts</h2>
<a href="/rss/iblock_rss_16.xml">RSS</a><a href="/contact.html">Contact us</a><a href="/about/locations.html">Global locations</a><a href="/legal.html">Legal</a><a href="/sitemap.html">Site map</a>
<a href="/bugs/forma.html?current_url=<?=$_SERVER[REQUEST_URI]?>&keepThis=true&TB_iframe=true&height=460&width=550" title="Добавить замечание по странице" class="thickbox red">Bug!</a>
</div>