		<h2 class="industries">Industries We Serve</h2>
	            <ul>
	  			  <li><a href="/industries/aerospace.html">Aerospace</a></li>
	              <li><a href="/industries/automotive.html">Automotive &amp; Transport</a></li>
	              <li><a href="/industries/finance.html">Banking &amp; Finance</a></li>
				  <li><a href="/industries/software.html">Computer Software</a></li>
	              <li><a href="/industries/education.html">Education</a></li>
			  	  <li><a href="/industries/industrial.html">Industrial Manufacturing</a></li>
	              <li><a href="/industries/energy.html">Energy &amp; Utilities</a></li>
	              <li><a href="/industries/media.html">Media</a></li>
	              <li><a href="/industries/telecom.html">Telecommunications</a></li>
	            </ul>
			<br />
	            <h2 class="services">Our Services</h2>
	             <ul>
	              <li><a href="/services/standard.html">Standard services</a></li>
	              <li><a href="/services/premium.html">Premium services</a></li>
	              <li><a href="/services/premium.html">Fundamentals</a></li>
	            </ul>
