.absolute-main-page-block {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    background: linear-gradient(90deg, #2F6298 0%, #438DB0 100%);
    padding: 24px 24px 24px 56px;
}

.main-page-banner-block .container.absolute-main-page-container{
    max-width: 1680px;
    padding: 0;
    margin-top: 100px;
}

.absolute-main-page-block span {
    color: var(--white);
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
}

.absolute-main-page-block .absolute-main-page-btn {
    border: 1px solid var(--white);
    padding: 32px 40px;
    background-color: transparent;
    font-size: 24px;
    line-height: 33px;
    color: var(--white);
    min-width: 250px;
    max-width: 250px;
    white-space: nowrap;
}

@media (max-width: 1180px) {
    .main-page-banner-block .container.absolute-main-page-container{
        margin: 0;
    }
    .container.absolute-main-page-container {
        position: unset;
        padding: 0;
    }

    .absolute-main-page-container .absolute-main-page-block {
        flex-direction: column;
        gap: 24px;
        padding: 24px 16px 32px;
    }

    .absolute-main-page-container .absolute-main-page-block span {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }

    .absolute-main-page-container .absolute-main-page-block a {
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding: 16px 40px;
        font-size: 16px;
        line-height: 20px;
    }
}
