div.photo-popup, div.photo-window-edit {
	background-color:white; 
	padding:0px; 
	margin:0px;
	border: 1px solid gray; 
	width:350px; 
	height:350px; 
	overflow:hidden; 
	text-align:center; 
	color:black;}
div.photo-popup{
	width:352px; 
	height:352px;}
div.photo-window-edit{
	border:none;}
div.photo-window-edit table {
	width:100%; 
	height:350px; 
	border:none;}
div.photo-window-edit table td.table-body {
	text-align:left;
	vertical-align:top;
	height:300px;
	padding:5px 10px;}
div.photo-window-edit table td.table-controls {
	text-align:center;
	vertical-align:middle;
	padding:2px;
	height:50px!important;}
div.photo-window-edit table td.table-controls input{
	margin:0px 7px;}
div.photo-window-edit div.inner {
	height:290px; 
	overflow:auto; 
	border:none; 
	text-align:left;
	position:relative;
	width:330px;}
div.photo-window-edit div.photo-album-head{
	margin:5px 0px;
	width:90%;}
div.photo-window-edit div.photo-album-head input,
div.photo-window-edit div.photo-album-head textarea {width:100%;}
div.photo-window-edit div.active input, div.photo-window-edit div.date input,
div.photo-window-edit div.password input {width:auto;}
div.photo-window-edit div.photo-photos{float:left; margin:5px 0px; width:100%;}
div.photo-window-edit div.photo-photo {position:relative;float:left;padding:0px;margin:0px 10px 10px 0px; border:none;}
div.photo-window-edit div.photo-photo input {position:absolute; z-index:1000; top:0px; left:0px;}
div.photo-window-edit div.photo-photo img {border:1px solid #BBBBBB; cursor:pointer; cursor: hand;}
input.search-tags{}
div.search-popup{border: 1px solid #333333;background: #FFFFFF;padding: 2px;margin: 0px;}
div.search-popup-row, div.search-popup-row-active{position: relative; padding: 2px 4px;margin : 0px;cursor: hand;cursor: pointer;}
div.search-popup-row{background:#FFFFFF;}
div.search-popup-row-active{background:#EEEEEE;}
div.search-popup-el-name, div.search-popup-el-cnt{position: relative; margin:0px;padding:0px;}
div.search-popup-el-cnt{text-align:right; float:right;}


/* Voting */
div.star-active{	
	cursor: pointer!important;}
div.star-empty{
	background-image: url(images/empty.gif)!important;
	width:15px!important;
	height:15px!important;
	overflow:hidden!important;}
div.star-voted{
	background-image: url(images/voted.gif)!important;
	width:15px!important;
	height:15px!important;
	overflow:hidden!important;}
div.star-over{
	background-image: url(images/over.gif)!important;
	width:15px!important;
	height:15px!important;
	overflow:hidden!important;}
div.iblock-vote div.wait_vote {
	padding: 0px 15px!important;}
/* /Voting */

.hand{cursor:pointer;cursor:hand;}
.nonactive {color: red;}
div.empty-clear{clear:both; width:100%; overflow:hidden; height:1px!important;}
div.tags-cloud{margin:0px 0px 20px 0px;}
div.tags-cloud a {margin:0px 5px 0px 0px;}
div.photo-head{padding:10px;}

/* Detail List */
div#photo_filter_sort, div#photo_filter_calendar{
	margin-bottom:15px;}
/* /Detail List */
/* Style */ 
div.photo-controls {
	margin:7px 0px; 
	clear:both; 
	width:100%;
	height:20px!important;}

div.photo-controls span.empty, div.photo-controls div.empty {
	display: block;
	height:20px; 
	width:10px; 
	background-image: url('images/bullet.gif');
	background-position:center 50%;
	background-repeat: no-repeat;}
div.only-on-main span.empty{
	position:relative;
	left:-7px;}
div.only-on-main a {
	margin-right:15px;}
div.photo-controls div, div.photo-controls span, div.photo-controls a {
	float:left;}
div.photo-view 	a.active{
	font-weight:bold;}
div.photo-album-controls{
	height:auto!important;}
div.photo-album-controls a{
	float:none!important;}
div.photo-view 	span.sights{
	display: block;
	height:20px; 
	padding-left:15px;
	margin-left:20px;
	background-image: url('images/components/thumbs.gif');
	background-position:left center;
	background-repeat: no-repeat;}
	
/* Actions */
div.photo-controls a.photo-action{
	display: block;
	height:20px; 
	padding-left:20px;
	background-image: url('images/components/temp.gif');
	background-position:left center;
	background-repeat: no-repeat;}
	
div.photo-view a.slide-show, div.photo-view a.original{
	display: block;
	height:20px; 
	padding-left:15px;
	background-image: url('images/components/temp.gif');
	background-position:left center;
	background-repeat: no-repeat;}

div.photo-controls a.back-to-album{
	background-image: url('images/components/back.gif');
	background-position:left 42%;}
div.photo-controls a.edit{
	background-image: url('images/components/ph_edit.gif');}
div.photo-controls a.go-to-view{
	background-image: url('images/components/ph_view.gif');}
div.photo-controls a.go-to-edit{
	background-image: url('images/components/ph_edit.gif');}
div.photo-controls a.delete{
	background-image: url('images/components/ph_del.gif');}
div.photo-controls a.photo-upload, div.photo-controls a#ControlsAppletForm{
	background-image: url('images/components/ph_new.gif');}
div.photo-album-controls a.album-new{
	background-image: url('images/components/ph_new.gif');}
div.photo-controls a.slide-show{
	background-image: url('images/components/ph_slide_show.gif');
	padding-left:20px;}
div.photo-controls a.original{
	background-image: url('images/components/ph_original.gif');
	padding-left:20px;}
div.photo-album-controls a.album-edit{
	background-image: url('images/components/alb_edit.gif');}
div.photo-album-controls a.album-edit-icon{
	background-image: url('images/components/alb_edit_icon.gif');}
div.photo-album-controls a.album-delete{
	background-image: url('images/components/alb_drop.gif');}
div.photo-controls a.new-album{
	background-image: url('images/components/alb_new.gif');}
/* /Actions */
/* /Style */ 