.banner-main-page img{
  max-width: 100% !important;
  width: 100%;
  height: auto;
  padding-bottom: 24px;
}

.top-page-banner.section-page .container .banner-content {
    max-width: 100%;
}

.courses-section-block.container {
    max-width: 1920px;
    padding: 80px 40px 180px;
    display: flex;
    gap: 24px;
}

.top-page-banner.section-page .container:before,
.top-page-banner.section-page .container:after,
.open-filter-mobile-btn,
.courses-section-block.container:before,
.courses-section-block.container:after {
    display: none !important;
}

.courses-section-block .filter-course-block {
    width: 442px;
    max-width: 442px;
    min-width: 442px;
}

.discount-courses-block.container .more-elem .slick-arrow {
    right: 2px !important;
    bottom: 30% !important;
}

.discount-courses-block.container .more-elem .slick-arrow.slick-prev {
    top: 30% !important;
}

@media (max-width: 1180px) {
    .open-filter-mobile-btn {
        display: block !important;
        width: 100% !important;
        text-align: center !important;
        padding: 8px 40px !important;
        margin-top: 20px;
        cursor: pointer;
    }

    .top-page-banner.section-page {
        padding: 16px 16px 32px 16px;
    }
}