#sites_choice,
#search,
#breadcrumb,
.learn_more,
#up_menu, 
#left_menu,
.topline,
#insert,
#stylized,
p.timetable_sort,
form,
#footer {
    display: none;
}
.floated_right {
	display: none;
}
#title {
	margin: 0 0px 10px 0;
	padding: 10px 10px 10px 0px;
	background-color:#fff;
}
#title h1 {
	font-weight: normal;
	color: #000000;
	font-size: 160%;
}
#content div.headline_image a {
color:#000000;
}
#content div.headline_image,
#content div.headline_image h2,
div.headline_image p,
div.headline_image ul,
div.headline_image span{
color:#000000;
}
div.headline_image {
margin:0px 0px 20px 0px;
padding:0;
background:none repeat scroll 0 0 transparent;
}
#column2 {
padding:10px 0 0 0px;
width:715px;
}
#container {
	width:725px;
}
#header {
width:715px;
}
#content {
padding:0 0 0 10px;
width:745px;
}
#logo {
padding:12px 0 0 10px;
float: right;
}
#showcalendar table.edu .edu_header {
background-color:#fff;
}
table.edu .edu_header p {
color:#000000;
font-weight:bold;
}
.print-padding {
	display: block;
	padding:15px 0 1px 0;
	
}
.print-padding a{

display:inline;border-bottom:1px dashed;
text-decoration:none;
}
.print-padding div {
	margin-bottom: 5px;
}
#print_link_back {display:inline;border-bottom:1px dashed;
text-decoration:none;}
.block_border h2.abs {
    display: none;
} 
a.tobasket,a.ical_img {
    display: none;
}