.jq-radio {
	vertical-align: middle;
	width: 14px;
	height: 16px;
	background: url(images/radio.png) no-repeat;
	cursor: pointer;
}
.jq-radio.checked {
  background-position: -14px 0;
}
.jq-radio.disabled {
  background-position: 0 -16px;
}
.jq-radio.checked.disabled {
  background-position: -14px -16px;
}
.jq-radio.focused {
  background-position: 0 -32px;
}
.jq-radio.checked.focused {
  background-position: -14px -32px;
}