/*

	SearchField
	by Alen Grakalic, brought to you by cssglobe.com

*/
.but{
	border:1px solid #AACFE4;
	font-size:12px;
	margin:2px 0pt 20px 10px;
	padding:3px 2px;
}
/* default (inactive field) */
.sf_inactive{

	border:1px solid #AACFE4;
	float:left;
	font-size:12px;
	margin:2px 0pt 20px 0px;
	padding:4px 2px;

}
/* on focus (when field is clicked on)  */
.sf_active{
	border:1px solid #AACFE4;
	float:left;
	font-size:12px;
	margin:2px 0pt 20px 0px;
	padding:4px 2px;
}
/* with text (when field is inactive but contains user's input)  */
.sf_text{
	border:1px solid #AACFE4;
	float:left;
	font-size:12px;
	margin:2px 0pt 20px 0px;
	padding:4px 2px;
}

/* suggestions box */
/* js code generates unordered list */
.sf_suggestion{
	position:relative;
	top:-20px;

}
.sf_suggestion ul{
	position:absolute;
	margin:0;
	padding:0;
	background:#F0F4FE;
	top:0;
	left:-20px;
}
.sf_suggestion li{
	margin:0;
	padding:0px 0px 0px 2px;
	list-style:none;
}
.sf_suggestion li a{
	display:block;
	text-indent:5px;
	color:#000;
}
.sf_suggestion li.selected a{
	background:#22396D;
    color: #FFFFFF;
}