@use "../../variables" as *;
@use "banner";
@use "menu-and-offer";
@use "content";
@use "accordion";
@use "schedules";
@use "trainers";
@use "reviews";
@use "others";
@use "recomendations";
@use "teasers";
@use "bonus";

%course-section {
  padding: 40px 0;
}

%course-section__header {
  margin-bottom: 24px;
}

%course-section__title {
  font-size: 36px;
  line-height: 1.163;
}

.course-detail {
  background-color: #f4f4f5;
  &__banner,
  &__menu-and-offer,
  &__schedule,
  &__trainers,
  &__reviews,
  &__others,
  &__recommendations,
  &__teasers,
  &__bonus {

  }

  &__container {
    position: relative;
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 318px;
  }
  &__banner {

  }
  &__menu-and-offer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  &__menu-and-offer &__container {
    padding-bottom: 0;
  }
  &__menu {
    padding: 16px 0;
    position: relative;
    z-index: 9;
  }
  &__page-offer {
    display: none;
    position: relative;
    z-index: 9;
  }
  &__offer {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    margin-top: 0;
    //transform: translateY(-50%);
    //transition: all 0.3s;
  }
  &__content {

  }
  &__offer {

  }
  &__schedule {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/course/detail/banners/other.jpg");
    &_agile {
      background-image: url("images/course/detail/banners/agile.jpg");
    }
    &_analytics {
      background-image: url("images/course/detail/banners/analytics.jpg");
    }
    &_architecture {
      background-image: url("images/course/detail/banners/architecture.jpg");
    }
    &_automotiv {
      background-image: url("images/course/detail/banners/automotiv.jpg");
    }
    &_data-sience {
      background-image: url("images/course/detail/banners/data-sience.jpg");
    }
    &_design {
      background-image: url("images/course/detail/banners/design.jpg");
    }
    &_devops {
      background-image: url("images/course/detail/banners/devops.jpg");
    }
    &_finance {
      background-image: url("images/course/detail/banners/finance.jpg");
    }
    &_management {
      background-image: url("images/course/detail/banners/management.jpg");
    }
    &_programming {
      background-image: url("images/course/detail/banners/programming.jpg");
    }
    &_security {
      background-image: url("images/course/detail/banners/security.jpg");
    }
    &_soft-skills {
      background-image: url("images/course/detail/banners/soft-skills.jpg");
    }
    &_telecommunications {
      background-image: url("images/course/detail/banners/telecommunications.jpg");
    }
    &_testing {
      background-image: url("images/course/detail/banners/testing.jpg");
    }
  }
  &__trainers {
    background: #ffffff;
  }
  &__reviews {
    @extend %course-section;
    background: #e9e9eb;
  }
  &__others {

  }
  &__recommendations {
    @extend %course-section;
    background-image: url("images/course/detail/courses.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__teasers {
    @extend %course-section;
    background-color: #0F427D;
  }
  &__bonus {
    @extend %course-section;
  }
}

@media (max-width: 1279px) {
  .course-detail {
    &__offer {
      right: 15px;
    }
    &__container {
      max-width: 100%;
      padding-left: 30px;
      padding-right: 320px;
    }
  }
}
@media (max-width: 889px) {
  .course-detail {
    &__page-offer {
      display: flex;
      margin: -80px 40px -100px;
    }
    &__offer {
      display: none;
    }
    &__menu-and-offer {
      z-index: 0;
      &.fixed {
        z-index: 99;
      }
    }
    &__container {
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
