.course-recommendations {
  &__header {
    padding: 40px 0;
    margin-bottom: 24px;
  }
  &__title {
    font-size: 36px;
    line-height: 1.163;
  }
  & > ul,
  & > ol,
  &__main {

  }
  & > ul > li,
  & > ol > li,
  &__item {
    position: relative;
    font-size: 16px;
    line-height: 150%;
    color: #262626;
    margin-bottom: 1em;
    padding-left: 40px;

    &:before {
      content: '';
      display: block;
      width: 22px;
      height: 24px;
      position: absolute;
      top: 0;
      left: 0;

      background-image: url("images/course/detail/icons/recommendations.svg");
      background-position: left center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__footer {

  }
}
.course-recommendation {

}