.course-teasers {
  padding: 20px 0;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

    margin-bottom: 34px;
  }
  &__title {
    font-size: 36px;
    line-height: 1.163;
    color: #ffffff;
  }
  &__main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 -10px;
  }
}
.course-teaser {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px;
  &__view {
    margin-bottom: 20px;
  }
  &__icon {}

  &__content {
    color: #fff;
  }
  &__title {
    font-size: 18px;
    line-height: 1.50;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__description {
    font-size: 14px;
    line-height: 1.50;
    font-weight: 400;
  }
}
@media (max-width: 1023px) {
  .course-teasers {
      &__main {
        flex-direction: column;
      }
  }

  .course-teaser {
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 20px;
    &__view {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-width: 115px;
    }
    &__content {

    }
    &__title {

    }
  }
}