.stack_role-h2{
    font-size: 64px;
    line-height: 78px;
    margin-bottom: 56px;
    letter-spacing: -0.8px;
}

.stack_role-desc{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0;
}

.stack_role-desc + .stack_role-desc{
    margin-top: 24px;
}

.stack_role-title-block{
    padding: 100px 0;
    border-top: 1px solid #B2B2B2;
}

.stack_role-block{
    display: flex;
}

.stack_role-block-wrap{
    padding: 100px 0 120px;
    background-color: var(--light-gray);
}

.stack_role-item{
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 402px;
    min-height: 554px;
    margin: 0 12px;
}

.stack_role-item:first-child{
    margin-left: 0;
}

.stack_role-item:last-child{
    margin-right: 0;
}

.stack_role-item-name{
    min-height: 152px;
    padding: 32px 24px;
    text-align: center;
    background-color: var(--gray);
}

.stack_role-item-name,
.stack_role-item-hover .stack_role-item-name{
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
}

.stack_role-item-img{
    max-height: 402px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--gray);
}

.stack_role-item-hover{
    opacity: 0;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.stack_role-item-hover div{
    position: relative;
    z-index: 2;
}

.stack_role-item-hover:before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #254685D9;
    z-index: 1;
    backdrop-filter: blur(15px);
}

.stack_role-item:hover .stack_role-item-hover{
    opacity: 1;
    position: absolute;
    z-index: 1;
    background-color: #254685D9;
    backdrop-filter: blur(15px);
    padding-bottom: 32px;
    top: 0;
}

.stack_role-item:hover .stack_role-item-img{
    max-height: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
}

.stack_role-item-hover .stack_role-item-name{
    color: var(--white);
    background-color: transparent;
}

.stack_role-item-text{
    padding: 0 24px 0px;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    line-clamp: 11;
    box-orient: vertical;
    margin-bottom: 16px;
    font-family: 'Stag Sans', sans-serif;
}

.stack_role-item-link{
    margin-top: auto;
    padding: 0 24px ;
}

.stack_role-item-link a{
    background-color: var(--white);
    width: 100%;
    display: block;
    text-align: center;
    color: #2B418B;
    line-height: 54px;
    cursor: pointer;
}

@media (max-width: 1180px) {
    .slick-slide.stack_role-item{
        width: auto;
        max-width: none;
        margin: 0;
        margin: 0 12px;
        min-height: auto;
        min-height: 472px;
    }

    .stack_role-block-wrap .slick-list{
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: 24px;
    }

    .stack_role-item:last-child{
        padding-right: 0;
    }

    .stack_role-item-img{
        height: 360px;
    }

    .stack_role-h2{
        font-size: 22px;
        line-height: 1.4;
        margin-bottom: 24px;
        letter-spacing: 0px;
    }

    .stack_role-title-block{
        padding: 40px 0;
    }

    .stack_role-block-wrap{
        padding: 0;
        background-color: transparent;
    }

    .stack_role-item-name,
    .stack_role-item-hover .stack_role-item-name{
        min-height: unset;
        font-size: 24px;
        line-height: 32px;
        min-height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stack_role-block-wrap .slick-dots{
        position: static;
        margin-top: 50px;
    }

    .stack_role-block-wrap .slick-dots li button:before{
        display: none;
    }

    .stack_role-block-wrap .slick-dots li{
        width: 14px;
        height: 14px;
        border-radius: 14px;
        background-color: #B2B2B2;
        margin: 0 4.5px;
    }

    .stack_role-block-wrap  .slick-dots li button{
        width: 14px;
        height: 14px;
        padding: 0;
    }

    .stack_role-block-wrap .slick-dots li.slick-active{
        background-color: #0827C4;
    }

    .stack_role-block-wrap .slick-dotted.slick-slider{
        margin-bottom: 0;
        padding-bottom: 9.5px;
    }

    .stack_role-block-wrap .slick-arrow{
        background: url(images/arrow.png)no-repeat center center;
        bottom: 0;
        top: auto;
        transform: rotate(180deg);
        margin-top: 0;
        width: 45px;
        height: 33px;
    }

    .stack_role-block-wrap .slick-arrow:hover,
    .stack_role-block-wrap .slick-arrow:focus{
        background: url(images/arrow.png)no-repeat center center;
    }

    .stack_role-block-wrap .slick-arrow.slick-prev{
        left: 16px;
    }

    .stack_role-block-wrap .slick-arrow.slick-next{
        right: 16px;
        transform: rotate(360deg);
    }

    .stack_role-item-text{
        font-weight: 300;
    }
}
@media (max-width: 600px) {
    .stack_role-block-wrap .container{
        padding-left: 0;
        padding-right: 0;
    }
}