.talent-section h1,
.talent-section h2,
.talent-section h3,
.talent-section h4,
.talent-section h5,
.talent-section h6,
.talent-section div,
.talent-section p,
.talent-section span {
    font-family: "Noto Sans";
}

.talent-section h2 {
    color: var(--black);
    font-weight: 400!important;
    font-size: 56px;
    line-height: 72px;
    margin: 0;
}

.talent-section h3 {
    color: var(--black);
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    margin: 0;
}

.talent-section p {
    margin: 0;
}

.talent-section .margin-bottom56 {
    margin-bottom: 56px;
}

.talent-section .margin-bottom48 {
    margin-bottom: 48px;
}

.talent-section .margin-bottom32 {
    margin-bottom: 32px;
}

.talent-section .grid-talent-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 56px;
}

.talent-content {
    padding: 50px 0 100px;
}

.talent-grid-block:not(.talent-content) {
    display: grid;
    grid-template-columns: 596px 1fr;
    gap: 56px;
}

.talent-section .grid-talent-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px;
}

.talent-team .talent-grid-block > div:first-child .btn-main {
    margin-top: auto;
}
.top-page-banner h2 {
    font-size: 56px;
    line-height: 72px;
    font-weight: 400;
    margin-top: 16px;
}

.images-icons-block {
    padding: 100px 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px;
    align-items: center;
}

.images-icons-block .item {
    display: flex;
    flex-direction: column;
}

.images-icons-block .item .icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 72px;
    height: 72px;
    margin-bottom: 16px;
}

.images-icons-block .item p {
    margin: 0;
}

.images-icons-block .item p + p{
    margin-top: 16px;
}

.talent-section .grid-talent-4 > div h2 {
    margin-bottom: 6px;
}

.talent-team > .trainer-modal {
    display: none;
}

.talent-grid-block h2{
    margin-bottom: 56px;
}

.talent-team > h2 {
    max-width: 958px;
    width: 100%;
}

.talent-team .team-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.talent-team .team-tags li {
    padding: 8px 16px;
    background-color: var(--gray);
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: var(--black);
}

.talent-team .talent-grid-2 .item {
    display: flex;
    align-items: start;
    gap: 24px;
}

.talent-team .talent-grid-2 .item svg {
    min-width: 44px;
    max-width: 44px;
    min-height: 44px;
    max-height: 44px;
}

.talent-come .talent-come-icon {
    max-width: 72px;
    min-width: 72px;
    min-height: 72px;
    max-height: 72px;
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
}

.talent-come .talent-content {
    padding: 100px 0;
    display: flex;
}

.talent-come .talent-content h2{
    max-width: 595px;
    width: 100%;
    margin-right: 56px; 
}

.talent-come .talent-content .grid-talent{
    display: grid;
    gap: 56px;
    grid-template-columns: repeat(2, 1fr);
}

.talent-come .talent-content .item:nth-child(1){
    grid-column: 1/-1;
}

.talent-get {
    background: linear-gradient(90deg, #2F6298 0%, #438DB0 100%);
    overflow: hidden;
}

.talent-get p{
    font-weight: 300!important;
    line-height: 32px;
    color: var(--white);
    letter-spacing: 0.3px;
}

.talent-get h2 {
    margin-right: 56px;
    max-width: 595px;
    width: 100%;
    color: var(--white);
    font-weight: 300!important;
    letter-spacing: 1.7px;
}

.talent-get .talent-grid-block{
    display: flex;
    padding: 100px 0 120px;
}

.talent-get .get-grid-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 88px;
    column-gap: 32px;
    max-width: 1029px;
}

.talent-get .get-grid-block svg{
    margin-bottom: 19px;
    max-width: 44px;
    width: 100%;
    height: 44px;
}

.out-client.talent-content{
    padding: 100px 0 120px;
}

.our-client-slider h3 {
    display: none;
}

.our-client-slider .container.our-clients-block {
    margin-bottom: 0;
}

.start-work .container > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;
}

.start-work .container > ul li::marker {
    display: none;
}

.start-work .container > ul li {
    display: flex;
    align-items: start;
    gap: 16px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: var(--black);
}

.start-work .container > ul li:before {
    content: '';
    display: block;
    min-width: 21px;
    max-width: 21px;
    min-height: 1px;
    max-height: 1px;
    background-color: var(--black);
    margin-top: 16px;
}

.start-work .talent-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;
}

.start-work .talent-grid-2 > div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.start-work .talent-grid-2 > div svg {
    max-width: 72px;
    min-width: 72px;
    max-height: 72px;
    min-height: 72px;
}

.start-work .talent-flex-2 {
    display: flex;
    align-items: center;
    gap: 56px;
}

.start-work .talent-flex-2 p {
    max-width: 373px;
    width: 100%;
}

.talent-content.telegram {
    padding: 120px 0;
}

.talent-content.telegram .subscribe-main-page-block {
    padding-bottom: 0 !important;
}

.talent-section .talent-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;
}

.talent-team .talent-grid-block {
    align-items: stretch;
}

.talent-team .talent-grid-block > div:first-child {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1360px) {
    .talent-team > .trainer-modal {
        display: block;
        margin-top: 56px;
    }

    .talent-team .talent-grid-block {
        grid-template-columns: 1fr;
    }

    .talent-team .talent-grid-block .trainer-modal {
        display: none;
    }
}

@media (max-width: 1280px) {
    .top-page-banner h2 {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 0;
    }

    .talent-grid-block:not(.talent-content) {
        gap: 24px;
    }

    .top-page-banner .container .banner-content p {
        margin-top: 16px !important;
        font-size: 20px !important;
        line-height: 27px !important;
    }

    .top-page-banner .container .buttons-block-banner .btn-main.size-l {
        padding: 15px 32px;
    }

    .top-page-banner .container .buttons-block-banner .btn-main.size-l span {
        font-size: 16px;
        line-height: 24px;
    }

    .images-icons-block .item{
        padding-left: 44px;
        position: relative;
    }

    .images-icons-block {
        padding: 40px 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .images-icons-block .item .icon-block {
        max-width: 32px;
        position: absolute;
        align-items: flex-start;
        left: 0;
        top: 0;
        margin-bottom: 0;
    }

    .images-icons-block .item .icon-block svg{
        height: 32px;
        width: 100%;
    }

    .images-icons-block .item p + p{
        margin-top: 8px;
    }

    .talent-grid-block h2{
        margin-bottom: 24px;
    }

    .talent-section .grid-talent-4 p br{
        display: none;
    }

    .talent-section h2 {
        font-size: 24px;
        line-height: 33px;
    }

    .talent-section .grid-talent-3 > div h2 {
        margin-bottom: 6px;
    }

    .talent-section .grid-talent-3 {
        gap: 16px;
    }

    .talent-content,
    .out-client.talent-content,
    .talent-come .talent-content,
    .talent-content.telegram {
        padding: 40px 0;
    }

    .talent-section .margin-bottom56 {
        margin-bottom: 24px;
    }

    .talent-team .team-tags li {
        font-size: 16px;
        line-height: 22px;
    }

    .talent-section h3 {
        font-size: 20px;
        line-height: 28px;
    }

    .btn-main.size-l.trainer-modal {
        padding: 15px 32px;
    }

    .btn-main.size-l.trainer-modal span {
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
    }

    .talent-team .talent-grid-2 .item svg {
        min-width: 27px;
        max-width: 27px;
        min-height: 27px;
        max-height: 27px;
    }

    .talent-team > .trainer-modal {
        margin-top: 24px;
    }

    .talent-section .talent-come .grid-talent-3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .talent-section .talent-come .grid-talent-3 .item {
        display: flex;
        align-items: start;
        gap: 24px;
    }

    .talent-come svg {
        max-width: 32px;
        min-width: 32px;
        min-height: 32px;
        max-height: 32px;
        margin-bottom: 0;
    }

    .talent-get .talent-grid-block{
        padding: 40px 0;
        display: block;
    }

    .talent-get .get-grid-block{
        gap: 24px;
    }

    .talent-get .get-grid-block .item {
        display: flex;
        align-items: start;
    }

    .talent-get .get-grid-block .item p {
        margin-left: 16px;
        line-height: 20px;
    }

    .talent-get .get-grid-block svg{
        max-width: 20px;
        height: 20px;
        margin-bottom: 0;
    }

    .start-work .container > ul,
    .start-work .talent-grid-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .start-work .container > ul li {
        font-size: 16px;
        line-height: 22px;
    }

    .start-work .talent-grid-2 > div svg {
        max-width: 36px;
        min-width: 36px;
        max-height: 36px;
        min-height: 36px;
    }

    .out-client.talent-content h2,
    .out-client.talent-content p{
        margin-bottom: 16px;
    }

    .talent-come h2{
        margin-bottom: 24px;
    }

    .talent-come h2 br{
        display: none;
    }

    .talent-come .talent-content{
        display: block;
    }

    .talent-come .talent-come-icon{
        max-width: 32px;
        min-width: 32px;
        min-height: 32px;
        max-height: 32px;
        align-items: flex-start;
        margin-right: 12px;
    }

    .talent-come .talent-come-icon svg{
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .talent-section .grid-talent-4{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .talent-come .talent-content .grid-talent{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .talent-come .talent-content .item:nth-child(1) {
        grid-column: 1;
    }

    .talent-come .talent-come-icon{
        margin-bottom: 0;
    }

    .talent-come .talent-content .item{
        display: flex;
        align-items: flex-start;
    }

    .talent-come .talent-content h2 br{
        display: block;
    }
}

@media (max-width: 480px) {
    .start-work .talent-flex-2 {
        flex-direction: column;
        gap: 24px;
        align-items: start;
    }

    .talent-section .grid-talent-4{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .talent-section .talent-grid-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .talent-section .grid-talent-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}