.talent-section h1,
.talent-section h2,
.talent-section h3,
.talent-section h4,
.talent-section h5,
.talent-section h6,
.talent-section div,
.talent-section p,
.talent-section span {
    font-family: "Noto Sans";
}

.talent-section h2 {
    color: var(--black);
    font-weight: 400;
    font-size: 56px;
    line-height: 72px;
    margin: 0;
}

.talent-section h3 {
    color: var(--black);
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    margin: 0;
}

.talent-section p {
    margin: 0;
}

.talent-section .margin-bottom56 {
    margin-bottom: 56px;
}

.talent-section .margin-bottom48 {
    margin-bottom: 48px;
}

.talent-section .margin-bottom32 {
    margin-bottom: 32px;
}

.talent-section .grid-talent-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 56px;
}

.talent-content {
    padding: 50px 0 100px;
}

.talent-grid-block:not(.talent-content) {
    display: grid;
    grid-template-columns: 596px 1fr;
    gap: 56px;
}

.talent-section .grid-talent-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px;
}

.talent-team .talent-grid-block > div:first-child .btn-main {
    margin-top: auto;
}
.top-page-banner h2 {
    font-size: 56px;
    line-height: 72px;
    font-weight: 400;
    margin-top: 16px;
}

.images-icons-block {
    padding: 100px 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px;
    align-items: center;
}

.images-icons-block .item {
    display: flex;
    flex-direction: column;
}

.images-icons-block .item .icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 72px;
    height: 72px;
    margin-bottom: 16px;
}

.images-icons-block .item p {
    margin: 0;
}

.images-icons-block .item p + p{
    margin-top: 16px;
}

.talent-section .grid-talent-4 > div h2 {
    margin-bottom: 6px;
}

.talent-team > .trainer-modal {
    display: none;
}

.talent-grid-block h2{
    margin-bottom: 56px;
}

.talent-team > h2 {
    max-width: 958px;
    width: 100%;
}

.talent-team .team-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.talent-team .team-tags li {
    padding: 8px 16px;
    background-color: var(--gray);
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: var(--black);
}

.talent-team .talent-grid-2 .item {
    display: flex;
    align-items: start;
    gap: 24px;
}

.talent-team .talent-grid-2 .item svg {
    min-width: 44px;
    max-width: 44px;
    min-height: 44px;
    max-height: 44px;
}

.talent-come svg {
    max-width: 72px;
    min-width: 72px;
    min-height: 72px;
    max-height: 72px;
    display: block;
    margin-bottom: 24px;
}

.talent-come {
    background-color: var(--light-gray);
}

.talent-come .talent-content {
    padding: 120px 0;
}

.talent-get-start {
    overflow: hidden;
}

.talent-get-start.talent-content{
    padding-top: 100px;
}

.talent-get-start .talent-grid-block{
    display: flex;
    align-items: flex-start;
    gap: 0;
}

.get-start-heading{
    margin-right: 56px;
    max-width: 596px;
    width: 100%;
}

.get-start-heading h2{
   margin-bottom: 32px;
}

.get-start-heading .trainer-modal,
.get-start-grid-wrapper .trainer-modal{
    line-height: 97px;
    background-color: #2B418B;
    max-width: 268px;
    width: 100%;
    margin-top: 48px;
    text-align: center;
    display: block;
}

.get-start-heading .trainer-modal span,
.get-start-grid-wrapper .trainer-modal span{
    font-size: 24px;
    color: #FFFFFF;
}

.get-start-grid-wrapper{
    max-width: 1028px;
}

.get-start-grid-wrapper>p{
    margin-top: 80px;
}

.talent-get-start .get-start-grid-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 84px;
    column-gap: 32px;
    max-width: 100%;
}

.talent-get-start .get-start-grid-block .item h2{
    color: #2B418B;
    margin-bottom: 15px;
}

.talent-get-start .get-start-grid-block .item p{
    line-height: 31px;
}

.talent-get-start .get-start-grid-block .item .line-block {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #2B418B;
    margin: 16px 0 40px;
}

.talent-get-start .get-start-grid-block .item .line-block:before {
    content: '';
    display: block;
    min-width: 11px;
    max-width: 11px;
    min-height: 11px;
    max-height: 11px;
    border: 1.5px solid #2B418B;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    top: -5px;
}

.talent-get-start .get-start-grid-block .item .line-block:after {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background-color: #2B418B;
    position: absolute;
    left: 100%;
}

.talent-get-start .get-start-grid-block .item:last-child .line-block,
.talent-get-start .get-start-grid-block .item:last-child .line-block:after {
    background-color: #FFFFFF;
}

.talent-get-start .get-start-grid-block .item .line-block .second-line {
    background-color: #2B418B;
    width: 300%;
    position: absolute;
    height: 1px;
    display: block;
    right: 100%;
}

.get-start-grid-wrapper .trainer-modal{
    display: none;
}

.our-client-slider h3 {
    display: none;
}

.our-client-slider .container.our-clients-block {
    margin-bottom: 0;
}

.start-work .container > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;
}

.start-work .container > ul li::marker {
    display: none;
}

.start-work .container > ul li {
    display: flex;
    align-items: start;
    gap: 16px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: var(--black);
}

.start-work .container > ul li:before {
    content: '';
    display: block;
    min-width: 21px;
    max-width: 21px;
    min-height: 1px;
    max-height: 1px;
    background-color: var(--black);
    margin-top: 16px;
}

.start-work .talent-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;
}

.start-work .talent-grid-2 > div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.start-work .talent-grid-2 > div svg {
    max-width: 72px;
    min-width: 72px;
    max-height: 72px;
    min-height: 72px;
}

.start-work .talent-flex-2 {
    display: flex;
    align-items: center;
    gap: 56px;
}

.start-work .talent-flex-2 p {
    max-width: 373px;
    width: 100%;
}

.talent-content.telegram {
    padding: 120px 0;
}

.talent-content.telegram .subscribe-main-page-block {
    padding-bottom: 0 !important;
}

.talent-section .talent-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;
}

.talent-team .talent-grid-block {
    align-items: stretch;
}

.talent-team .talent-grid-block > div:first-child {
    display: flex;
    flex-direction: column;
}

.talent-experience{
    text-align: center;
    padding: 0 0 120px;
}

@media (max-width: 1430px) {
    .talent-get-start .get-start-grid-block .item .line-block .second-line {
        width: 500%;
    }
}

@media (max-width: 1360px) {
    .talent-team > .trainer-modal {
        display: block;
        margin-top: 56px;
    }

    .talent-team .talent-grid-block {
        grid-template-columns: 1fr;
    }

    .talent-team .talent-grid-block .trainer-modal {
        display: none;
    }
}

@media (max-width: 1280px) {
    .top-page-banner h2 {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 0;
    }

    .talent-grid-block:not(.talent-content) {
        gap: 24px;
    }

    .top-page-banner .container .banner-content p {
        margin-top: 16px !important;
        font-size: 20px !important;
        line-height: 27px !important;
    }

    .top-page-banner .container .buttons-block-banner .btn-main.size-l {
        padding: 15px 32px;
    }

    .top-page-banner .container .buttons-block-banner .btn-main.size-l span {
        font-size: 16px;
        line-height: 24px;
    }

    .images-icons-block .item{
        padding-left: 44px;
        position: relative;
    }

    .images-icons-block {
        padding: 40px 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .images-icons-block .item .icon-block {
        max-width: 32px;
        position: absolute;
        align-items: flex-start;
        left: 0;
        top: 0;
        margin-bottom: 0;
    }

    .images-icons-block .item .icon-block svg{
        height: 32px;
        width: 100%;
    }

    .images-icons-block .item p + p{
        margin-top: 8px;
    }

    .talent-grid-block h2{
        margin-bottom: 24px;
    }

    .talent-section .grid-talent-4 p br{
        display: none;
    }

    .talent-section h2 {
        font-size: 24px;
        line-height: 33px;
    }

    .talent-section .grid-talent-3 > div h2 {
        margin-bottom: 6px;
    }

    .talent-section .grid-talent-3 {
        gap: 16px;
    }

    .talent-content {
        padding: 40px 0;
    }

    .talent-section .margin-bottom56 {
        margin-bottom: 24px;
    }

    .talent-team .team-tags li {
        font-size: 16px;
        line-height: 22px;
    }

    .talent-section h3 {
        font-size: 20px;
        line-height: 28px;
    }

    .btn-main.size-l.trainer-modal {
        padding: 15px 32px;
    }

    .btn-main.size-l.trainer-modal span {
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
    }

    .talent-team .talent-grid-2 .item svg {
        min-width: 27px;
        max-width: 27px;
        min-height: 27px;
        max-height: 27px;
    }

    .talent-team > .trainer-modal {
        margin-top: 24px;
    }

    .talent-come .talent-content {
        padding: 40px 0;
    }

    .talent-section .talent-come .grid-talent-3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .talent-section .talent-come .grid-talent-3 .item {
        display: flex;
        align-items: start;
        gap: 24px;
    }

    .talent-come svg {
        max-width: 32px;
        min-width: 32px;
        min-height: 32px;
        max-height: 32px;
        margin-bottom: 0;
    }

    .talent-get-start .get-start-grid-block {
        grid-template-columns: repeat(1, 1fr);
        gap: 37px;
    }

    .talent-get-start .get-start-grid-block .item {
        display: flex;
        align-items: start;
        position: relative;
    }

    .talent-get-start .get-start-grid-block .item .line-block {
        margin: 0;
        height: 100%;
        width: 1px;
        margin-left: 5px;
    }

    .talent-get-start .get-start-grid-block .item .line-block::before {
        min-width:11px;
        max-width:11px;
        min-height:11px;
        max-height:11px;
        left: -4px;
        top: -2px;
    }

    .talent-get-start .get-start-grid-block .item .line-block::after {
        height: 100%;
        width: 1px;
        left: 0px;
        top: 100%;
    }

    .talent-get-start .get-start-grid-block .item .line-block .second-line {
        display: none;
    }

    .talent-get-start .get-start-grid-block .item:last-child .line-block,
    .talent-get-start .get-start-grid-block .item:last-child .line-block:after {
        width: 1px;
    }

    .talent-get-start .get-start-grid-block .item:last-child .line-block:after {
        top: 6px;
    }

    .talent-get-start .get-start-grid-block .item p {
        margin-left: 24px;
        line-height: 22px;
        padding-top: 20px;
    }

    .talent-get-start .get-start-grid-block .item h2{
        position: absolute;
        margin-bottom: 0;
        top: -14px;
        left: 31px;
    }

    .talent-get-start .talent-grid-block,
    .get-start-grid-wrapper .trainer-modal{
        display: block;
    }

    .get-start-grid-wrapper .trainer-modal{
        line-height: 54px;
        max-width: 100%;
        margin-top: 24px;
    }

    .get-start-grid-wrapper .trainer-modal span{
        font-size: 16px;
        line-height: 24px;
    }

    .get-start-heading h2 br,
    .get-start-heading .trainer-modal{
        display: none;
    }

    .get-start-heading{
        margin-right: 0;
        margin-bottom: 24px;
        max-width: 100%;
    }

    .get-start-grid-wrapper{
        max-width: 100%;
        margin-top: 35px;
    }

    .get-start-grid-wrapper>p{
        margin-top: 24px;
    }

    .talent-get-start.talent-content{
        padding-top: 40px;
    }

    .start-work .container > ul,
    .start-work .talent-grid-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .start-work .container > ul li {
        font-size: 16px;
        line-height: 22px;
    }

    .start-work .talent-grid-2 > div svg {
        max-width: 36px;
        min-width: 36px;
        max-height: 36px;
        min-height: 36px;
    }

    .talent-content.telegram {
        padding: 40px 0;
    }

    .talent-experience{
        text-align: left;
        padding: 0 0 40px; 
    }

    .talent-experience p{
        line-height: 26px;
    }

    .talent-experience br:nth-child(2){
        display: none;
    }
}

@media (max-width: 1024px) {
    .talent-section .grid-talent-4{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

@media (max-width: 480px) {
    .start-work .talent-flex-2 {
        flex-direction: column;
        gap: 24px;
        align-items: start;
    }

    .talent-section .grid-talent-4{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .talent-section .talent-grid-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .talent-section .grid-talent-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}