.not-main-page .one-big-wrap {
    padding: 12px 0;
}
.seminar {
    padding-right: 15px
}
.seminar__banner {
    display: block;
    width: 100%
}
.seminar__banner-image {
    display: block;
    max-width: 100%;
}
.seminar__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.seminar__time-date-place {
    font-size: 16px;
}
.seminar__time,
.seminar__date {
    margin-bottom: 10px;
}
.seminar__order {
    line-height: 46px;
    padding: 0 21px;
    color: #fff !important;
    background: #f17227;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    transition: all 0.3s ease-in;
}
.seminar__order:hover {
    background: #f2630e;
}

.seminar__section-title {
    font-size: 24px;
    color: #262626;
    padding-bottom: 6px;
    margin-bottom: 12px;
    margin-top: 18px;
}
.seminar__section {
    margin-bottom: 35px;
}
.seminar__section:last-of-type {
    margin-bottom: 0;
}
.seminar__section-description {

}
.seminar__section-description p {}
.seminar__section-description p:last-of-type {
    margin-bottom: 0;
}
.seminar__section-description ul {
    margin: 8px 0;
}
.seminar__section-description li {
    padding-left: 18px;
    margin-bottom: 8px;
    background: url(/static/images/ul-item.png) 0 5px no-repeat;
}

.trainer-slider-outer {
    margin-top: -12px;
    padding: 25px 340px 25px 25px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
}
.trainer-slider-outer .trainer-header {
    padding-left: 0;
}

#reccomend .rec-code {
    width: 85px;
    white-space: nowrap;
}